USE [Sodexo_RBK]
GO
/****** Object:  StoredProcedure [dbo].[sp_usuariosmant_total]    Script Date: 1/22/2024 7:21:15 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Autor: Cristian Soto
-- Creado el: 3/09/2016
-- Descripcion:  Consulta total de usuarios según cantidad de filas a mostrar
-- Ejemplo:exec sp_usuariosmant_total 'xxxx',1,10
-- =============================================
CREATE PROCEDURE [dbo].[sp_usuariosmant_total]
@pnombre                        NVARCHAR(50),              -- nombre del tipo de usuario
@ptipousuarioid             INT,                                       -- id del tipo de usuario o perfil
@decuantos                     DECIMAL                                            -- cantidad de filas a  mostrar en la pagina
                
AS          
BEGIN
                SET NOCOUNT ON;
                DECLARE @error                             INT
                DECLARE @mensaje      VARCHAR(100)
                DECLARE @nombrelike NVARCHAR(50)
                DECLARE @totalreg        DECIMAL (9,2)
                DECLARE @vdecimal      DECIMAL (9,2)
                DECLARE @total                              INT
                
                SET @nombrelike = '%' + @pnombre + '%';        
                
                IF (@ptipousuarioid = 1)
                BEGIN
                               SELECT @totalreg = (COUNT(*) /@decuantos)
                               FROM (
                                               SELECT 
                                               usuarios.usuarioid,
                                               personas.nombre,
                                               usuarios.tipousuarioid,
                                               tiposusuarios.nombre AS nomtipousuario,
											   usuarios.rolid, 
                                               CASE WHEN R.Descripcion IS NULL THEN 'No tiene rol'
                                               ELSE R.Descripcion END As Descripcion
                                               FROM usuarios
                                               LEFT JOIN personas ON usuarios.usuarioid = personas.personaid
                                               LEFT JOIN tiposusuarios ON usuarios.tipousuarioid = tiposusuarios.tipousuarioid
                                               LEFT JOIN Roles R ON usuarios.rolid = R.rolid
											   WHERE (personas.nombre LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.appaterno LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.apmaterno LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.personaid LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.nombre + ' ' + personas.appaterno + ' ' + personas.apmaterno LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
											   OR (tiposusuarios.nombre LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (R.Descripcion LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                               ) as comosifuerauntabla
                END
                
                IF (@ptipousuarioid <> 1)
                BEGIN
                               SELECT @totalreg = (COUNT(*) /@decuantos)
                               FROM (
                                               SELECT 
                                               usuarios.usuarioid,
                                               personas.nombre,
                                               usuarios.tipousuarioid,
                                               tiposusuarios.nombre AS nomtipousuario,
											   usuarios.rolid, 
                                               CASE WHEN R.Descripcion IS NULL THEN 'No tiene rol'
                                               ELSE R.Descripcion END As Descripcion
                                               FROM usuarios
                                               LEFT JOIN personas ON usuarios.usuarioid = personas.personaid
                                               LEFT JOIN tiposusuarios ON usuarios.tipousuarioid = tiposusuarios.tipousuarioid
											    LEFT JOIN Roles R ON usuarios.rolid = R.rolid
                                               WHERE tiposusuarios.tipousuarioid <> 1
                                               AND ((personas.nombre LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.appaterno LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.apmaterno LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.personaid LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (personas.nombre + ' ' + personas.appaterno + ' ' + personas.apmaterno LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
											   OR (tiposusuarios.nombre LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
                                               OR (R.Descripcion LIKE @nombrelike COLLATE Modern_Spanish_CI_AI)
											   )
                               ) as comosifuerauntabla
                END
                
                SELECT @vdecimal  = @totalreg - convert(integer,  @totalreg)
                
                IF @vdecimal > 0 
                               SELECT @total = @totalreg + 1
                ELSE
                               SELECT @total = @totalreg
                               
                SET @totalreg = @totalreg * @decuantos
                                                                              
               	select  @total as total, @totalreg as totalreg	
                                                                              
                RETURN
END
GO
