USE [Sodexo_RBK]
GO
/****** Object:  StoredProcedure [dbo].[sp_deducibles_listado]    Script Date: 1/22/2024 7:21:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor: Macarena Parra Bruna
-- Creado el: 14/08/2018
-- Descripcion: Genera todos los registros
-- =============================================
CREATE PROCEDURE [dbo].[sp_deducibles_listado]
AS
BEGIN
	
    SELECT idDeducibles,Descripcion FROM Deducibles WHERE Eliminado=0
                         
    RETURN                                                             

END
GO
