USE [Sodexo_RBK]
GO
/****** Object:  StoredProcedure [dbo].[sp_CargaEliminaDatos]    Script Date: 1/22/2024 7:21:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CargaEliminaDatos]
AS
BEGIN

	SET NOCOUNT ON;

		Truncate table Tmp_Carga
      
    
END
GO
