USE [Sodexo_RBK]
GO
/****** Object:  StoredProcedure [dbo].[sp_correos_modificar]    Script Date: 1/22/2024 7:21:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor: Macarena Parra Bruna
-- Creado el: 13/06/2018
-- Descripcion: Modificar correo
-- Ejemplo:exec sp_correos_modificar 'modificar',18,'Documento por firma de Notario 2','prueba4@rubrika.cl','prueba4@rubrika.cl','Documento espera firma notario 2','<p>prueba de correo espera firma notario 2</p>
-- =============================================
CREATE PROCEDURE [dbo].[sp_correos_modificar]
	@pAccion CHAR(60),
	@idCorreo INT,
	@Descripcion VARCHAR (200),
	@CC VARCHAR (150),
	@CCo VARCHAR (100),
	@Asunto VARCHAR (50),
	@Cuerpo VARCHAR (MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @lmensaje	VARCHAR(100)
	DECLARE @error		INT;
			
    -- Insert statements for procedure here
	IF (@pAccion='modificar') 
    BEGIN
		IF EXISTS (SELECT CodCorreo FROM Correo WHERE CodCorreo = @idCorreo )
			BEGIN
				UPDATE Correo 
				SET Descripcion= @Descripcion, 
				    CC = @CC,
				    CCo = @CCo,
				    Asunto = @Asunto,
				    Cuerpo = @Cuerpo
				WHERE CodCorreo = @idCorreo 
				SELECT @lmensaje = ''
				SELECT @error = 0
			END 
		ELSE
			BEGIN
				SELECT @lmensaje = 'ESTE CORREO NO EXISTE'
				SELECT @error = 1
			END 
    END 
    SELECT @error AS error, @lmensaje AS mensaje 
END
GO
