<div class="row">
  	<div class="col-md-12">
		<div class="box">
		  	<div class="box-body pad table-responsive">
				<div class="box-header">
				  	<div class="form-inline ">
						<div class="form-group">
							<php:repeticion id="formulario">			
					  	</div>
						<div class="form-group">
						  	<form name="formulario1" id="formulario_usuarios" action="accesoxusuario.php" method="POST" >
								<input type="hidden" name="tipousuarioid" 	id="tipousuarioid" 		value="<php:item id="tipousuarioid" />">
								<input type="hidden" name="newusuarioid" 	id="newusuarioid" 		value="<php:item id="newusuarioid" />" />		
								<input type="hidden" name="empresaid" 		id="empresaid"  		value="<php:item id="empresaid" />" />		
								<input type="hidden" name="lugarpagoid" 	id="lugarpagoid"  		value="<php:item id="lugarpagoid" />" />		
								<input type="hidden" name="nombre" 	id="nombre" 	value="<php:item id="ADMINISTRADOR" />">		
								<input type="hidden" name="accion" value="CENTROSCOSTO">
								<button type="submit" class="btn btn-default btn_letra_azul" name="accion3" value="VOLVER"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</button>
								<input type="hidden" name="lugarpago" 	  		value="<php:item id="lugarpago" />" />		
						 	</form>
						</div>
				  	</div> 
				</div>
				<div class="box-body">
					<!--Mensajes-->
					<div id="mensajeOK"><php:texto id="mensajeOK" /></div>
					<div id="mensajeError"><php:texto id="mensajeError" /></div>
					<form name="formulario" id="formulario_usuarios" action="accesoxusuario.php" method="POST" >
						<div id="divtabla" class="tabla-responsiva" >
							<div class="form-row" >
								<php:repeticion id="usuario">
								<div class="col-md-4" style="padding-bottom: 15px; padding-left: 0;">
									<input type="hidden" name="tipousuarioid" id="tipousuarioidx" value="<php:item id="tipousuarioid" />" />
									<label for="nombre">Nombre del Usuario</label>
									<input type="text" class="form-control" id="nombre" name="nombre" value="<php:item id="nombre" /> <php:item id="appaterno" /> <php:item id="apmaterno" />" placeholder="Nombre Perfil" readonly>
								</div>
								</php:repeticion>
							</div>
							<div class="form-row" >
								<php:repeticion id="empresas">
								<div class="col-md-4" style="padding-bottom: 15px; padding-left: 0;">
									<input type="hidden" name="RutEmpresa" id="RutEmpresa" value="<php:item id="RutEmpresa" />" />
									<label for="nombre">Nombre de Empresa</label>
									<input type="text" class="form-control" id="nombre" name="RazonSocial" value="<php:item id="RazonSocial" />" placeholder="Nombre de Empresa" readonly>
								</div>
								</php:repeticion>
							</div>
							<div class="form-row" >
								<php:repeticion id="lugarespago">
								<div class="col-md-4" style="padding-bottom: 15px; padding-left: 0;">
									<input type="hidden" name="RutEmpresa" id="lugarpagoid" value="<php:item id="lugarpagoid" />" />
									<label for="nombre">Lugar de pago</label>
									<input type="text" class="form-control" id="nombre" name="nombrelugarpago" value="<php:item id="nombrelugarpago" />" placeholder="Lugar de pago" readonly>
								</div>
								</php:repeticion>
							</div>
							<div class="form-row" >
								<div class="col-md-4" style="padding-bottom: 15px; padding-left: 0;">
									<label for="nombre">Buscar</label>
									<input type="hidden" name="accion" 			value="CENTROSCOSTO" />
									<input type="text" class="form-control" id="centrocosto" name="centrocosto" maxlength="50" value="<php:item id="centrocosto" />"  >
									<button class="btn btn-primary btn-sm"  name="accion3" type="submit" value="BUSCAR">Buscar</button>
								</div>	
							</div>
							<table id="example" class="table table-bordered table-hover" name="tbltabla">  
								<thead>
									<tr>
										<th style="text-align:center" data-campo="SELECCION"><input id="SelAll" name="accion2" style="margin-top: 10px" onclick="SelectAllCheck(formulario)" type="checkbox"></th>
										<th style="text-align:center" data-campo="C&oacute;digo">C&oacute;digo</th>
										<th style="text-align:center" data-campo="CENTRO COSTO">Centro de Costo</th>
									</tr>
								</thead>
								<tbody>
									<php:repeticion id="centroscosto">
									<tr>
										<td align="center" data-campo="SELECCI&Oacute;N">
											<input type="hidden"    name="ide_<php:filamenos />" 	id="ide_<php:filamenos />" 		value="<php:item id="centrocostoid" />" >
											<input type="checkbox"  name="sel_<php:filamenos />" 	id="sel_<php:filamenos />" 		value="<php:item id="centrocostoid" />" <php:item id="checkconsulta" /> onclick="javascript:IniMensajes()" >
											<input type="checkbox"  name="selori_<php:filamenos />" id="selori_<php:filamenos />" 	value="<php:item id="empresaid" />" <php:item id="checkconsulta" /> style="display:none">
										</td>
										<td align="center" data-campo="C&oacute;digo"><php:item id="centrocostoid" /></td>
										<td align="center" data-campo="CENTRO COSTO"><php:item id="nombrecentrocosto" /></td>
									</tr>
									</php:repeticion>
								</tbody>	
								<th colspan=13 class="tabla_abajo">
									<div class="col-md-12" style="font-weight: normal;">
										<php:item id="pagina_actual" /> de <php:item id="pagina_ultimo" /> - Total <php:item id="total_registros" /> Registros
									</div>
									<div class="col-xs-offset-5"> 
										<nav aria-label="nav1">
											<ul class="pagination justify-content-center" style="margin-top: 0px; margin-bottom: 0px;">
												<li class="page-item ">
													<a id="pagina_primera" class="page-link" href="#" tabindex="-1" onclick="javascript:proc_paginado(<php:item id="pagina_primera" />);" ><span><i class="fa fa-angle-double-left"></i></span></a>
												</li>
												<li class="page-item ">
													<a id="pagina_anterior" class="page-link" href="#" tabindex="-1" onclick="javascript:proc_paginado(<php:item id="pagina_anterior" />);" ><span ><i class="fa fa-angle-left"></i></span></a>
												</li>                  
												<li class="page-item active"><a class="page-link1" href="#"><php:item id="pagina_actual" /></a></li>                              
												<li class="page-item">
													<a id="pagina_siguente" class="page-link" href="#" onclick="javascript:proc_paginado(<php:item id="pagina_siguente" />);" ><span><i class="fa fa-angle-right"></i></span></a>
												</li>
												<li class="page-item">
													<a id="pagina_ultimo" class="page-link" href="#" onclick="javascript:proc_paginado(<php:item id="pagina_ultimo" />);" ><span><i class="fa fa-angle-double-right"></i></span></a>
												</li>                                                     
											</ul>
										</nav>
								  	</div>
							  	</th>
							</table>
						</div>		
						<input type="hidden" name="newusuarioid" 	 	value="<php:item id="newusuarioid" />" />		
						<input type="hidden" name="empresaid" 		  	value="<php:item id="empresaid" />" />		
						<input type="hidden" name="lugarpago" 	  		value="<php:item id="lugarpago" />" />		
						<input type="hidden" name="lugarpagoid" 		value="<php:item id="lugarpagoid" />" />		
					</form>
				</div>
				<form name="form2" class="formularioAgregar" id="form2"  class="form-horizontal" action="accesoxusuario.php" method="POST">
					<fieldset style="text-align:center">
						<input type="hidden" name="tipousuarioid" 	id="tipousuarioid" 		value="<php:item id="tipousuarioid" />" />		
						<input type="hidden" name="empresaid" 		id="empresaid"  		value="<php:item id="empresaid" />" />		
						<input type="hidden" name="lugarpagoid" 	id="lugarpagoid"  		value="<php:item id="lugarpagoid" />" />	
						<input type="hidden" name="gerenciaid" 		value="<php:item id="gerenciaid" />" />		
						<input type="hidden" name="cantidad"		id="cantidad" value="<php:texto id="cantidad" />" />
						<input type="hidden" name="lugarpago" 	  	value="<php:item id="lugarpago" />" />
						<input type="hidden" name="accion" value="CENTROSCOSTO" />
						<div class="col-md-2 pull-right">
							<input class="btn btn-primary btn-block" type="button" name="accion3" value="Guardar" onclick="javascript:IniGraba();" />
						</div>
					</fieldset>			
				</form>
				<form name="paginado" id="paginado" action="accesoxusuario.php" method="POST" >
					<input type="hidden" name="pagina" 				id="pagina"	value="<php:item id="pagina" />" />
					<input type="hidden" name="accion" 				value="CENTROSCOSTO" />
					<input type="hidden" name="accion3" 			value="BUSCAR" />
					<input type="hidden" name="tipousuarioidusu" 	value="<php:item id="tipousuarioidusu" />" >
					<input type="hidden" name="tipousuarioid" 		value="<php:item id="tipousuarioid" />" >
					<input type="hidden" name="empresaid" 			value="<php:item id="empresaid" />" >
					<input type="hidden" name="lugarpagoid" 		value="<php:item id="lugarpagoid" />" >
					<input type="hidden" name="centrocosto" 		value="<php:item id="centrocosto" />" >
					<input type="hidden" name="lugarpago" 			value="<php:item id="lugarpago" />" />	
					<input type="hidden" name="newusuarioid" 	 	value="<php:item id="newusuarioid" />" />		
					<input type="hidden" name="lugarpago" 	  		value="<php:item id="lugarpago" />" />		
				</form>
				</php:repeticion>
			</div>
		</div>
	</div>
</div>
</section>
<script>

	var conexion;
	var error;
	
	function IniMensajes ()
	{
		mensajeError.innerHTML 	= "";
		$("#mensajeError").removeClass("callout callout-warning");
		mensajeOK.innerHTML 	= "";
		$("#mensajeOK").removeClass("callout callout-success");
	}
	
	function IniGraba()
	{	
		IniMensajes ();
		error = 0;
		
		var cantidad = document.getElementById("cantidad").value;
		//alert(cantidad);

		for (var b=0; b<cantidad; b++)
		{
			checknew 	= document.getElementById("sel_" + b).checked;
			checkorig 	= document.getElementById("selori_" + b).checked;
			
			if (checknew != checkorig)
			{
				centrocostoid 	= document.getElementById("ide_" + b).value;//alert ("centrocostoid:" + centrocostoid);
				newusuarioid 	= document.getElementById("newusuarioid").value;//alert ("newusuarioid:" + newusuarioid);
				empresaid 		= document.getElementById("empresaid").value;//alert ("empresaid:" + empresaid);
				lugarpagoid 	= document.getElementById("lugarpagoid").value;//alert ("lugarpagoid:" + lugarpagoid);
				
				if (checknew == false )
				{
					accion = "elimina";
				}
				else
				{
					accion = "graba";
				}
			
				phpyparametros = "accesoxusuarioccosto.php?accion=" + accion + "&" + "newusuarioid=" + newusuarioid + "&empresaid=" + empresaid + "&lugarpagoid=" + lugarpagoid + "&centrocostoid=" + centrocostoid;// + "&departamentoid=" + departamentoid;//alert ("phpyparametros" + phpyparametros);
				Grabar (phpyparametros);
				
			}
		}
		
		if (error > 0)
		{
			mensajeError.innerHTML 	= "Problemas al grabar, Intente Nuevamente.";
			$("#mensajeError").addClass("callout callout-warning");
			mensajeOK.innerHTML 	= '';
			$("#mensajeOK").removeClass("callout callout-success");
		}
		else
		{
			for (var b=0; b<cantidad; b++)
			{
				document.getElementById("selori_" + b).checked = document.getElementById("sel_" + b).checked;
			}
			
			mensajeOK.innerHTML = 'Acci&oacute;n realizada con &eacute;xito';
			$("#mensajeOK").addClass("callout callout-success");
		}
	}
	
	function crearXMLHttpRequest() 
	{
	  var xmlHttp=null;
	  if (window.ActiveXObject) 
		xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
	  else 
		if (window.XMLHttpRequest) 
		  xmlHttp = new XMLHttpRequest();
	  return xmlHttp;
	}	
	
	function Grabar(phpyparametros)
	{  
		conexion=crearXMLHttpRequest();
		conexion.onreadystatechange = procesarEventos;
		conexion.open('GET', phpyparametros, false);
		conexion.send(null);
	}

	function procesarEventos()
	{
	  if(conexion.readyState == 4)
	  {
		respuesta = conexion.responseText;
		if (respuesta != "OK")
		{
			error++;
		}
	  } 
	  else 
	  {
		mensajeOK.innerHTML = 'Procesando...';
		$("#mensajeOK").addClass("callout callout-success");
	  }
	}
</script>