<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-body pad table-responsive">
				<div class="box-header">
					<div class="form-inline ">
						<div class="form-group">
							<php:repeticion id="formulario">			
						</div>
						<div class="form-group">
							<form name="formulario1" id="formulario" action="accesoxusuario.php" method="POST" >
								<input type="hidden" name="accion" value="EMPRESAS" />
								<input type="hidden" name="tipousuarioid" 	id="tipousuarioid" 	value="<php:item id="tipousuarioid" />">		
								<input type="hidden" name="holdingid" 		id="holdingid"		value="<php:item id="holdingid" />">
								<input type="hidden" name="cantfilas" 	 	value="<php:item id="cantfilas" />" />		
								<input type="hidden" name="pagina"	 	 	value="<php:item id="pagina" />" />	
								<input type="hidden" name="nombre"	 	 	value="<php:item id="nombre" />" />	
								<input type="hidden" name="newusuarioid" 	value="<php:item id="newusuarioid" />">
								<a class="btn btn-default btn_letra_azul" href="#" onclick="javascript:formulario3.submit();"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>			
							  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>		
						</div>
					</div> 
				</div>	
				<div class="box-body">
					<!--Mensajes-->
					<div id="mensajeOK"><php:texto id="mensajeOK" /></div>
					<div id="mensajeError"><php:texto id="mensajeError" /></div>
					<form name="formulario" id="formulario" action="accesoxusuario.php" method="POST" >
						<div id="divtabla" class="tabla-responsiva" >
							<div class="row" >
								<php:repeticion id="usuario">
								<div class="col-md-4" style="padding-bottom: 15px; padding-left: 0;">
									<input type="hidden" name="tipousuarioid" id="tipousuarioidx" value="<php:item id="tipousuarioid" />" />
									<label for="nombre">Nombre del usuario</label>
									<input type="text" class="form-control" id="nombre" name="nombre" value="<php:item id="nombre" /> <php:item id="appaterno" /> <php:item id="apmaterno" />" placeholder="Nombre Perfil" readonly>
								</div>
								</php:repeticion>
							</div>
							<table id="example1" class="table table-bordered table-hover" name="tbltabla">  
								<thead>
									<tr>
										<th style="text-align:center" data-campo="SELECCION"><input id="SelAll" name="accion2" style="margin-top: 10px" onclick="SelectAllCheck(formulario)" type="checkbox"></th>
										<th style="text-align:center" data-campo="RUT EMPRESA">Rut Empresa</th>
										<th style="text-align:center" data-campo="NOMBRE EMPRESA">Nombre Empresa</th>
										<th style="text-align:center" data-campo="NOMBRE EMPRESA">Opciones</th>
									</tr>
								</thead>
								<tbody>
									<php:repeticion id="empresas">
									<tr>
										<td align="center" data-campo="SELECCI&Oacute;N">
											<input type="hidden"    name="ide_<php:filamenos />" id="ide_<php:filamenos />" value="<php:item id="empresaid" />" >
											<input type="checkbox"  name="sel_<php:filamenos />" id="sel_<php:filamenos />" value="<php:item id="empresaid" />" <php:item id="checkconsulta" /> onclick="javascript:IniMensajes()">
											<input type="checkbox"  name="selori_<php:filamenos />" id="selori_<php:filamenos />" value="<php:item id="empresaid" />" <php:item id="checkconsulta" /> style="display:none">
										</td>
										<td align="center" data-campo="RUT EMPRESA"><php:item id="empresaid" /></td>
										<td align="center" data-campo="NOMBRE EMPRESA"><php:item id="nombre" /></td>
										<td align="center">
											<form name="form2" id="formulario_tipo" action="accesoxusuario.php" method="POST">
												<input type="hidden" name="empresaid" value="<php:item id="empresaid" />" >
												<input type="hidden" name="accion" value="EMPRESAS" />
												<input type="hidden" name="newusuarioid" value="<php:item id="newusuarioid" />" />	
												<input type="hidden" name="nombrex" 	 value="<php:item id="nombrex" />" >
												<input type="hidden" name="nropaginaini" 	value="<php:item id="nropaginaini" />" />	
												<button class="btn btn-primary btn-sm" data-toggle="tooltip" title="DAR PERMISOS EN SIGUIENTE NIVEL" type="submit" name="accion2" value="SIGUIENTE NIVEL" >Siguiente Nivel</button>
												<button class="btn btn-primary btn-sm" data-toggle="tooltip" title="OTORGA PERMISOS A LOS SIGUIENTES NIVELES" type="submit" name="accion2" value="ACCESO A TODO" onclick="javascript:IniMensajes(),MostrarCargando();">Acceso a Todo</button>
											  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>		
										</td>
									</tr>
									</php:repeticion>
								</tbody>	
							</table>
						</div>		
						<br>
						<input type="hidden" name="newusuarioid" id="tipousuario" value="<php:item id="newusuarioid" />" />		
						<input type="hidden" name="cantidad" 	  id="cantidad"    value="<php:texto id="cantidad" />" />
						<input type="hidden" name="accion" value="EMPRESAS" />	
						<div class="row d-flex justify-content-end">  
							<div class="col-md-2 xs-12 d-grid gap-2 ">           
								<button class="btn btn-md btn-primary btn-block" type="button" name="accion2" value="GRABAR" style="margin-top: 10px" onclick="javascript:IniGrabaEmpresas();" >Guardar</button>  
							</div>
						</div>  
					  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
					<form name="formulario3" id="formulario3" action="usuariosmant.php" method="POST" >
						<input type="hidden" name="pagina" 			value="<php:item id="pagina" />" />		
						<input type="hidden" name="holdingid" 		value="<php:item id="holdingid" />" />		
						<input type="hidden" name="nombrex" 		value="<php:item id="nombre" />" >
						<input type="hidden" name="tipousuarioid" 	value="<php:item id="tipousuarioid" />" >
						<input type="hidden" name="newusuarioid" value="<php:item id="newusuarioid" />" />	
						<input type="hidden" name="accion" 		value="MODIFICAR" >
					  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
				</div>  
				</php:repeticion>
			</div>  
		</div>  
	</div>  
</div>  
