
<div class="row">
  <div class="col-md-12">
    <div class="box ">
      <div class="box-body pad table-responsive">
      <!--Botones de cabecera-->

      <!-- /.box-header -->
      <div class="box-body">
         <!--Mensajes-->
		<div id="mensajeError"><php:texto id="mensajeError" /></div>
		<div id="mensajeAd"><php:texto id="mensajeAd" /></div>	
		<div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
		<php:repeticion id="formulario">
		<form name="formulario"  id="formulario" class="form-horizontal" method="POST" action="asignacionperfiles.php" autocomplete=off>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="nav-item" <php:item id="classconsultar" /> ><a data-toggle="tab" id="href_persona" href="#consultar_perfiles" data-toggle="pill" role="tab"  class="nav-link clicktab active">Consultar perfiles</a></li>
				<li class="nav-item" <php:item id="classagregar" /> ><a data-toggle="tab" id="href_contrato" href="#agregar_perfiles" data-toggle="pill" role="tab"  class="nav-link clicktab">Agregar perfiles</a></li>
				<li class="nav-item" <php:item id="classeliminar" /> ><a data-toggle="tab" id="href_anexo" href="#eliminar_perfiles" data-toggle="pill" role="tab"  class="nav-link clicktab">Eliminar perfiles</a></li>
			</ul>
				
			<div class="tab-content">
				<div id="consultar_perfiles" class="tab-pane fade active show <php:item id="activarconsultar" />">
								 
					<div class="row">
						 <div class="col-md-4">
							<label for="rut">Rut</label>
							<input type="text" class="form-control" id="rut"  name="rut" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="rut" />" autofocus >
						</div>
					</div>
								
					<div class="row p-2">
						<div class="col-sm-2 p-2 ">		
							<button type="submit" name="accion" value="BUSCAR"  onclick="javascript:return verificar_rut(document.formulario.rut)" class="btn btn-primary">Buscar</button>
						</div>
					</div>
					
					<div id="divtabla" class="tabla-responsiva" style="margin-top:10px" >
					<!--Tabla-->
					<table id="tbltabla" class="table table-bordered table-hover" name="tbltabla">
					  <thead>
						<tr>
						<th data-campo="Perfil" style="text-align: center;">Perfil</th>
						</tr>
					  </thead>
					  <tbody>
					  <!--Contenido de Tabla-->
					  <php:repeticion id="listado">
						<tr>
						  <td data-campo="perfil" style="text-align: center;"><php:item id="perfil" /></td>
						 
					
						</tr>
					  </php:repeticion>
					  </tbody>
					</table>
				  </div>
							
				</div><!--<div id="consultar_perfiles" class="tab-pane fade in active">-->
			
			<div id="agregar_perfiles" class="tab-pane fade <php:item id="activaragregar" />">
								 
					<div class="row">
						 <div class="col-md-4">
							<label for="rut">Rut</label>
							<input type="text" class="form-control" id="rut_agregar"  name="rut_agregar" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="rut_agregar" />" autofocus >
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<label for="perfiles">perfiles</label>
							<select class= "form-control" name="perfilagregar" id="perfilagregar">
							<php:repeticion id="perfilesagregar">						
								<option title="<php:item id="descripcion" />" value="<php:item id="perfil" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="perfil" /><php:argumento idvalor="perfil" /></php:funcion>><php:item id="perfil" /></option>
							</php:repeticion>
							</select>				
						</div>				
					</div>
					<div class="row p-2">
						<div class="col-sm-2 p-2 ">
							<button type="submit" name="accion" value="AGREGAR"  onclick="javascript:return verificar_rut_agregar(document.formulario.rut_agregar)" class="btn btn-primary">Agregar</button>
						</div>
					</div>
			</div><!--<div id="agregar_perfiles" class="tab-pane fade">-->
			
			<div id="eliminar_perfiles" class="tab-pane fade <php:item id="activareliminar" />">
				<div class="row">
						 <div class="col-md-4">
							<label for="rut">Rut</label>
							<input type="text" class="form-control" id="rut_eliminar"  name="rut_eliminar" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="rut_eliminar" />" autofocus >
						</div>
					</div>
					
					<div class="row">
					<div class="col-sm-4">
						<label for="perfiles">Perfiles</label>
						<select class= "form-control" name="perfilaeliminar" id="perfilaeliminar">
						<php:repeticion id="perfilesagregar">						
							<option  title="<php:item id="descripcion" />" value="<php:item id="perfil" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="perfil" /><php:argumento idvalor="perfil" /></php:funcion>><php:item id="perfil" /></option>
						</php:repeticion>
						</select>				
					</div>				
					</div>
					
					<div class="row p-2">
						<div class="col-sm-2 p-2">
							<button type="submit" name="accion" value="ELIMINAR"  onclick="javascript:return verificar_rut_eliminar(document.formulario.rut_eliminar)" class="btn btn-primary">Eliminar</button>
						</div>
					</div>
			</div><!--<div id="eliminar_perfiles" class="tab-pane fade">-->
		
			 </php:repeticion>
		
		</div><!--<div class="tab-content">-->
</div>
		  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
	   </div>
      </div>
    <!-- /.box -->
    </div>
  </div>
  <!-- /.col -->
  </div>

   
   
</body>
</html>