    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Mensajes-->
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>
                    <div id="mensajeAd"><php:texto id="mensajeAd" /></div>
                    <!--Formulario de los datos propios de Categoria-->   
                    <form role="form" name="formulario" id="formulario" action="blackList.php" method="POST" autocomplete="off" enctype="multipart/form-data">
                        <php:repeticion id="formulario">
                        <!--div class="row">
                            <div class="col-md-12">
                                <label style="float:right;"> (*) Campos obligatorios </label>
                            </div>
                        </div-->
                        <!--Subir documento-->
                        <div class="row">
                            <div class="col-md-6" id="doc">
                                <label for="Subir" id="doc_label">Seleccione archivo de carga</label>
                                <div class="form-group" id="doc_hijo"> 
                                    <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                        <input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento" readonly>
                                    </div>
                                    <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                        <span class="btn btn-primary btn-file">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            <input type="file" name="archivo" id="archivo"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  />
                                        </span>
                                    </div>
                                    <span class="fileinput-filename"></span>
                                    <span class="fileinput-new"></span>
                                </div>
                            </div>

                            
                            <div class="col-md-6">
                                <label for="tipousuarioid">Rut</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control" id="newusuarioid"  name="newusuarioid" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="newusuarioid" />" autofocus >
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="soloUno">
                                    <label class="form-check-label" for="soloUno">Retirar Rut</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="col-md-2 xs-12 pull-left">  
                                <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="VER" value="VER" onclick="ver()" style="margin-top: 10px">Ver &uacute;ltima carga</button>  
                            </div>
                            <div class="col-md-4 xs-12">  
                                <div id="estado" style="display:none;">
                                    <div>
                                        <label id="estadodetalle">Estado proceso</label>
                                    </div>
                                    <progress value="0" id="progreso" max="<php:item id="highestRow" />">	</progress>
                                </div>
                            </div>
                            <div class="col-md-2 xs-12 pull-right">  
                                <!--input type="hidden" id="idWF" name="idWF"/>
                                <input type="hidden" id="input_empleado" name="input_empleado" value="<php:item id="input_empleado"/>"/>
                                <input type="hidden" id="ACTIVAR" name="ACTIVAR"/-->
                                <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="GENERAR" value="GENERAR" style="margin-top: 10px" onclick="subirArchivo()" disabled>Enviar</button>  
                            </div>
                        </div>
                        <!--Fin del repeticion de formulario-->
                        </php:repeticion>  
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                    <form name="resultado" id="resultado" action="Respuesta_blackList.php" method="POST" >
                        <input type="hidden" id="IdArchivo" name="IdArchivo" value="2" />
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
