<div class="row" >
    <div class="col-md-12">
        <div class="box">
            <div class="box-body pad table-responsive"> 
                <div class="box-body">
                    <!--Mensajes-->
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>      
                </div>
                <form name="formulario2" id="formulario_usuarios" action="BuscarReportePostulacion.php" method="POST" autocomplete="off">
                    <table id="example2" class="table table-bordered table-hover">
                        <div class="col-md-2 xs-12">
                            <button class="btn btn-md btn-default btn-block ocultar" type="button" style="margin-top: 10px" data-toggle="collapse" href="#collapseExample" role="button" data-parent="#accordion"><a id="a">Ocultar Filtro</a></button>
                        </div>
                    </table>
                    <div id="collapseExample"  class="panel-collapse collapse in">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-body pad table-responsive">
                                    <div class="box-header">
                                        <div class="form-group">
                                            <php:repeticion id="formulario">
                                            <!--Postulante rut-->
                                            <div class="form-row">
                                                <div class="col-md-4 xs-12">
                                                    <label for="rutPostulante">R.U.T. postulante</label>
                                                    <input type="text" class="form-control" id="rutPostulante" name="rutPostulante" maxlength="50" value="<php:item id="rutPostulante" />" placeholder="R.U.T. postulante" />
                                                </div>
                                            </div>
                                            <!--Postulante nombre-->
                                            <div class="form-row">
                                                <div class="col-md-4 xs-12">
                                                    <label for="nombrePostulante">Nombre postulante</label>
                                                    <input type="text" class="form-control" id="nombrePostulante" name="nombrePostulante" maxlength="50" value="<php:item id="nombrePostulante" />" placeholder="Nombre postulante" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="contenedorid" >Discapacidad</label>
                                                <select class= "form-control" name="discapacidadid" id="discapacidadid">
                                                    <option value="0">(Seleccione)</option>
                                                    <php:repeticion id="Discapacidades">
                                                    <option value="<php:item id="discapacidadid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="discapacidadid" /><php:argumento idvalor="discapacidadid" /></php:funcion>><php:item id="discapacidad" /></option>
                                                    </php:repeticion>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="contenedorid" >Disponibilidad</label>
                                                <select class= "form-control" name="disponibilidadid" id="disponibilidadid">
                                                    <option value="0">(Seleccione)</option>
                                                    <php:repeticion id="Disponibilidades">
                                                    <option value="<php:item id="disponibilidadid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="disponibilidadid" /><php:argumento idvalor="disponibilidadid" /></php:funcion>><php:item id="nombre" /></option>
                                                    </php:repeticion>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="contenedorid" >Resultado postulaci&oacute;n</label>
                                                <select class= "form-control" name="estadoPostulacionid" id="estadoPostulacionid">
                                                    <option value="0">(Seleccione)</option>
                                                    <php:repeticion id="EstadosPostulacion">
                                                    <option value="<php:item id="estadoPostulacionid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="estadoPostulacionid" /><php:argumento idvalor="estadoPostulacionid" /></php:funcion>><php:item id="nombre" /></option>
                                                    </php:repeticion>
                                                </select>
                                            </div>
                                            <!--div class="col-md-4">
                                                <label for="contenedorid" >Empresa</label>
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" id="RazonSocial" name="RazonSocial" placeholder="Empresa" maxlength="50" value="<php:item id="RazonSocial" />" disabled -->
                                                    <input type="hidden" id="RutEmpresa" name="RutEmpresa" value="<php:item id="RutEmpresa" />" >
                                                <!--/div>
                                            </div-->
                                            <div class="col-md-4">
                                                <label for="contenedorid" >Cargo</label>
                                                <select class= "form-control" name="idCargoEmpleado" id="idCargoEmpleado">
                                                    <option value="0">(Seleccione)</option>
                                                    <php:repeticion id="Cargos">
                                                    <option value="<php:item id="idCargoEmpleado" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idCargoEmpleado" /><php:argumento idvalor="idCargoEmpleado" /></php:funcion>><php:item id="nombrecargoempleado" /></option>
                                                    </php:repeticion>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="contenedorid" >Divisi&oacute;n personal</label>
                                                <select class= "form-control" name="centrocostoid" id="centrocostoid">
                                                    <option value="0">(Seleccione)</option>
                                                    <php:repeticion id="CentrosCostos">
                                                    <option value="<php:item id="centrocostoid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="centrocostoid" /><php:argumento idvalor="centrocostoid" /></php:funcion>><php:item id="nombrecentrocosto" /></option>
                                                    </php:repeticion>
                                                </select>
                                            </div>
                                            <!--Fecha de inicio-->
                                            <div class="form-row">
                                                <div class="col-md-4 xs-12" >
                                                    <label for="">Fechas de inicio (postulaci&oacute;n)</label>
                                                    <div class="form-group">
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <input type="datetime" style="background-color: white;" class="form-control pull-right" id="fechaInicio" name="fechaInicio" placeholder="Fecha de inicio" value="<php:item id="fechaInicio"/>"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fecha de Fin-->
                                            <div class="form-row">
                                                <div class="col-md-4 xs-12">
                                                    <label for="">Fecha de fin (postulaci&oacute;n)</label>
                                                    <div class="form-group">
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <input type="datetime" class="form-control pull-right"  style="background-color: white;"id="fechaFin" name="fechaFin" placeholder="Fecha de fin" value="<php:item id="fechaFin"/>"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-2 xs-12 pull-right"  style="margin-top: 15px;">
                                                    <input type="hidden" name="accion" value="BUSCAR" />
                                                    <button class="btn btn-md btn-primary btn-block"  name="accion" type="submit" value="BUSCAR">Buscar</button>
                                                </div>
                                            </div>
                                        </div> <!-- <div class="form-group">-->
                                    </div> <!--<div class="box-header">-->
                                </div> <!-- <div class="box-body pad table-responsive">-->
                            </div> <!-- <div class="box">-->
                        </div> <!-- <div class="col-md-12">-->
                        <!--</div><div class="row"> -->
                    </div> <!-- <div class="collapse" id="collapseExample"> -->
                </form>
                <!--Tabla-->
                <div id="divtabla" class="tabla-responsiva" >
                    <div class="col-md-12">
                        <table id="example" class="table table-bordered table-hover " name="tbltabla">
                            <thead>
                                <tr>
                                    <th style="text-align: center;" data-campo="Fecha postulacion">Fecha postulaci&oacute;n</th>
                                    <th style="text-align: center;" data-campo="RUT">R.U.T.</th>
                                    <th style="text-align: center;" data-campo="nombre">Nombre</th>
                                    <th style="text-align: center;" data-campo="telefono">Telefono</th>
                                    <th style="text-align: center;" data-campo="email">Email</th>
                                    <th style="text-align: center;" data-campo="disponibilidad">Disponibilidad</th>
                                    <th style="text-align: center;" data-campo="Contratado">Contratado</th>
                                    <th style="text-align: center;" data-campo="Detalles">Detalles</th>
                                    <th style="text-align: center;" data-campo="Cargo">Cargo</th>
                                    <th style="text-align: center;" data-campo="Division personal">Divisi&oacute;n personal</th>
                                    <th style="text-align: center;" data-campo="Resultado postulacion">Resultado postulaci&oacute;n </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Contenido de Tabla-->
                                <php:repeticion id="listado">
                                <tr>
                                    <td style="text-align: center;" data-campo="Fecha postulacion"><php:item id="fechaPostulacion" /></td>
                                    <td style="text-align: center;" data-campo="RUT"><php:item id="rut" /></td>
                                    <td style="text-align: center;" data-campo="nombre"><php:item id="nombre" /></td>
                                    <td style="text-align: center;" data-campo="telefono"><php:item id="telefono" /></td>
                                    <td style="text-align: center;" data-campo="email"><php:item id="email" /></td>
                                    <td style="text-align: center;" data-campo="disponibilidad"><php:item id="disponibilidadNombre" /></td>
                                    <td style="text-align: center;" data-campo="Contratado"><php:item id="contratado" /></td>
                                    <td style="text-align: center;" data-campo="Detalles"><php:item id="detalles" /></td>
                                    <td style="text-align: center;" data-campo="Cargo"><php:item id="nombreCargo" /></td>
                                    <td style="text-align: center;" data-campo="Division personal"><php:item id="nombrecentrocosto" /></td>
                                    <td style="text-align: center;" data-campo="Resultado postulacion"><php:item id="ResultadoPostulacion" /></td>
                                </tr>
                                </php:repeticion>
                            </tbody>
                            <th colspan=14 class="tabla_abajo">
                                <div class="col-md-12" style="font-weight: normal;">
                                    <php:item id="pagina_actual" /> de <php:item id="pagina_ultimo" /> - Total <php:item id="total_registros" /> Registros
                                </div>
                                <div class="col-xs-offset-5"> 
                                    <nav aria-label="nav1">
                                        <ul class="pagination justify-content-center" style="margin-top: 0px; margin-bottom: 0px;">
                                            <li class="page-item ">
                                                <a id="pagina_primera" class="page-link" href="#" tabindex="-1" onclick="javascript:proc_paginado(<php:item id="pagina_primera" />);" ><span><i class="fa fa-angle-double-left"></i></span></a>
                                            </li>
                                            <li class="page-item ">
                                                <a id="pagina_anterior" class="page-link" href="#" tabindex="-1" onclick="javascript:proc_paginado(<php:item id="pagina_anterior" />);" ><span ><i class="fa fa-angle-left"></i></span></a>
                                            </li>                  
                                            <li class="page-item active"><a class="page-link1" href="#"><php:item id="pagina_actual" /></a></li>                              
                                            <li class="page-item">
                                                <a id="pagina_siguente" class="page-link" href="#" onclick="javascript:proc_paginado(<php:item id="pagina_siguente" />);" ><span><i class="fa fa-angle-right"></i></span></a>
                                            </li>
                                            <li class="page-item">
                                                <a id="pagina_ultimo" class="page-link" href="#" onclick="javascript:proc_paginado(<php:item id="pagina_ultimo" />);" ><span><i class="fa fa-angle-double-right"></i></span></a>
                                            </li>                                                     
                                        </ul>
                                    </nav>
                                </div>
                            </th>
                            <form name="paginado" id="paginado" action="BuscarReportePostulacion.php" method="POST" >
                                <!-- Filtro de busqueda y navegacion -->
                                <php:texto id="autoFiltroPaginado" />
                                <!-- Filtro de busqueda y navegacion -->
                            </form>
                        </table>
                    </div>
                    </php:repeticion>
                </div>
            </div>
        </div>
    </div> 
</div> 
</section>
<script>
    $('#fechaInicio').datepicker({
        language: "es",
        orientation: "bottom",
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy'
    });

    $('#fechaFin').datepicker({
        language: "es",
        orientation: "bottom",
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy'
    });

    $(".ocultar").click(function(){
        if ( $("#collapseExample").hasClass('in')){
            $("#a").html('Mostrar filtros');
        }else{
            $("#a").html('Ocultar filtros');
        }
    });
</script>