<div class="row">
  <div class="col-md-12">
    <div class="box ">
      <div class="box-body pad table-responsive">
      <!--Botones de cabecera-->
       <!-- <div class="box-header">
			<form action="Supervisores.php" method="POST">
		  		<button class="btn btn-default" name="accion" value="Volver"><a><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a></button>
		  	  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
        </div>
      <!-- /.box-header -->
      <div class="box-body">
         <!--Mensajes-->
		<div id="mensajeError"><php:texto id="mensajeError" /></div>
		<div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
		
		<form role="form" name="formulario" id="formulario" action="cambiodatosdec.php" method="POST" autocomplete=off>
          
			<div class="row">
				<div class="col-md-6 xs-12">
					<label>Rut</label>
					<input type="contenedor" class="form-control" id="RutUsuario"  name="user_rut" placeholder="Rut de Usuario" maxlength="10" value='<php:item id="personaid"/>'>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-6 xs-12">
					<label>Serial de Documento</label>
					<input type="contenedor" class="form-control" id="serial"  name="serial_number" placeholder="Serial de Documento" maxlength="10"  autofocus >
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 xs-12">
					<label>Nombre</label>
					<input type="contenedor" class="form-control" id="nombre" name="user_name" placeholder="Nombre Completo" maxlength="50" value='<php:item id="nombre"/>'>
				</div>
			</div>
							
			<div class="row">
				<div class="col-md-6 xs-12">
					<label>Apellido Paterno</label>
					<input type="contenedor" class="form-control" id="appaterno" name="appaterno" placeholder="Apellido Paterno" maxlength="50" value='<php:item id="appaterno"/>'>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 xs-12">
					<label>Apellido Materno</label>
					<input type="contenedor" class="form-control" id="apmaterno" name="apmaterno" placeholder="Apellido Materno" maxlength="50" value='<php:item id="apmaterno"/>'>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 xs-12">
					<label >Fono</label>
					<input type="contenedor" class="form-control" id="fono" name="user_phone" placeholder="Fono" maxlength="12" value='<php:item id="fono"/>'>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 xs-12">
					<label>Correo Electr&oacute;nico</label>
					<input type="email" class="form-control" id="correo1" placeholder="Correo electr&oacute;nico" maxlength="50" value='<php:item id="correo"/>'>
				</div>
			
				<div class="col-md-6 xs-12">
					<label>Confirmar Correo Electr&oacute;nico</label>
					<input type="email" class="form-control" id="correo2" placeholder="Correo electr&oacute;nico" maxlength="50" onpaste="return false" value='<php:item id="correo2"/>'>
				</div>
			</div>
					
			<div class="row">
				<div class="col-md-6 xs-12">
					<label>Pin</label>
					<input type="password" class="form-control" id="user_pin"  name="user_pin" placeholder="Pin" maxlength="10"  >
				 </div>
			</div>
						
			<!--Correo valido-->
			<input type="hidden" id="correo" name="user_email" >
		
	
			<div class="row">  
				<div class="col-md-2 xs-12 pull-right">            
				   <button class="btn btn-md btn-primary btn-block MODIFICAR_CDEC" type="submit" style="margin-top: 20px" name="accion2" value="MODIFICAR" id="MODIFICAR" onclick="javascript:return validarFormulario(this),new Array(),new Array('apmaterno') && validaRut2(document.formulario.RutUsuario) ;"/>Modificar</button>
				</div>
			</div>   	
  
		  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
	   </div>
      </div>
    <!-- /.box -->
    </div>
  </div>
  <!-- /.col -->
 </div>


