<style>
	.btn-info:hover .fa-eye-slash {
		color: #000; 
	}
	</style>
	<div class="row">
		<div class="col-md-12">
		  <div class="box box-primary">
			<div class="box-body pad table-responsive">
			  <div class="box-header">
				<div class="btn-group-md" role="group">
				   <!-- <a class="btn btn-default btn_letra_azul" href="cambioclave.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>-->
					
				  </div>
			  </div>
			  <!-- /.box-header -->
			  <div class="box-body">
			  
			  <!--Mensajes-->
			  <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
			  <div id="mensajeError"><php:texto id="mensajeError" /></div>
				<php:repeticion id="solicitudes">
				  <form role="form" name="formulario" id="formulario" action="cambioclave.php" method="POST">
					  <div class="col-md-8">
						  <!--Campos basicos-->
							<div class="form-group col-md-12">
									<label for="claveant">Contrase&ntilde;a Actual</label>	
								<div class="input-group ">										
									<input type="password" class="form-control" style="border-right:0" name="claveant" id="claveant" value="<php:item id="claveant" />" autocomplete="off" />
										<span class="input-group-btn">
											<button type="button" class="form-control" id="show_password_ant" style="background: #fff;border-left:0" onclick="showPassword(this)"><i class="fa fa-eye-slash icon_ant" style="color:#888" aria-hidden="true"></i>
										</span>
									</button>
								</div>		
							</div>	
							<div class="form-group col-md-12">
								  <label for="clavenew">Contrase&ntilde;a Nueva</label>	
								<div class="input-group ">										
									<input type="password" class="form-control" name="clavenew" style="border-right:0" id="clavenew" size="<php:texto id="largoClaveMax" />" minlength="<php:texto id="largoClaveMin" />" maxlength="<php:texto id="largoClaveMax" />" value="<php:item id="clavenew" />" autocomplete="off" />
										<span class="input-group-btn">
											<button type="button" class="form-control" id="show_password_new" style="background: #fff;border-left:0" onclick="showPassword(this)"><i class="fa fa-eye-slash icon_new" style="color:#888" aria-hidden="true"></i>
										</span>
									</button>
								</div>		
							</div>	
							<div class="form-group col-md-12">
								<label for="claverep">Repita Nueva Contrase&ntilde;a</label>	
								<div class="input-group ">										
									<input type="password" style="border-right:0" class="form-control" name="claverep" id="claverep" size="<php:texto id="largoClaveMax" />" minlength="<php:texto id="largoClaveMin" />" maxlength="<php:texto id="largoClaveMax" />" value="<php:item id="claverep" />" autocomplete="off" />
										<span class="input-group-btn">
											<button type="button" class="form-control" id="show_password_rep" style="background: #fff;border-left:0" onclick="showPassword(this)"><i class="fa fa-eye-slash icon_rep" style="color:#888" aria-hidden="true"></i>
										</span>
									</button>
								</div>		
							</div>	
					
	
						  <div class="form-row">  
							  <div class="col-md-3 xs-8">
									  <button class="btn btn-md btn-primary btn-block" type="submit" name="accion2" value="Cambiar" style="margin-top: 10px" onclick="javascript:return validarFormulario(this);" />Guardar</button>  
							  </div>
						  </div>   
					  </div>  
						
					  <div class="col-md-4">
						  <label>La contrase&ntilde;a debe contener al menos:</label>
						  <span id="passstrength"></span>
						  <p id="caracterPass" class="callout callout-danger" style="padding: 7px;  margin: 0px 0;"><php:texto id="largoClaveMin" /> c&aacute;racteres</p>
						  </br>
						  <div id="mayusculaPass" class="callout callout-danger" style="padding: 7px;  margin: 2px 0;"><php:texto id='minMayus'/> letra may&uacute;scula</div></br>
						  <div id="minusculaPass" class="callout callout-danger" style="padding: 7px;  margin: 0px 0;"><php:texto id='minMinus'/> letra min&uacute;scula</div></br>
						  <div id="numeroPass" class="callout callout-danger" style="padding: 7px;  margin: 0px 0;"><php:texto id='minNumber'/> c&aacute;racter num&eacute;rico</div></br>
						  <div id ="especialPass" class="callout callout-danger" style="padding: 7px;  margin: 0px 0;" title="!@#$%^&*()_+{}\:;<>,.?~"><php:texto id='minCaracterEspecial'/> c&aacute;racter especial , Ejemplos ! @ # $ % ^ & * </div>	
					  </div>
					  <div class="form-row">  
							  <div class="col-md-8">							  
								<input type="hidden" name="minMayus" id="minMayus"  value="<php:texto id='minMayus'/>">
								<input type="hidden" name="minMinus" id="minMinus"  value="<php:texto id='minMinus'/>">
								<input type="hidden" name="minNumber" id="minNumber"  value="<php:texto id='minNumber'/>">
	
								<input type="hidden" name="largoClaveMax" id="largoClaveMax"  value="<php:texto id='largoClaveMax'/>">
								<input type="hidden" name="largoClaveMin" id="largoClaveMin"  value="<php:texto id='largoClaveMin'/>">
								<input type="hidden" name="Robustes" id="Robustes"  value="<php:texto id='Robustes'/>">
								<input type="hidden" name="minCaracterEspecial" id="minCaracterEspecial"  value="<php:texto id='minCaracterEspecial'/>">
							  </div>
						  </div>  
				  </form>     
				  </php:repeticion>
				  <button class="btn btn-md btn-primary btn-block" style="display:none" type="hidden" id="btn_msj_cambio_clave" data-toggle="modal" data-target="#modal_msj_cambio_clave">Mensaje</button>  			
							  
				  <!--Modal Vista previa -->
				  <div class="modal fade" id="modal_msj_cambio_clave" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
				  <!--<div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">-->
						  <div class="modal-dialog" >
							  <div class="modal-content">
								  <div class="modal-header" align="center">
									  
									  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
									  </button>
								  </div>
								  <div class="modal-body" style="text-align:center">
									  <h4> Su contrase&ntilde;a ha sido cambiada con &eacute;xito</h4>
								  </div>
								  <div class="modal-footer" style="text-align:center" >
									  <a href="index.php" class="btn btn-md btn-primary">Aceptar</a>
								  </div>
							  </div>
						  </div>
					  </div>
				</div>
			  <!-- /.box-body -->
			</div>
			<!-- /.box -->
		  </div>
		</div>
		<!-- /.col -->
	  </div>
	  
	  
	<script>
	
	var numeros="0123456789";
	var letras="abcdefghijklmnñopqrstuvwxyz";	
	$('#clavenew').keyup(function(e) {
	var enoughRegex = new RegExp("(?=.{<php:texto id='largoClaveMin'/>,}).*", "g");
	if(tiene_numeros($('#clavenew').val(),$('#minNumber').val())){
	  $('#numeroPass').removeClass('callout callout-danger');
	  $('#numeroPass').addClass('callout callout-success');
	}else{		
	  $('#numeroPass').removeClass('callout callout-success');
	  $('#numeroPass').addClass('callout callout-danger');
	}
	if(tiene_minusculas($('#clavenew').val(),$('#minMinus').val())){
	  $('#minusculaPass').removeClass('callout callout-danger');
	  $('#minusculaPass').addClass('callout callout-success');
	}else{		
	  $('#minusculaPass').removeClass('callout callout-success');
	  $('#minusculaPass').addClass('callout callout-danger');
	}
	if(tiene_mayusculas($('#clavenew').val(),$('#minMayus').val())){
	  $('#mayusculaPass').removeClass('callout callout-danger');
	  $('#mayusculaPass').addClass('callout callout-success');
	}else{		
	  $('#mayusculaPass').removeClass('callout callout-success');
	  $('#mayusculaPass').addClass('callout callout-danger');
	}
	if (true == enoughRegex.test($(this).val())) {
	  $('#caracterPass').removeClass('callout callout-danger');
	  $('#caracterPass').addClass('callout callout-success');
	}else{		
	  $('#caracterPass').removeClass('callout callout-success');
	  $('#caracterPass').addClass('callout callout-danger');
	}
	if (tiene_caracter_especial($('#clavenew').val(),$('#minCaracterEspecial').val())) {
		$('#especialPass').removeClass('callout callout-danger');
		$('#especialPass').addClass('callout callout-success');
	} else {
		$('#especialPass').removeClass('callout callout-success');
		$('#especialPass').addClass('callout callout-danger');
	}
	
	});
	function tiene_caracter_especial(valor, cantidadMinima) {
		
		var expresionRegular = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/g;
	
		 // Utilizar el método match para encontrar todas las coincidencias
		 var coincidencias = valor.match(expresionRegular);
		 // Calcular la cantidad total de caracteres especiales
		 var cantidadTotal = coincidencias ? coincidencias.length : 0;
		 // alert(cantidadTotal);
	   return expresionRegular.test(valor) && cantidadTotal >= cantidadMinima;
	}
	function tiene_mayusculas(texto, minMayusculas) {
	  var contadorMayusculas = 0;
	
	  for (var i = 0; i < texto.length; i++) {
		if ((letras.toUpperCase()).indexOf(texto.charAt(i), 0) !== -1) {
		  contadorMayusculas++;
		}
	  }
	
	  return contadorMayusculas >= minMayusculas;
	}
	
	function tiene_minusculas(texto, minMinusculas) {
	  var contadorMinusculas = 0;
	
	  for (var i = 0; i < texto.length; i++) {
		if (letras.indexOf(texto.charAt(i), 0) !== -1) {
		  contadorMinusculas++;
		}
	  }
	
	  return contadorMinusculas >= minMinusculas;
	}
	
	function tiene_numeros(texto, minNumeros) {
	  var contadorNumeros = 0;
	
	  for (var i = 0; i < texto.length; i++) {
		if (numeros.indexOf(texto.charAt(i), 0) !== -1) {
		  contadorNumeros++;
		}
	  }
	
	  return contadorNumeros >= minNumeros;
	}
	$(document).ready(function(){
	
	  if( $("#mensajeOK").html() != '' ){
		  $("#btn_msj_cambio_clave").click();
	  }
	});
	
	function showPassword(button)
	{
		var idPass = "clave"
		var suffix = button.id.replace("show_password_", "");
		idPass = idPass+suffix;
		
		var cambio = document.getElementById(idPass);
		if(cambio.type == "password"){
			cambio.type = "text";
			$('.icon_'+suffix).removeClass('fa fa-eye-slash').addClass('fa fa-eye');
		}else{
			cambio.type = "password";
			$('.icon_'+suffix).removeClass('fa fa-eye').addClass('fa fa-eye-slash');
		}	
	}
	
	</script>