<div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body pad table-responsive">
          <div class="box-header">	
           <php:repeticion id="formulario">		
              <form role="form" name="formulario" id="formulario" action="CentrosCosto.php" method="POST">
                  <input type="hidden" name="pagina" value="<php:item id="pagina_actual" />" id="pagina" >
                  <input type="hidden" name="holdingid" value="<php:item id="holdingid" />" >
                  <input type="hidden" name="lugarpagoid" value="<php:item id="lugarpagoid" />" >
                  <input type="hidden" name="nombrelugarpagoid" value="<php:item id="nombrelugarpagoid" />" >
                  <input type="hidden" name="descripcionlugarpago" value="<php:item id="descripcionlugarpago" />" >
                  <button class="btn btn-md btn-default btn_letra_azul" type="submit" name="accion" value="BUSCAR" /><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</button>
                <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
          </div>
        </div>
        <div class="box-body">
          <div id="mensajeError"><php:texto id="mensajeError" /></div>
          <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
       
          <form role="form" name="formulario" id="formulario" action="CentrosCosto.php" method="POST" autocomplete="off">
   
                <!--Empresas-->
                <div class="col-md-12 xs-12" >
                  <label for="Empresa" >Empresa (*) </label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="RutEmpresa" id="RutEmpresa" disabled>
                  <option value="0">( Seleccione )</option>
                    <php:repeticion id="Empresas">
                      <option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
                    </php:repeticion>
                  </select>
                  <input type="hidden" name="RutEmpresa" value="<php:item id="RutEmpresa" />" id="RutEmpresa" >
                </div>
                
              <!--Cliente-->
              <div class="row">
                  <div class="col-md-12 xs-12">
                      <label class="Estructura" >Lugar de Pago (*) </label>
                      <select class= "form-control" name="lugarpagoid" id="lugarpagoid" disabled>
                          <option value="0">( Seleccione )</option>
                          <php:repeticion id="lugarespago">
                              <option value="<php:item id="lugarpagoid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="lugarpagoid" /><php:argumento idvalor="lugarpagoid" /></php:funcion>><php:item id="nombrelugarpago" /></option>
                          </php:repeticion>
                      </select>
                      <input type="hidden" name="lugarpagoid" value="<php:item id="lugarpagoid" />" id="lugarpagoid" >
                  </div>
              </div>
              
              <!--Campos basicos-->		
              <div class="row">
                 <div class="col-md-12">
                      <label class="Estructura" for="idCentroCosto">C&oacute;digo Centro de Costo</label>
                      <input type="text" class="form-control" id="idCentroCosto" name="idCentroCosto" maxlength="10" value="<php:item id="idCentroCosto" />" placeholder="C&oacute;digo Centro de Costo"  readonly> 
                  </div>
              </div>
               
              <div class="row">
                <div class="col-md-12 xs-12">
                  <label class="Estructura" for="nombreCentroCosto">Centro de Costo</label>
                  <input type="text" class="form-control" id="nombreCentroCosto" name="nombreCentroCosto" maxlength="50" value="<php:item id="nombreCentroCosto" />" placeholder="Nombre Centro de Costo" >
                </div>
              </div>  
             
              <div class="row d-flex justify-content-end">              
                <div class="col-md-2 d-grid gap-2" >
                  <input type="hidden" name="accion" value="MODIFICAR" />
                  <input type="hidden" name="pagina" value="<php:item id="pagina_actual" />" id="pagina" >
                  <button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion2" value="MODIFICAR" onclick="javascript: return validarFormulario(this,new Array(),new Array('descripcionlugarpago'))"  />Guardar</button>
                </div>
              </div>  
          </php:repeticion>
            <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>      
        </div>  
      </div>
      <!-- /.box -->
    </div>
    <!--.col-->
  </div> 
  
  <!--Modal de Lugares de pago-->
  <div class="modal fade" id="modal_lugares_pago" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header" align="center">
          <h4 class="Estructura" id="ejemplo-titulo"> Lugares de Pago </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="cerrar_modal">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="mensajeError_modal"></div>
           <table id="tabla_lugares_pago" class="table table-bordered table-hover" style="text-align: center">
              <thead >
                  <tr>
                      <th  style="text-align: center" >C&oacute;digo</th>
                      <th  style="text-align: center" >Nombre</th>
                      <th  style="text-align: center" >Selecci&oacute;n</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
           </table>
        </div>
        <div class="modal-footer" style="margin-top:10px;">
          <button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  