<div class="row">
    <div class="col-md-12">
        <div class="box ">
            <div class="box-body pad table-responsive">
                <!--Botones de cabecera
                <div class="box-header">
                    <a class="btn btn-default btn_letra_azul" href="setDocumentos_Listado.html"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
                </div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Mensajes-->
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
                    <!--<form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="setDocumentos.php" method="POST" autocomplete=off enctype="multipart/form-data">-->
                    <div class="box-body">
                        <div class="form-row">
                            <div class="col-md-4 xs-12">
                                <label for="TipoMovimiento">Tipo Movimiento</label>
                                <div class="box-body" style="padding-left: 0px;">
                                    <div class="col-md-12 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                        <select class="form-control" name="TipoMovimiento" id="TipoMovimiento"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 xs-12">
                                <label for="TipoGestor">Tipo Gestor</label>
                                <div class="box-body" style="padding-left: 0px;">
                                    <div class="col-md-12 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                        <select class="form-control" name="TipoGestor" id="TipoGestor"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 xs-12">
                                <label for="obligatorio"></label>
                                <div class="box-body" style="padding-left: 0px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="obligatorio">
                                        <label class="custom-control-label" for="defaultUnchecked">Obligatorio</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2 xs-12 pull-right">  
                                <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="AGREGAR" value="AGREGAR" style="margin-top: 10px">Agregar</button>  
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="tabla_checkListDocumentos" class="table table-bordered table-hover" style="text-align: center">
                            <thead>
                                <tr>
                                    <th style="text-align: center">Tipo movimiento</th>
                                    <th style="text-align: center">Tipo gestor</th>
                                    <th style="text-align: center">Obligatorio</th>
                                    <th style="text-align: center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<script>
    $(document).ready(function(){
        checkListDocumentos_listar();
        tipoMovimiento_listar();
        tipoGestor_listar();
    });

    var ajax_ELIMINAR;
    function eliminar(idTipoMovimiento, idTipoGestor)
    {
        var url  = "checkListDocumentos_ajax.php?idTipoMovimiento=" + idTipoMovimiento + '&idTipoGestor=' + idTipoGestor + '&accion=ELIMINAR';
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax_ELIMINAR = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax_ELIMINAR = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax_ELIMINAR.onreadystatechange = funcionCallback_eliminar;
        // Enviamos la peticion
        ajax_ELIMINAR.open( "GET", url, true );
        ajax_ELIMINAR.send( "" );
    };
    function funcionCallback_eliminar()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax_ELIMINAR.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax_ELIMINAR.status == 200 )
            {
                $('#mensajeOK').html('Elemento eliminado.');
                $('#mensajeOK').addClass('callout callout-success');
                checkListDocumentos_listar();
            }
        }
    }

    var ajax_AGREGAR;
    $('#AGREGAR').on('click', function(){
        var idTipoMovimiento = $("#TipoMovimiento").val();
        var idTipoGestor = $('#TipoGestor').val();
        var Obligatorio = $('#obligatorio').prop('checked') ? 1 : 0;
        var url  = "checkListDocumentos_ajax.php?idTipoMovimiento=" + idTipoMovimiento + '&idTipoGestor=' + idTipoGestor + '&Obligatorio=' + Obligatorio + '&accion=AGREGAR';
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax_AGREGAR = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax_AGREGAR = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax_AGREGAR.onreadystatechange = funcionCallback_agregar;
        // Enviamos la peticion
        ajax_AGREGAR.open( "GET", url, true );
        ajax_AGREGAR.send( "" );
    });
    function funcionCallback_agregar()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax_AGREGAR.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax_AGREGAR.status == 200 )
            {
                var salida = ajax_AGREGAR.responseText;
                listado = JSON.parse(salida);
                $('#mensajeOK').removeClass();
                switch (listado.codigo)
                {
                    case 0:
                        $('#mensajeOK').html('Agregado exitosamente');
                        $('#mensajeOK').addClass('callout callout-success');
                        checkListDocumentos_listar();
                    break;
                    case 1:
                        $('#mensajeOK').html(listado.mensaje);
                        $('#mensajeOK').addClass('callout callout-danger');
                    break;
                }
            }
        }
    }

    var ajax_tipoGestor_listar;
    function tipoGestor_listar()
    {
        $(".opcion_TipoGestor").remove();
        var url  = "checkListDocumentos_ajax.php?&accion=tipoGestor_listar";
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax_tipoGestor_listar = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax_tipoGestor_listar = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax_tipoGestor_listar.onreadystatechange = funcionCallback_tipoGestor_listar;
        // Enviamos la peticion
        ajax_tipoGestor_listar.open( "GET", url, true );
        ajax_tipoGestor_listar.send( "" );
    };
    function funcionCallback_tipoGestor_listar()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax_tipoGestor_listar.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax_tipoGestor_listar.status == 200 )
            {
                // Escribimos el resultado en la pagina HTML mediante DHTML
                var salida = ajax_tipoGestor_listar.responseText;
                listado = JSON.parse(salida); 
                num = listado.length;
                //console.log(listado);
                if( num > 0 ){
                    $('#TipoGestor').append('<option class="opcion_TipoGestor" value="">(Seleccione)</option>');
                    $.each(listado, function( index, value ) {
                        $('#TipoGestor').append('<option class="opcion_TipoGestor" value="' + listado[index].idTipoGestor + '">' + listado[index].Nombre + '</option>');
                    });
                }else{
                    //$('#tabla_setDocumentos tr:last').after('<tr class="fila_setDocumentos"><td colspan=3 >No existen datos para la empresa y cargo seleccionado </td></tr>');
                }
            }
        }
    };

    var ajax_tipoMovimiento_listar;
    function tipoMovimiento_listar()
    {
        $(".opcion_tipomovimiento").remove();
        var url  = "checkListDocumentos_ajax.php?&accion=tipoMovimiento_listar";
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax_tipoMovimiento_listar = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax_tipoMovimiento_listar = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax_tipoMovimiento_listar.onreadystatechange = funcionCallback_tipoMovimiento_listar;
        // Enviamos la peticion
        ajax_tipoMovimiento_listar.open( "GET", url, true );
        ajax_tipoMovimiento_listar.send( "" );
    };
    function funcionCallback_tipoMovimiento_listar()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax_tipoMovimiento_listar.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax_tipoMovimiento_listar.status == 200 )
            {
                // Escribimos el resultado en la pagina HTML mediante DHTML
                var salida = ajax_tipoMovimiento_listar.responseText;
                listado = JSON.parse(salida); 
                num = listado.length;
                //console.log(listado);
                if( num > 0 ){
                    $('#TipoMovimiento').append('<option class="opcion_tipomovimiento" value="">(Seleccione)</option>');
                    $.each(listado, function( index, value ) {
                        $('#TipoMovimiento').append('<option class="opcion_tipomovimiento" value="' + listado[index].idTipoMovimiento + '">' + listado[index].Descripcion + '</option>');
                    });
                }else{
                    //$('#tabla_setDocumentos tr:last').after('<tr class="fila_setDocumentos"><td colspan=3 >No existen datos para la empresa y cargo seleccionado </td></tr>');
                }
            }
        }
    };

    var ajax_checkListDocumentos_listar;
    function checkListDocumentos_listar()
    {
        var url  = "checkListDocumentos_ajax.php?&accion=checkListDocumentos_listar";
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax_checkListDocumentos_listar = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax_checkListDocumentos_listar = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax_checkListDocumentos_listar.onreadystatechange = funcionCallback_checkListDocumentos_listar;
        // Enviamos la peticion
        ajax_checkListDocumentos_listar.open( "GET", url, true );
        ajax_checkListDocumentos_listar.send( "" );
    };
    function funcionCallback_checkListDocumentos_listar()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax_checkListDocumentos_listar.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax_checkListDocumentos_listar.status == 200 )
            {
                // Escribimos el resultado en la pagina HTML mediante DHTML
                var salida = ajax_checkListDocumentos_listar.responseText;
                listado = JSON.parse(salida); 
                $('#tabla_checkListDocumentos').DataTable().destroy();
                $('#tabla_checkListDocumentos').DataTable({
                    data: listado,
                    columns: [
                        { data: 'Descripcion' },
                        { data: 'Nombre' }, //or { data: 'MONTH', title: 'Month' }`
                        {
                            data: 'Obligatorio',
                            render: function ( data, type, row ) {
                                return (data ? 'Si' : 'No');
                            } 
                        },
                        {
                            data: 'idTipoMovimiento',
                            render: function(data, type, row){
                                return '<button class="btn btn-default btn-sm" type="button" onclick="javascript:eliminar(\'' + row.idTipoMovimiento + '\', \'' + row.idTipoGestor + '\');">Eliminar</button>';
                            }
                        }
                    ],
                    paging: true,
                    lengthMenu: [ 10, 25, 50 ],
                    lengthChange: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: false,
                    fixedColumns: true
                });
            }
        }
    };












    function refrescarFormulario()
    {
        setDocumentos_listar();
        $("#plantilla").val('');
        $('#plantilla').data('idplantilla', '');
        checkFormulario();
    }
    function checkFormulario()
    {
        if ($("#rutEmpresa").data('rutempresa') != '' && $('#cargoempleado').data('idCargoEmpleado') != '' && $('#plantilla').data('idplantilla') != '' && $('#tipomovimiento').val() != '')
        {
            $('#AGREGAR').removeAttr('disabled');
        }
        else
        {
            $('#AGREGAR').attr('disabled','disabled');
        }
    }
    $('#tipomovimiento').on('change', function(){
        checkFormulario();
    });
    function agregarEmpresa(RutEmpresa, RazonSocial)
    {
        $("#rutEmpresa").val(RazonSocial);
        $("#rutEmpresa").data('rutempresa', RutEmpresa);
        $("#cargoempleado").val('');
        $('#cargoempleado').data('idCargoEmpleado', '');
        $("#plantilla").val('');
        $('#plantilla').data('idplantilla', '');
        $("#cerrar_empresa").click();
        checkFormulario();
    }
    function agregarCC(nombrecargoempleado, idCargoEmpleado)
    {
        $("#cargoempleado").val(nombrecargoempleado);
        $('#cargoempleado').data('idCargoEmpleado', idCargoEmpleado);
        $("#cerrar_cargoempleado").click();
        setDocumentos_listar();
        checkFormulario();
    }
    function agregarPlantilla(idPlantilla, Descripcion_Pl)
    {
        $("#plantilla").val(Descripcion_Pl);
        $('#plantilla').data('idplantilla', idPlantilla);
        $("#cerrar_plantilla").click();
        checkFormulario();
    }
    function setDocumentos_listar()
    {
        var RutEmpresa = $("#rutEmpresa").data('rutempresa');
        var idCargoEmpleado = $("#cargoempleado").data('idCargoEmpleado');
        $(".fila_setDocumentos").remove();
        var url  = "setDocumentos_ajax.php?RutEmpresa=" + RutEmpresa + "&idCargoEmpleado=" +idCargoEmpleado + "&accion=LISTAR";
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax.onreadystatechange = funcionCallback_setDocumentos_listar;
        // Enviamos la peticion
        ajax.open( "GET", url, true );
        ajax.send( "" );
    }
    function funcionCallback_setDocumentos_listar()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax.status == 200 )
            {
                // Escribimos el resultado en la pagina HTML mediante DHTML
                salida = ajax.responseText;
                listado = JSON.parse(salida); 
                num = listado.length;
                if( num > 0 ){
                    $.each(listado, function( index, value ) {
                        $('#tabla_setDocumentos tr:last').after('<tr class="fila_setDocumentos"><td>' + listado[index].nombreTipoMovimento + '</td><td>' + listado[index].nombrePlantilla + ' </td><td ><button type="button" style="background-color: transparent;" class="btn btn-default btn-sm" name="btn_eliminar_setDocumentos" onclick="javascript:eliminarSetDocumentos(\'' + listado[index].idTipoMovimiento + '\', \'' + listado[index].RutEmpresa + '\', \'' + listado[index].idCargoEmpleado + '\', \'' + listado[index].idPlantilla + '\');">Eliminar</button></td></tr>');
                    });
                }else{
                    $('#tabla_setDocumentos tr:last').after('<tr class="fila_setDocumentos"><td colspan=3 >No existen datos para la empresa y cargo seleccionado </td></tr>');
                }
            }
        }
    }
    function eliminarSetDocumentos(idTipoMovimiento, RutEmpresa, idCargoEmpleado,idPlantilla)
    {
        var url  = "setDocumentos_ajax.php?RutEmpresa=" + RutEmpresa + "&idCargoEmpleado=" +idCargoEmpleado + "&idTipoMovimiento=" + idTipoMovimiento + "&idPlantilla=" + idPlantilla + "&accion=ELIMINAR";
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax.onreadystatechange = funcionCallback_eliminarSetDocumentos;
        // Enviamos la peticion
        ajax.open( "GET", url, true );
        ajax.send( "" );
    }
    function funcionCallback_eliminarSetDocumentos()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax.status == 200 )
            {
                refrescarFormulario();
            }
        }
    }
    //Modal de Cargos empreados
    $("#btn_cargoempleado").click(function(){
        var RutEmpresa = $("#rutEmpresa").data('rutempresa');
        $(".fila_cc").remove();
        if( RutEmpresa == "" ){
            $("#mensajeError").addClass("callout callout-warning");
            $("#mensajeError").html("Debe seleccionar la Empresa");
            return false;
        }
        $("#mensajeError").html("");
        $("#mensajeError").removeClass("callout callout-warning");
        var url  = "cargoEmpleadoListar_ajax.php?RutEmpresa=" + RutEmpresa;
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax.onreadystatechange = funcionCallback_cargoempleado;
        // Enviamos la peticion
        ajax.open( "GET", url, true );
        ajax.send( "" );
    });
    function funcionCallback_cargoempleado()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax.status == 200 )
            {
                // Escribimos el resultado en la pagina HTML mediante DHTML
                salida = ajax.responseText;
                listado = JSON.parse(salida); 
                num = listado.length;
                if( num > 0 ){
                    $.each(listado, function( index, value ) {
                        $('#tabla_cargoempleado tr:last').after('<tr class="fila_cc"><td>' + listado[index].idCargoEmpleado + '</td><td><div id="' + listado[index].idCargoEmpleado + '">' + listado[index].nombrecargoempleado + ' </div></td><td ><button type="button" style="background-color: transparent;" class="btn" name="btn_agregar_cc" id="btn_agregar_cc" onclick="javascript:agregarCC(\'' + listado[index].nombrecargoempleado + '\', \'' + listado[index].idCargoEmpleado + '\');"><i class="fa fa-plus" aria-hidden="true"></i></button></td></tr>');
                    });
                }else{
                    $('#tabla_cargoempleado tr:last').after('<tr class="fila_cc"><td colspan=3 >No existen cargos para la Empresa seleccionada</td></tr>');
                }
            }
        }
    }
    //Modal de plantillas
    $("#btn_plantilla").click(function(){
        var cargoempleado = $('#cargoempleado').data('idCargoEmpleado');
        var idtipomovimiento = $('#tipomovimiento').val();
        var RutEmpresa = $("#rutEmpresa").data('rutempresa');
        
        $(".fila_plantilla").remove();
        if (RutEmpresa == "" || RutEmpresa == undefined)
        {
            $("#mensajeError").addClass("callout callout-warning");
            $("#mensajeError").html("Debe seleccionar empresa");
            return false;
        }
        else if( cargoempleado == "" || cargoempleado == undefined){
            $("#mensajeError").addClass("callout callout-warning");
            $("#mensajeError").html("Debe seleccionar cargo");
            return false;
        }
        else if (idtipomovimiento == '')
        {
            $("#mensajeError").addClass("callout callout-warning");
            $("#mensajeError").html("Debe seleccionar tipo de movimiento");
            return false;
        }
        $("#mensajeError").html("");
        $("#mensajeError").removeClass("callout callout-warning");
        var url  = "plantillasListar_ajax.php?RutEmpresa=" + RutEmpresa + "&idCargoEmpleado=" + cargoempleado + "&idtipomovimiento=" + idtipomovimiento;
        // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
        if( window.XMLHttpRequest )
            ajax = new XMLHttpRequest(); // No Internet Explorer
        else
            ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
        // Almacenamos en el control al funcion que se invocara cuando la peticion
        // cambie de estado 
        ajax.onreadystatechange = funcionCallback_plantilla;
        // Enviamos la peticion
        ajax.open( "GET", url, true );
        ajax.send( "" );
    });
    
    function funcionCallback_plantilla()
    {
        // Comprobamos si la peticion se ha completado (estado 4)
        if( ajax.readyState == 4 )
        {
            // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
            if( ajax.status == 200 )
            {
                // Escribimos el resultado en la pagina HTML mediante DHTML
                salida = ajax.responseText;
                listado = JSON.parse(salida); 
                num = listado.length;
                if( num > 0 ){
                    $.each(listado, function( index, value ) {
                        $('#tabla_plantilla tr:last').after('<tr class="fila_plantilla"><td>' + listado[index].Descripcion_Pl + '</td><td ><button type="button" style="background-color: transparent;" class="btn" name="btn_agregar_plantilla" id="btn_agregar_plantilla" onclick="javascript:agregarPlantilla(\'' + listado[index].idPlantilla + '\', \'' + listado[index].Descripcion_Pl + '\');"><i class="fa fa-plus" aria-hidden="true"></i></button></td></tr>');
                    });
                }else{
                    $('#tabla_plantilla tr:last').after('<tr class="fila_plantilla"><td colspan=3 >No existen plantillas para la Empresa, cargo y tipo de movimiento seleccionado</td></tr>');
                }
            }
        }
    }
</script>