<div class="row">
    <div class="col-md-12">
        <div class="box ">
            <div class="box-body pad table-responsive">
                <!--Botones de cabecera
                <div class="box-header">
                    <a class="btn btn-default btn_letra_azul" href="setDocumentos_Listado.html"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
                </div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Mensajes-->
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
                    <!--<form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="setDocumentos.php" method="POST" autocomplete=off enctype="multipart/form-data">-->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 xs-12">
                                <label for="TipoMovimiento">Tipo Movimiento</label>
                                <div class="box-body" style="padding-left: 0px;">
                                    <div class="col-md-12 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                        <select class="form-control" name="TipoMovimiento" id="TipoMovimiento"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 xs-12">
                                <label for="TipoGestor">Tipo Gestor</label>
                                <div class="box-body" style="padding-left: 0px;">
                                    <div class="col-md-12 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                        <select class="form-control" name="TipoGestor" id="TipoGestor"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 xs-12">
                                <label for="obligatorio"></label>
                                <div class="box-body" style="padding-left: 0px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="obligatorio">
                                        <label class="custom-control-label" for="defaultUnchecked">Obligatorio</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 xs-12 pull-right">  
                                <button class="btn btn-md btn-success btn-block AGREGAR_CL" type="button" name="accion" id="AGREGAR" value="AGREGAR" style="margin-top: 10px">Agregar</button>  
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="tabla_checkListDocumentos" class="table table-bordered table-hover" style="text-align: center">
                            <thead>
                                <tr>
                                    <th style="text-align: center">Tipo movimiento</th>
                                    <th style="text-align: center">Tipo gestor</th>
                                    <th style="text-align: center">Obligatorio</th>
                                    <th style="text-align: center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!--  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>
</section>