  <div class="row">
    <div class="col-md-12">
      <div class="box">
       
        <div class="box-body pad table-responsive">
          <div class="box-header">
            <!--Botones de cabecera-->
            <div class="form-inline ">
              <div class="form-group">
                <form name="formulario" action="Clausulas.php" method="POST" >
                  <input type="hidden" name="RutEmpresa" value='<php:item id="RutEmpresa"/>' />
                  <button type="submit" class="btn btn-default" name="accion" value="AGREGAR"><a><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a></button> 
                </form>
              </div>
            </div> 
          </div>
          <!-- /.box-header -->
          <div class="box-body">
           <!--Mensajes-->
          <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
          <div id="mensajeError"><php:texto id="mensajeError" /></div>
            <!--Datos referenciales-->
           
      
          <!--Listado-->
           <php:repeticion id="formulario">
            <div id="divtabla" class="tabla-responsiva" >
              <!--Tabla-->
              <table id="example2" class="table table-bordered table-hover" name="tbltabla">
                <thead>
                  <tr>
                    <th data-campo="IDCLAUSULA" style="text-align: center;">C&oacute;digo de Clausula </th>
                    <th data-campo="TITULO" style="text-align: center;">T&iacute;tulo </th>
                    <th data-campo="CATEGORIA" style="text-align: center;">Categoria </th>
                    <th data-campo="APROBADO" style="text-align: center;"><div style="text-align: center;">Aprobado </div></th>
                    <th data-campo="ACCIONES" style="text-align: center;">Opciones </th>
                  </tr>
                </thead>
                <tbody>
                <!--Contenido de Tabla-->
                <php:repeticion id="listado">
                  <tr>
                    <td data-campo="IDCLAUSULA" style="text-align: center;"><php:item id="idClausula"/></td>
                    <td data-campo="TITULO"><php:item id="Titulo_Cl"/></td>
                    <td data-campo="CATEGORIA" style="text-align: center;"><php:item id="Titulo"/></td>
                    <td data-campo="APROBADO"><div style="text-align: center;" id="Aprobado_<php:filamenos />"><php:item id="Aprobado"/></div></td>
                    <td data-campo="ACCIONES">
                      <form name="formulario" id="formulario_tipo" action="Clausulas.php" method="POST">
                        <input type="hidden" name="holdingid" value="<php:item id="holdingid" />">
                        <input type="hidden" name="RutEmpresa" id="RutEmpresa" value="<php:item id="RutEmpresa"/>" />
                        <input type="hidden" name="idClausula" id="idClausula_<php:filamenos />" value="<php:item id="idClausula" />"> 
                        <input type="hidden" id="Aprob_<php:filamenos />" value='<php:item id="Aprob"/>' />          
                        <button class="btn btn-info btn-sm openBtn2" type="button" name="accion" onclick="vistaprevia('<php:filamenos />');" id="VistaPrevia_<php:filamenos />" value="VISTAPREVIA">Vista Previa</button>
                        <button class="btn btn-success btn-sm" type="submit" name="accion" value="CLONAR">Clonar</button>
                        <button class="btn btn-info btn-sm" type="submit" name="accion" id="APROBAR_<php:filamenos />" value="APROBAR">Aprobar</button>
                        <button class="btn btn-primary btn-sm" type="submit" name="accion" value="MODIFICAR">Modificar</button> 
                        <button class="btn btn-default btn-sm" type="button" name="accion" value="ELIMINAR" onclick="javascript:return consultar_clausulas_listado(<php:filamenos />);">Eliminar</button>
                         <button class="btn btn-default btn-sm" type="submit" name="accion" value="ELIMINAR" id="ELIMINAR_<php:filamenos />" style="display:none">Eliminar</button>
                      </form>
                    </td>
                  </tr>
                 </php:repeticion>
                 </tbody>
                </table>
              </div>
            </php:repeticion>
          </div> 
        </div>
        <!-- /.box -->
      </div>
      <!--.col-->
      </div>
    <!-- /.roe -->
    </div>
  </section> 

  <!-- Modal para Vista Previa-->
 <div class="modal fade" id="ejemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h4 class="modal-title" id="ejemplo-titulo"> <!--Contenido del Titulo del Modal--></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="cerrar_modal" class="cerrar_modal">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ejemplo-cuerpo" align="justify" style="padding-right: 30px; padding-left: 30px;">
        <!--Contenido del Modal-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-md cerrar_modal" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

