<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <!--Botones de cabecera-->
        <php:repeticion id="formulario" >
          <div class="box-header">
            <form role="form" name="formulario2" id="formulario2" action="Clausulas.php" method="POST" >
                <input type="hidden" name="RutEmpresa" value='<php:item id="RutEmpresa"/>'/>
                <button type="submit" name="accion" value="BUSCAR" class="btn btn-default"/><a><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a></button>
            </form>
          </div>
      
        <div class="box-body">
       
          <!--Mensajes-->
          <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
          <div id="mensajeError"><php:texto id="mensajeError" /></div>
          
          <form role="form" name="formulario" id="formulario" action="Clausulas.php" method="POST" autocomplete="off">
        
              <!--idClausula-->
             <div class="form-row">
              <div class="col-md-6">
                <label for="Descripcion">C&oacute;digo Clausula</label>
                <input type="text" class="form-control" id="idClausula" name="idClausula" value="<php:item id="idClausula" />" placeholder="Descripcion" readonly />
              </div>
            </div>

            <!--Categorias-->
             <div class="form-row">   
                <div class="col-md-6" style="padding-bottom: 15px;">
                  <label for="Categoria" >Categoria</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idCategoria" id="idCategoria" disabled>
                   <option value="0">( Seleccione )</option>
                    <php:repeticion id="Categorias">
                      <option value="<php:item id="idCategoria" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idCategoria" /><php:argumento idvalor="idCategoria" /></php:funcion>><php:item id="Titulo" /></option>
                    </php:repeticion>
                  </select>
				  
				  <input type="hidden" name="idCategoria" id="idCategoria" value="<php:item id="idCategoria" />" />
                </div>
           </div>

             <!--Titulo-->
              <div class="form-row">
                <div class="col-md-12">
                  <label for="Titulo" >T&iacute;tulo</label>
                  <input type="text" class="form-control" id="Titulo_Cl" name="Titulo_Cl" value="<php:item id="Titulo_Cl" />" placeholder="Titulo">
                </div>
              </div> 

              <!--Descripcion-->
              <div class="form-row">
                <div class="col-md-12">
                  <label for="Descripcion">Descripci&oacute;n</label>
                  <input type="text" class="form-control" id="Descripcion_Cl" name="Descripcion_Cl" value="<php:item id="Descripcion_Cl" />" placeholder="Descripcion" >
                </div>
              </div>

              <!--Editor de texto--> 
               <div class="form-row">
                 <div class="col-md-12">
                    <label for="texto">Texto de Clausula</label>
                     <textarea id="TextoTxt_Clausulas" name="Texto" rows="10" cols="80" ><php:item id="Texto"/></textarea>
                 </div>
               </div>                                 
              
                <div class="form-row">  
                  <div class="col-md-2 xs-12 pull-right">
                   <input type="hidden" name="accion" value="MODIFICAR" />
                   <button class="btn btn-md btn-primary btn-block" type="button" style="margin-top: 10px" name="accion2" value="MODIFICAR" id="MODIFICAR" onclick="javascript:return validarFormulario(this);"/>Modificar</button>
                   <button class="btn btn-md btn-primary btn-block" type="submit" style="display:none" name="accion2" id="MODIFICAR_1" value="MODIFICAR"/>Modificar</button>
                  </div>
                </div>     
            </form> 
            </div>
          </php:repeticion>  
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $("#MODIFICAR").click(function(){

    //Consultar si esta Plantilla existe para mas de una empresa 
    var idClausula = $("#idClausula").val();
    var url = "Clausulas_ajax1.php?idClausula=" + idClausula;

    // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
    if( window.XMLHttpRequest )
      ajax = new XMLHttpRequest(); // No Internet Explorer
    else
      ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
   
    // Almacenamos en el control al funcion que se invocara cuando la peticion
    // cambie de estado 
    ajax.onreadystatechange = funcionCallback;

    // Enviamos la peticion
    ajax.open( "GET", url, true );
    ajax.send( "" );
  });

  var ajax;
  var salida;
   
  function funcionCallback()
  {
    // Comprobamos si la peticion se ha completado (estado 4)
    if( ajax.readyState == 4 )
    {
      // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
      if( ajax.status == 200 )
      {
        // Escribimos el resultado en la pagina HTML mediante DHTML
        salida = ajax.responseText;

        if( salida > 1 ){
          var respuesta = confirm("Esta Clausula esta asociada a " + salida + " Plantillas, desea continuar ?");
          
          if( respuesta )
            $("#MODIFICAR_1").click();
          else
            return respuesta;
        }else{
           $("#MODIFICAR_1").click();
        }

      }
    }
  }
</script>