<style type="text/css">
    hr{
        margin-top:10px;
        margin-bottom:10px;
        height:1px;
        width:100%;
        border-top:1px solid gray;
    }
</style>
<div class="noacceso" style="display:<php:texto id='noacceso' />;">
    <div class="row">
        <div class="col-md-12">
            <div class="box" style="background-color:#dd4b39; color:#ffffff">
                <div class="box-body pad table-responsive">
                    <!--Botones de cabecera>
                    <div class="box-header">
                        <a class="btn btn-default btn_letra_azul" href="DeclaracionConflictoInteres.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
                    </div-->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Mensajes-->
                        <div id="mensajeError2"><php:texto id="mensajeError" /></div>
                        <div id="mensajeOK2"><php:texto id="mensajeOK" /></div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="acceso" style="display:<php:texto id='acceso' />;">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body pad table-responsive">
                    <!--Botones de cabecera>
                    <div class="box-header">
                        <a class="btn btn-default btn_letra_azul" href="DeclaracionConflictoInteres.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
                    </div-->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Mensajes-->
                        <div id="mensajeError" class="callout caluot-danger" style="display:none; background-color:#dd4b39; color:#ffffff"><php:texto id="mensajeError" /></div>
                        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
                    </div>
                    <div class="box-body">
                        <input type="hidden" class="form-control" id="empleadoFormularioid" value="<php:texto id="empleadoFormularioid" />" >
                        <form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="DeclaracionConflictoInteresEmail.php" method="POST" autocomplete=off>
                            <php:repeticion id="formulario">
                            <div class="box-body">
                                <div class="row esteFormulario_email" style="display:<php:texto id='esteFormulario' />;">
                                    <div class="col-md-12">
                                        <label style="float:right;"> (*) Campos obligatorios </label>
                                    </div>
                                </div>
                                <!--div class="row esteFormulario" style="display:<php:texto id='esteFormulario' />;">
                                    <div class="col-md-12">
                                        <label for="tituloCargo" >Titulo / cargo (*)</label>
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control" name="tituloCargo-R" placeholder="Titulo / cargo" maxlength="110" onkeyup="pinta_email(this)" value="<php:item id="tituloCargo" />" >
                                        </div>
                                    </div>
                                </div-->
                                <!--div class="row esteFormulario" style="display:<php:texto id='esteFormulario' />;">
                                    <div class="col-auto">&nbsp;</div>
                                    <div class="col"><hr /></div>
                                </div-->
                                <div class="row esteFormulario_email" style="display:<php:texto id='esteFormulario' />;">
                                    <h3><p style="text-align:center"><strong>DECLARACI&Oacute;N</strong></p></h3>
                                    <br />
                                    <p>En <php:texto id="DATOS_CiudadFirma" />, a <php:texto id="DATOS_FechaDocumento" />, Yo, <php:texto id="EMPLEADO_NombreTrabajador" />, c&eacute;dula nacional de identidad n&uacute;mero <php:texto id="EMPLEADO_RutTrabajador" />, a trav&eacute;s del presente instrumento, consiento voluntariamente para que toda la documentaci&oacute;n derivada de la relaci&oacute;n laboral que mantengo con mi empleador <php:texto id="EMPRESA_RazonSocial" />, sea confeccionada, procesada, firmada y remitida de manera electr&oacute;nica. Para tales efectos se&ntilde;alo como correo electr&oacute;nico al cual me deber&aacute; ser remitida toda la documentaci&oacute;n laboral, el siguiente: <input type="text" class="EMAIL-VALIDAR" name="correoElectronico-R" placeholder="Correo Electronico" maxlength="60" onkeyup="pinta_email(this)" value="<php:item id="correoElectronico" />" ></p>
                                </div>
                                <!--class="esteFormulario" style="display:<php:texto id='esteFormulario' />;" hr /-->
                                <div class="row">
                                    <div class="col-md-2 xs-12 pull-left">  
                                        <button style="display:none" class="btn btn-info btn-md btn-block" name="accion" id="vista_previa" value="" type="button" data-toggle="modal" data-target="#modal_vp" >Ver Documento</button>  
                                    </div>
                                    <div class="col-md-2 xs-12 pull-right esteFormulario_email" style="display:<php:texto id='esteFormulario' />;">  
                                        <button class="btn btn-md btn-success btn-block ENVIARFORMULARIO_email" type="button" name="accion" id="ENVIARFORMULARIO" value="ENVIARFORMULARIO" style="margin-top: 10px;">Enviar formulario</button>  
                                    </div>
                                </div>
                            </div>
                            </php:repeticion>
                          <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form name="formularioFirmador" class="formularioFirmador" id="formularioFirmador"  class="form-horizontal" action="Documentos_Pendientes.php" method="POST" autocomplete=off>
        <input type="hidden" id="idDocumento" name="idDocumento" value="" />
        <input type="hidden" name="accion" value="INICIOFIRMA" />
    </from>
    <!-- Modal para Vista previa-->
    <div class="modal fade bd-example-modal-lg" id="modal_vp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <h4 class="modal-title" id="ejemplo-titulo"> Vista Previa de Documento <h3 id="num"></h3></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="cerrar_modal">&times;</span>
                    </button>
                    <div class="row" style="display:<php:texto id='muestraBotonesGestion' />;">
                        <div class="col-md-2 xs-12 pull-left">  
                            <button type="button" class="btn btn-md btn-primary btn-block eliminar_email" id="eliminar" data-dismiss="modal">Eliminar</button>
                        </div>
                        <div class="col-md-2 xs-12 pull-right">  
                            <button type="button" class="btn btn-md btn-success btn-block aprobar_email" id="aprobar" data-dismiss="modal">Aprobar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="mensajeError_modal"></div>
                    <div style="clear:both">
                        <iframe id="viewer" width="100%" height="500px"></iframe>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-md-2 xs-12 pull-right">  
                            <button type="button" class="btn btn-secondary btn-md btn-block cerrar_modal" id="cerrar" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
