    <style type="text/css">
        hr{
            margin-top:10px;
            margin-bottom:10px;
            height:1px;
            width:100%;
            border-top:1px solid gray;
        }
    </style>
    <div class="noacceso" style="display:<php:texto id="noacceso" />;">
        <div class="row">
            <div class="col-md-12">
                <div class="box" style="background-color:#dd4b39; color:#ffffff">
                    <div class="box-body pad table-responsive">
                        <!--Botones de cabecera>
                        <div class="box-header">
                            <a class="btn btn-default btn_letra_azul" href="DeclaracionConflictoInteres.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
                        </div-->
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!--Mensajes-->
                            <div id="mensajeError2"><php:texto id="mensajeError" /></div>
                            <div id="mensajeOK2"><php:texto id="mensajeOK" /></div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="acceso" style="display:<php:texto id="acceso" />;">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body pad table-responsive">
                        <!--Botones de cabecera>
                        <div class="box-header">
                            <a class="btn btn-default btn_letra_azul" href="DeclaracionConflictoInteres.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
                        </div-->
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!--Mensajes-->
                            <div id="mensajeError" class="callout caluot-danger" style="display:none; background-color:#dd4b39; color:#ffffff"><php:texto id="mensajeError" /></div>
                            <div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
                        </div>
                        <div class="box-body">
                            <input type="hidden" class="form-control" id="empleadoFormularioid" value="<php:texto id="empleadoFormularioid" />" >
                            <form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="DeclaracionConflictoInteres.php" method="POST" autocomplete=off>
                                <php:repeticion id="formulario">
                                <div class="box-body">
                                    <div class="row esteFormulario" style="display:<php:texto id="esteFormulario" />;">
                                        <div class="col-md-12">
                                            <label style="float:right;"> (*) Campos obligatorios </label>
                                        </div>
                                    </div>
                                    <div class="row esteFormulario" style="display:<php:texto id="esteFormulario" />;">
                                        <div class="col-md-12">
                                            <label for="tituloCargo" >Titulo / cargo (*)</label>
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control" name="tituloCargo-R" placeholder="Titulo / cargo" maxlength="110" onkeyup="pinta_dci(this)" value="<php:item id="tituloCargo" />" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row esteFormulario" style="display:<php:texto id="esteFormulario" />;">
                                        <!--div class="col"><hr /></div-->
                                        <div class="col-auto">&nbsp;</div>
                                        <div class="col"><hr /></div>
                                    </div>
                                    <div class="row esteFormulario" style="display:<php:texto id="esteFormulario" />;">
                                        <h3>Responda las siguientes preguntas:</h3>
                                        <ol  type="1">
                                            <hr />
                                            <li>&#191;Tiene <b>usted o alguno de sus familiares directos</b> alguna relaci&oacute;n personal, comercial, econ&oacute;mica o de direcci&oacute;n, directa o indirectamente, con un cliente, competidor, proveedor, consultor o asesor de la empresa donde usted labora o en Mel&oacute;n y sus subsidiar&iacute;as?</li>
                                            <div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs1" id="querySiNoObs1_SI" value="si">
                                                    <label class="form-check-label querySiNoObs1" for="querySiNoObs1">Si</label>
                                                    &nbsp;&nbsp;
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs1" id="querySiNoObs1_NO" value="no">
                                                    <label class="form-check-label querySiNoObs1" for="querySiNoObs1">No</label>
                                                </div>
                                                <div id="querySiNoObs1_show" style="display:none;">
                                                    <p>Si ha respondido &#34;s&iacute;&#34;, proporcione detalles en el recuadro inferior que permitan a evaluar la situaci&oacute;n, incluido entre otros, lo siguiente:</p>
                                                    <ol  type="a">
                                                        <li>Si el v&iacute;nculo guarda relaci&oacute;n con una participaci&oacute;n en el cliente, competidor o proveedor, describa la naturaleza y la cantidad de la misma, desde cu&aacute;ndo se mantiene la participaci&oacute;n y cualquier otra informaci&oacute;n pertinente que considere relevante.</li>
                                                        <li>Si el v&iacute;nculo est&aacute; relacionado con una funci&oacute;n ejercida en la otra entidad como cliente, competidor, proveedor, asesor o consultor tal como Director en dicha empresa, describa la naturaleza de la misma, desde cu&aacute;ndo se ejerce esa funci&oacute;n y cualquier otra informaci&oacute;n pertinente que considere relevante.</li>
                                                    </ol>
                                                    <label id="querySiNoObs1_etiqueta" for="contenedorid">Escriba y explique dentro del recuadro:</label>
                                                    <div class="input-group col-xs-12">
                                                        <textarea class="form-control" id="querySiNoObs1_texto" name="querySiNoObs1_texto-R" rows="2" placeholder="Escriba y explique" value="<php:item id="querySiNoObs1_texto" />" disabled  onkeyup="pinta_dci(this)"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <li>&#191;Tiene <b>usted o alguno de sus familiares directos</b> alguna relaci&oacute;n personal, comercial o econ&oacute;mica con alg&uacute;n directivo, trabajador o subordinado en la empresa donde usted labora o en Mel&oacute;n y sus subsidiarias?</li>
                                            <div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs2" id="querySiNoObs2_SI" value="si">
                                                    <label class="form-check-label querySiNoObs2" for="querySiNoObs2">Si</label>
                                                    &nbsp;&nbsp;
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs2" id="querySiNoObs2_NO" value="no">
                                                    <label class="form-check-label querySiNoObs2" for="querySiNoObs2">No</label>
                                                </div>
                                                <div id="querySiNoObs2_show" style="display:none;">
                                                    <p>Si ha respondido &#34;s&iacute;&#34;, proporcione detalles en el recuadro inferior que permitan a Estrat&eacute;gica evaluar la situaci&oacute;n, incluidos, entre otros, lo siguiente:</p>
                                                    <ol  type="a">
                                                        <li>Si el v&iacute;nculo guarda relaci&oacute;n con alguna participaci&oacute;n o sociedad con alguna empresa fuera del Grupo Mel&oacute;n y sus subsidiarias, describa la naturaleza de dicha sociedad, la actividad de la empresa y desde cu&aacute;ndo se ha iniciado dicha participaci&oacute;n, as&iacute; como cualquier otra informaci&oacute;n pertinente que considere relevante.</li>
                                                        <li>Si el v&iacute;nculo est&aacute; relacionado con alg&uacute;n acuerdo comercial, detalle su naturaleza as&iacute; como el tiempo de vigencia del mismo.</li>
                                                    </ol>
                                                    <label id="querySiNoObs2_etiqueta" for="contenedorid">Escriba y explique dentro del recuadro:</label>
                                                    <div class="input-group col-xs-12">
                                                        <textarea class="form-control" id="querySiNoObs2_texto" name="querySiNoObs2_texto-R" rows="2" placeholder="Escriba y explique" value="<php:item id="querySiNoObs2_texto" />" disabled  onkeyup="pinta_dci(this)"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <li>&#191;Tiene <b>usted o alguno de sus familiares directos</b> alguna participaci&oacute;n econ&oacute;mica o inversi&oacute;n en el Grupo Mel&oacute;n y sus subsidiarias?</li>
                                            <div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs3" id="querySiNoObs3_SI" value="si">
                                                    <label class="form-check-label querySiNoObs3" for="querySiNoObs3">Si</label>
                                                    &nbsp;&nbsp;
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs3" id="querySiNoObs3_NO" value="no">
                                                    <label class="form-check-label querySiNoObs3" for="querySiNoObs3">No</label>
                                                </div>
                                                <div id="querySiNoObs3_show" style="display:none;">
                                                    <p>Si ha respondido &#34;s&iacute;&#34;, proporcione detalles en el recuadro inferior que permita evaluar la situaci&oacute;n, incluidos, entre otros, lo siguiente:</p>
                                                    <ol  type="a">
                                                        <li>Cantidad de acciones o monto de la inversi&oacute;n.</li>
                                                        <li>Fecha de inicio de la inversi&oacute;n.</li>
                                                    </ol>
                                                    <label id="querySiNoObs3_etiqueta" for="contenedorid">Escriba y explique dentro del recuadro:</label>
                                                    <div class="input-group col-xs-12">
                                                        <textarea class="form-control" id="querySiNoObs3_texto" name="querySiNoObs3_texto-R" rows="2" placeholder="Escriba y explique" value="<php:item id="querySiNoObs3_texto" />" disabled  onkeyup="pinta_dci(this)"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <li>&#191;Ha estado implicados <b>usted o alguno de sus familiares directos</b> en alguna disputa legal con Mel&oacute;n y sus subsidiarias o se encuentra actualmente involucrado en cualquier otra disputa legal que pudiera tener un efecto real o percibido sobre sus funciones en la empresa donde usted labora o en Mel&oacute;n y sus subsidiarias?</li>
                                            <div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs4" id="querySiNoObs4_SI" value="si">
                                                    <label class="form-check-label querySiNoObs4" for="querySiNoObs4">Si</label>
                                                    &nbsp;&nbsp;
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs4" id="querySiNoObs4_NO" value="no">
                                                    <label class="form-check-label querySiNoObs4" for="querySiNoObs4">No</label>
                                                </div>
                                                <div id="querySiNoObs4_show" style="display:none;">
                                                    <p>Si ha respondido &#34;s&iacute;&#34;, explique en el recuadro inferior la naturaleza de la disputa, las partes implicadas y, si corresponde, el estado de la disputa o c&oacute;mo y d&oacute;nde fue resuelta.</p>
                                                    <label id="querySiNoObs4_etiqueta" for="contenedorid">Escriba y explique dentro del recuadro:</label>
                                                    <div class="input-group col-xs-12">
                                                        <textarea class="form-control" id="querySiNoObs4_texto"  name="querySiNoObs4_texto-R" rows="2" placeholder="Escriba y explique" value="<php:item id="querySiNoObs4_texto" />" disabled  onkeyup="pinta_dci(this)"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <li><b>Declaraci&oacute;n de v&iacute;nculo con persona expuesta pol&iacute;ticamente (PEP)</b>.</li>
                                            <div>
                                                <p>&#191;Tiene usted relaci&oacute;n familiar con alg&uacute;n funcionario estatal o autoridad pol&iacute;tica?</p>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this); mas_dci(this, 'check');" name="querySiNoDinamico1" id="querySiNoDinamico1_SI" value="si">
                                                    <label class="form-check-label querySiNoDinamico1" for="querySiNoDinamico1">Si</label>
                                                    &nbsp;&nbsp;
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this); limpiar_dci(this, 'check');"; name="querySiNoDinamico1" id="querySiNoDinamico1_NO" value="no">
                                                    <label class="form-check-label querySiNoDinamico1" for="querySiNoDinamico1">No</label>
                                                </div>
                                                <div id="querySiNoDinamico1_show" style="display:none;">
                                                    <p>Si ha respondido &#34;s&iacute;&#34;, liste en el recuadro inferior el nombre del familiar, grado de parentesco, entidad gubernamental y cargo o partido politico.</p>
                                                    <ol type="1" id="querySiNoDinamico1_fila"></ol>
                                                    <button class="btn btn-md btn-default" onclick="javascript: mas_dci(this, 'button');" type="button" id="querySiNoDinamico1_MAS" value="MAS" style="margin-top: 10px;" disabled >Agregar</button>
                                                    <button class="btn btn-md btn-default" onclick="javascript: menos_dci(this, 'button');" type="button" id="querySiNoDinamico1_MENOS" value="MENOS" style="margin-top: 10px;" disabled >Quitar</button>
                                                </div>
                                            </div>
                                            <hr />
                                            <li>&#191;Hay alguna otra situaci&oacute;n no incluida en las preguntas precedentes que pudiera afectar su objetividad o independencia en el desempe&ntilde;o de sus funciones o la percepci&oacute;n de esa independencia y objetividad por parte de los dem&aacute;s?</li>
                                            <div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs5" id="querySiNoObs5_SI" value="si">
                                                    <label class="form-check-label querySiNoObs5" for="querySiNoObs5">Si</label>
                                                    &nbsp;&nbsp;
                                                    <input class="form-check-input" type="radio" onclick="javascript: controlCheck_dci(this);" name="querySiNoObs5" id="querySiNoObs5_NO" value="no">
                                                    <label class="form-check-label querySiNoObs5" for="querySiNoObs5">No</label>
                                                </div>
                                                <div id="querySiNoObs5_show" style="display:none;">
                                                    <p>Si ha respondido &#34;s&iacute;&#34;, proporcione detalles que permitan evaluar la situaci&oacute;n.</p>
                                                    <label id="querySiNoObs5_etiqueta" for="contenedorid">Escriba y explique dentro del recuadro:</label>
                                                    <div class="input-group col-xs-12">
                                                        <textarea class="form-control" id="querySiNoObs5_texto" name="querySiNoObs5_texto-R" rows="2" placeholder="Escriba y explique" value="<php:item id="querySiNoObs5_texto" />" disabled  onkeyup="pinta_dci(this)"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </ol>
                                        <p><em>Confirmo que he le&iacute;do y entendido y que cumplo con el C&oacute;digo de Conducta y &Eacute;tica. Declaro que la informaci&oacute;n que revelo en este Formulario de Declaraci&oacute;n de Conflicto de Inter&eacute;s es verdadera, correcta y completa. Me comprometo a actualizar la informaci&oacute;n contenida en este formulario anualmente y en caso de que se produjese cualquier cambio material.</em></p>
                                    </div>
                                    <!--class="esteFormulario" style="display:<php:texto id="esteFormulario" />;" hr /-->
                                    <div class="row">
                                        <div class="col-md-2 xs-12 pull-left">  
                                            <button style="display:none" class="btn btn-info btn-md btn-block vista_previa_dci" name="accion" id="vista_previa" value="" type="button" data-toggle="modal" data-target="#modal_vp" >Ver Documento</button>  
                                        </div>
                                        <div class="col-md-2 xs-12 pull-right esteFormulario" style="display:<php:texto id="esteFormulario" />;">  
                                            <button class="btn btn-md btn-success btn-block ENVIARFORMULARIO_dci" type="button" name="accion" id="ENVIARFORMULARIO" value="ENVIARFORMULARIO" style="margin-top: 10px;">Enviar formulario</button>  
                                        </div>
                                    </div>
                                </div>
                                </php:repeticion>
                              <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form name="formularioFirmador" class="formularioFirmador" id="formularioFirmador"  class="form-horizontal" action="Documentos_Pendientes.php" method="POST" autocomplete=off>
            <input type="hidden" id="idDocumento" name="idDocumento" value="" />
            <input type="hidden" name="accion" value="INICIOFIRMA" />
        </from>
        <!-- Modal para Vista previa-->
        <div class="modal fade bd-example-modal-lg" id="modal_vp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" >
                <div class="modal-content">
                    <div class="modal-header" align="center">
                        <h4 class="modal-title" id="ejemplo-titulo"> Vista Previa de Documento <h3 id="num"></h3></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="cerrar_modal">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col-md-2 xs-12 pull-left">  
                                <button type="button" class="btn btn-md btn-primary btn-block eliminar_dci" id="eliminar" data-dismiss="modal">Eliminar</button>
                            </div>
                            <div class="col-md-2 xs-12 pull-right">  
                                <button type="button" class="btn btn-md btn-success btn-block aprobar_dci" id="aprobar" data-dismiss="modal">Aprobar</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div id="mensajeError_modal"></div>
                        <div style="clear:both">
                            <iframe id="viewer" width="100%" height="500px"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top:10px;">
                        <div class="row">
                            <div class="col-md-2 xs-12 pull-right">  
                                <button type="button" class="btn btn-secondary btn-md btn-block cerrar_modal" id="cerrar" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
