<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive"> 
        <div class="box-body">
           <!--Mensajes-->
          <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
          <div id="mensajeError"><php:texto id="mensajeError" /></div>      
		  <div id="mensajeAd"><php:texto id="mensajeAd" /></div> 		  												   
        </div>
        <form name="formulario2" id="formulario_usuarios" action="Documentos_Aprobar.php" method="POST" autocomplete="off">
          <table id="example2" class="table table-bordered table-hover">
	          <div class="col-md-2 xs-12">
		          <button class="btn btn-md btn-default btn-block ocultar" type="button" style="margin-top: 10px" data-toggle="collapse" href="#collapseExample" role="button" data-parent="#accordion"><a id="a">Ocultar Filtro</a></button>
	          </div>
          </table>
      		<div class="collapse in" id="collapseExample">
      		<!--<div class="row">-->
      			<div class="col-md-12">
      				<div class="box">
      					<div class="box-body pad table-responsive">
      					  <div class="box-header">
      						  <div class="form-group">
							 <php:repeticion id="formulario">
   
        						   <div class="form-row">
        						    <div class="col-md-4 xs-12">
        							    <label for="idDocumento">Nro Documento</label>
        							    <input type="text" class="form-control" id="idDocumento" name="idDocumento" maxlength="10" value="<php:item id="idDocumento" />" placeholder="Nro Documento" />
        							  </div>
        						  </div>

									<!--<div class="form-row">
										<div class="col-md-4 xs-12">
											<label for="fichaid">C&oacute;digo de Ficha de Contrataci&oacute;n</label>
											<input type="text" class="form-control" id="fichaid" name="fichaid" value="<php:item id="fichaid" />" placeholder="C&oacute;digo de Ficha de Contrataci&oacute;n" />
										</div>
									</div>-->

	    							<div class="form-row">
	    							  <div class="col-md-4 xs-12">
	    							    <label for="NombreTipoDoc">Tipo Documento</label>
										<select class= "form-control" name="idTipoDoc" id="idTipoDoc" >
											<option value="0">(Seleccione)</option>
											<php:repeticion id="tiposdocumentos">						
												<option value="<php:item id="idTipoDoc" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoDoc" /><php:argumento idvalor="idTipoDoc" /></php:funcion>><php:item id="NombreTipoDoc" /></option>
											</php:repeticion>
										</select>										  
										  
	    							  </div>
	    							</div>

        							<!--Proceso-->
									<div class="form-row">
										<div class="col-md-4 xs-12">
											<label for="Nombre">Proceso</label>	
											<select class="form-control" name="idProceso" id="idProceso" >
												<option value="0">(Seleccione)</option>
												<php:repeticion id="Procesos">						
													<option value="<php:item id="idProceso" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idProceso" /><php:argumento idvalor="idProceso" /></php:funcion>><php:item id="Descripcion" /></option>
												</php:repeticion>
											</select>	
										</div>
									</div>
									
									<!--Tipo de firma del Documento-->
									<div class="form-row">
										<div class="col-md-4 xs-12">
											<label for="Nombre">Tipo de Firma</label>	
											<select class="form-control" name="idTipoFirma" id="idTipoFirma" >
												<option value="0">(Seleccione)</option>
												<php:repeticion id="TipoFirmas">						
													<option value="<php:item id="idTipoFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoFirma" /><php:argumento idvalor="idTipoFirma" /></php:funcion>><php:item id="Descripcion" /></option>
												</php:repeticion>
											</select>	
										</div>
									</div>


        							<!--Empleado-->
									<div class="form-row">
										<div class="col-md-4 xs-12">
									 		<label for="Rut Empleado">Rut Empleado</label>
									  		<input type="text" class="form-control" id="RutEmpleado" name="RutEmpleado" maxlength="50" value="<php:item id="RutEmpleado" />" placeholder="Rut del Empleado" />
										</div>
									</div>

									<!--Nombre empleado-->
									<div class="form-row">
										<div class="col-md-4 xs-12">
									 		<label for="Nombre Empleado">Nombre Empleado</label>
									  		<input type="text" class="form-control" id="NombreEmpleado" name="NombreEmpleado" maxlength="50" value="<php:item id="NombreEmpleado" />" placeholder="Nombre del Empleado" />
										</div>
									</div>

				      		        <div class="form-row">
				            			<div class="col-md-2 xs-12 pull-right"  style="margin-top: 30px;">
				            				<input type="hidden" name="accion" value="BUSCAR" />
				            				<button class="btn btn-md btn-primary btn-block"  name="accion2" type="submit" value="BUSCAR" onclick="MostrarCargando();">Buscar</button>
				            			</div>
				                  	</div>
                    </div> <!-- <div class="form-group">-->
                  </div> <!--<div class="box-header">-->
                </div> <!-- <div class="box-body pad table-responsive">-->
              </div> <!-- <div class="box">-->
            </div> <!-- <div class="col-md-12">-->
          <!--</div> <!--<div class="row"> -->
      	</div> <!-- <div class="collapse" id="collapseExample"> -->
      </form>
       
    <!--Tabla-->
    <form id="formulario3" name="formulario3" method="POST" action="Documentos_Aprobar.php">
		<div id="divtabla" class="tabla-responsiva" >
		  <div class="col-md-12">
			<table id="example" class="table table-bordered table-hover " name="tbltabla">
				  <thead>
					<tr>
						<th style="text-align: center; vertical-align: middle;"><input type="checkbox" id="Seleccion"/></th>
						<th style="text-align: center;" data-campo="Nro Documento">Nro Documento</th>
						<!--<th style="text-align: center;" data-campo="CodigoFicha">C&oacute;digo de Ficha</th>-->
						<th style="text-align: center;" data-campo="Tipo Documento">Tipo Documento </th>
						<th style="text-align: center;" bdata-campo="Proceso">Proceso </th>
						<th style="text-align: center;" data-campo="Estado">Estado</th>
						<th style="text-align: center;" data-campo="TipoFirma">Tipo de Firma</th>
						<th style="text-align: center;" data-campo="Fecha Creacion">Fecha de creaci&oacute;n</th>		
						<th style="text-align: center;" data-campo="Rut Empresa">Rut Empresa</th>	
						<th style="text-align: center;" data-campo="Razon Social">Razon Social</th>	
						<th style="text-align: center;" data-campo="Rut Empleado">Rut Empleado</th>	
						<th style="text-align: center;" data-campo="Empleado">Empleado</th>	
						<th style="text-align: center;" data-campo="Plazo Firmante">Plazo Firmante</th>
						<th style="text-align: center;" data-campo="Plazo Flujo">Plazo Flujo</th>
						<th style="text-align: center;" data-campo="Detalle">Opciones</th>
					</tr>
				  </thead>
				<tbody>
					  <!--Contenido de Tabla-->
				<php:repeticion id="listado">
				  <tr>
				  	<td style="text-align: center; vertical-align: middle;">
				  	 	<input type="checkbox" aria-label="Checkbox for following text input" name="Documentos[]"  value='<php:item id="idDocumento"/>' class="checkbox" />
				  	</td>
					<td style="text-align: center;" data-campo="Nro Documento"><div id="<php:item id='idDocumento'/>"><php:item id="idDocumento" /></div></td>
					<!--<td style="text-align: center;" data-campo="fichaid"><php:item id="fichaid" /></td>-->
					<td style="text-align: center;" data-campo="Tipo Documento"><div id="td_<php:item id='idDocumento'/>"><php:item id="NombreTipoDoc" /></div></td>
					<td style="text-align: center;" data-campo="Proceso"><php:item id="Proceso" /></td>
					<td style="text-align: center;" data-campo="Estado"><div id="es_<php:item id='idDocumento'/>"><php:item id="Estado" /><div></td>
					<td style="text-align: center;" data-campo="TipoFirma"><php:item id="Firma" /></td>
					<td style="text-align: center;" data-campo="FechaCreacion"><php:item id="FechaCreacion" /></td>
					<td style="text-align: center;" data-campo="RutEmpresa"><php:item id="RutEmpresa" /></td>
					<td style="text-align: center;" data-campo="RazonSocial"><php:item id="RazonSocial" /></td>
					<td style="text-align: center;" data-campo="Rut"><php:item id="Rut" /></td>
					<td style="text-align: center;" data-campo="Empleado"><php:item id="nombre" /> <php:item id="appaterno" /> <php:item id="apmaterno" /></td>
					<td style="text-align: center;" data-campo="Estado Plazo Firmante"><php:item id="semaforodetalle" /></td>
					<td style="text-align: center;" data-campo="Estado Plazo Flujo"><php:item id="semaforototal" /></td>
					
					</form>
					<td data-campo="Detalle">
					  <form name="formulario" id="formulario_tipo_<php:filamenos />" action="Documentos_Aprobar.php" method="POST">
						   <input type="hidden" name="idDocumento" id="idDocumento_<php:filamenos />" value="<php:item id="idDocumento" />">
						   <input type="hidden" name="ruta" id="ruta_<php:filamenos />" value="<php:item id="ruta" />">
						   <input type="hidden" name="pagina" value="<php:texto id="pagina" />">
						   <input type="hidden" name="nombrex" value="<php:texto id="nombrex" />">
						   <!--<button class="btn btn-primary btn-sm" name="accion" value="DETALLE" type="submit" >Detalle</button>-->
							<button class="btn btn-info btn-sm vista" name="accion" id="vista_<php:filamenos />" value="VISTA" type="button" onclick="buscarDoc(<php:filamenos />)" data-toggle="modal" data-target="#modal_vp" >Ver Documento</button>  
				   			<button class="btn btn-default btn-sm firmantes" name="accion"  id="firmantes_<php:filamenos />" value="FIRMANTES" type="button"  data-toggle="modal" data-target="#modal_firm">Ver Firmantes</button>
					  </form>
					</td>
				  </tr>
				</php:repeticion>
				</tbody>
	
				<th colspan=16 class="tabla_abajo">
					<div class="col-md-12" style="font-weight: normal;">
	                 	<php:item id="pagina_actual" /> de <php:item id="pagina_ultimo" /> - Total <php:item id="total_registros" /> Registros
	              	</div>
				  <div class="col-xs-offset-5"> 
					<nav aria-label="nav1">
					  <ul class="pagination justify-content-center" style="margin-top: 0px; margin-bottom: 0px;">
						<li class="page-item ">
						  <a id="pagina_primera" class="page-link" href="#" tabindex="-1" onclick="javascript:proc_paginado(<php:item id="pagina_primera" />);" ><span><i class="fa fa-angle-double-left"></i></span></a>
						</li>
						<li class="page-item ">
						  <a id="pagina_anterior" class="page-link" href="#" tabindex="-1" onclick="javascript:proc_paginado(<php:item id="pagina_anterior" />);" ><span ><i class="fa fa-angle-left"></i></span></a>
						</li>                  
						<li class="page-item active"><a class="page-link1" href="#"><php:item id="pagina_actual" /></a></li>                              
						<li class="page-item">
						  <a id="pagina_siguente" class="page-link" href="#" onclick="javascript:proc_paginado(<php:item id="pagina_siguente" />);" ><span><i class="fa fa-angle-right"></i></span></a>
						</li>
					  <li class="page-item">
						<a id="pagina_ultimo" class="page-link" href="#" onclick="javascript:proc_paginado(<php:item id="pagina_ultimo" />);" ><span><i class="fa fa-angle-double-right"></i></span></a>
					  </li>                                                     
					  </ul>
					</nav>
				  </div>
				  </th>
				<form name="paginado" id="paginado" action="Documentos_Aprobar.php" method="POST" >
					<input type="hidden" name="pagina" value="" id="pagina" >
					<input type="hidden" name="holdingid" value="<php:item id="holdingid" />" >
					<input type="hidden" name="idDocumento" value="<php:item id="idDocumento" />" >
					<input type="hidden" name="idTipoDoc" value="<php:item id="idTipoDoc" />" >
					<input type="hidden" name="idEstado" value="<php:item id="idEstado" />" >
					<input type="hidden" name="idTipoFirma" value="<php:item id="idTipoFirma" />" >
					<input type="hidden" name="idProceso" value="<php:item id="idProceso" />" >
					<input type="hidden" name="RutEmpleado" value="<php:item id="RutEmpleado" />" >
					<input type="hidden" name="NombreEmpleado" value="<php:item id="NombreEmpleado" />" >
				  	<input type="hidden" name="total_registros" id="total_registros" value="<php:item id="total_registros" />" />
				  	<input type="hidden" name="cantidad" id="cantidad" value="<php:item id='cantidad'/>"/>
				  	<!--Documentos a firmar-->
				  	<input type="hidden" name="docs" id="docs" value="<php:item id='docs' />"/>
				  	<input type="hidden" name="pag" id="pag"  value="<php:item id='pag' />"/>
				</form>
	
			</table>
				<input type="hidden" name="select" id="select"/>
			    <div class="form-row">
	    			<div class="col-md-2 xs-12 pull-right">
	    				<input type="hidden" name="docs" id="docs_form" />
	    				<input type="hidden" name="accion" value="BUSCAR"/>
	    				<input type="hidden" name="usuarioid" id="usuarioid" value="<php:item id='usuarioid' />"/>
	    				<input type="hidden" name="ptipousuarioid" id="ptipousuarioid" value="<php:item id='ptipousuarioid' />"/>

	    				<php:repeticion id="modifica">
    						<button class="btn btn-md btn-success btn-block"  name="accion" id="SELECCION_MULTIPLE" type="button" data-toggle="modal" data-target="#modal_pendientes" >Aprobar</button>
    					</php:repeticion>

	    			</div>
	          	</div>

	          	<div class="form-row">
	          		<div class="col-md-2 xs-12 pull-left">
	          			<php:repeticion id="modifica">
	          			 	<button class="btn btn-md btn-primary btn-block pull-left"  name="accion" id="SELECCION_MULTIPLE_R" type="button" data-toggle="modal" data-target="#modal_pendientes_r" >Rechazar</button>
	          			 </php:repeticion>
	          		</div>
	          	</div>
		   </div>
		</form>
       </php:repeticion>

      

       <!-- Modal para Vista previa-->
		<div class="modal fade bd-example-modal-lg" id="modal_vp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header" align="center">
		        <h4 class="modal-title" id="ejemplo-titulo"> Vista Previa de Documento <h3 id="num"></h3></h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div id="mensajeError_modal"></div>
		         	<div style="clear:both">
			           <iframe id="viewer" width="100%" height="600px"></iframe>
			        </div>
			  </div>
			  <div class="modal-footer" style="margin-top:10px;">
				<input type="hidden" name="idDocumento" value='<php:item id="idDocumento"/>' >
		        <button type="button" class="btn btn-secondary btn-md" id="cerrar" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal para Firmantes-->
		<div class="modal fade" id="modal_firm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		      <div class="modal-header" align="center">
		        <h4 class="modal-title" id="ejemplo-titulo"> Firmantes <h3 id="num_f"></h3></h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div id="divtabla" class="tabla-responsiva" >
					<table id="tabla_firm" class="table table-bordered table-hover " >
						  <thead>
							<tr>
								<th style="text-align: center;" data-campo="Rut">Rut</th>
								<th style="text-align: center;" data-campo="Nombre">Nombre</th>
								<th style="text-align: center;" data-campo="Fecha Firma">Fecha Firma</th>
							</tr>
						  </thead>
						<tbody>
						<!--Contenido de Tabla-->
						</tbody>
					</table>
				</div>
			  </div>
			  <div class="modal-footer" style="margin-top:10px;">
			      	<input type="hidden" name="idDocumento" value='<php:item id="idDocumento"/>' >
		        	<button type="button" class="btn btn-secondary btn-md" id="cerrar" data-dismiss="modal">Cerrar</button>
		       </div>
		    </div>
		  </div>
		</div>

		<!-- Modal de seleccion-->
		<div class="modal fade" id="modal_pendientes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-pendiente" >
		    <div class="modal-content ">
		      <div class="modal-header" align="center">
		        <h4 class="modal-title" id="ejemplo-titulo"> Documentos Pendientes para Aprobar</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body " style=" max-height:400px; overflow-y: auto;">
		      	<div id="divtabla" class="tabla-responsiva" >
					<table id="tabla_pendientes" class="table table-bordered table-hover " >
						  <thead>
							<tr>
								<th style="text-align: center;" data-campo="idDocumento">id Documento</th>
								<th style="text-align: center;" data-campo="Tipo de documento">Tipo de Documento</th>
								<th style="text-align: center;" data-campo="Opciones">Estado</th>
							</tr>
						  </thead>
						<tbody>
						<!--Contenido de Tabla-->
						</tbody>
					</table>
				</div>
			  </div>
			  <div class="modal-footer" style="margin-top:10px;">
			      <button type="button" class="btn btn-success btn-md" id="aprobar" data-dismiss="modal">Aprobar</button>
				  <button type="button" class="btn btn-default btn-md" id="cerrar_aprobar">Cerrar</button>
			     
		       </div>
		    </div>
		  </div>
		</div>

       <!-- Modal de seleccion-->
		<div class="modal fade" id="modal_pendientes_r" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-pendiente" >
		    <div class="modal-content ">
		      <div class="modal-header" align="center">
		        <h4 class="modal-title" id="ejemplo-titulo"> Documentos Pendientes por Rechazar</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body " style=" max-height:400px; overflow-y: auto;">
		      	<div id="divtabla" class="tabla-responsiva" >
					<table id="tabla_pendientes_r" class="table table-bordered table-hover " >
						  <thead>
							<tr>
								<th style="text-align: center;" data-campo="idDocumento">id Documento</th>
								<th style="text-align: center;" data-campo="Tipo de documento">Tipo de Documento</th>
								<th style="text-align: center;" data-campo="Opciones">Estado</th>
							</tr>
						  </thead>
						<tbody>
						<!--Contenido de Tabla-->
						</tbody>
					</table>
				</div>

				<div class="form-row">
					<div class="col-md-12">
						<label for="">Observacion </label>
						<input type="text" class="form-control" name="observacion" id="observacion" placeholder="" />
					</div>
				</div>
			  </div>
			  <div class="modal-footer" style="margin-top:10px;">
			      <button type="button" class="btn btn-primary btn-md pull-left" id="rechazar" data-dismiss="modal">Rechazar</button>
				  <button type="button" class="btn btn-default btn-md" id="cerrar_rechazar">Cerrar</button>
			     
		       </div>
		    </div>
		  </div>
		</div>
	
      </div>
    </div>
  </div>
</div> 
</section>

<script>

	var array = [];
	var docs;
	var proceso;

	//Actualizar la seleccion
	$(document).ready(function(){

		if( $("#cantidad").val() == 1 ){
			$("#Seleccion").prop('checked', true);
			$("#select").val(1);
		}

		//documentos de otras paginas
		var docs = $("#docs").val();
		if ( docs != '' ){
			var docs_res = docs.split(",");

			//Recorro el array que traje de php
			jQuery.each( docs_res, function( key, value ) {
				if( value != '' ){
			  		array.push(value);
			  	}
			  //Recorro todos los checkbox del listado 
			  $('.checkbox').each( function(){
			  	 if ( value == $(this).val() ){
			  	 	$(this).prop('checked', true);
			  	 }
			  });
			});
		}

		if( $("#docs").val() != '' ){

		}else{
			$("#SELECCION_MULTIPLE").attr("disabled",true);
		}
		if( $("#mensajeAd").html().length > 0 ) $("#mensajeAd").addClass("callout callout-warning");
		else $("#mensajeAd").removeClass("callout callout-warning");

	});

	//Seleccionar todo
	$("#Seleccion").change(function(){

		var status = this.checked; 
		var array_aux = [];

		if ( $("#Seleccion").is(':checked')){

			//Limpian todos los campos 
			array = [];
			$("#docs").val('');
			$("#cantidad").val(1);
			$("#select").val(1);
			MostrarCargando();		 

			//Vamos al ajax a buscar todos los documentos pendientes 
			proceso = setInterval(function(){ buscarTodosDocumentosPorFirma() }, 100);

		}else{
			//Limpian todos los campos 
			array = [];
			$("#docs").val('');
			$("#cantidad").val(0);
			$("#select").val(0);
			$(".checkbox").prop('checked',false);
		}
				
	});

	$('.checkbox').change(function(){
		//Agregar 
		if ( $(this).is(':checked') ){
			array.push($(this).val());

			$("#SELECCION_MULTIPLE").attr("disabled",false);
		}
		//Eliminar
		else{
			var k = $(this).val();
			jQuery.each( array, function( key, value ) {
			  if( k == value ){
			  	array.splice(key, 1); 
			  }
			});

			if (array.length == 0 )
				$("#SELECCION_MULTIPLE").attr("disabled",true);
		}
		//Pasar al formulario
		$("#docs").val(array);
	});
	
	var id_doc = 0;
	
	//Vista previa del documento 
	$(".vista").click(function(){ 
		
		var id = this.id;
		var res = id.split('_'); 
		var i = res[1];
		var idDocumento = $("#idDocumento_" + i).val();
		id_doc = idDocumento;
		var url = "Documentos_aprobar4_ajax.php?idDocumento=" + idDocumento; //Descargar Documento

		 // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
		if( window.XMLHttpRequest )
		   ajax = new XMLHttpRequest(); // No Internet Explorer
		else
		   ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
		
		   // Almacenamos en el control al funcion que se invocara cuando la peticion
		ajax.onreadystatechange = funcionCallback_descargarDoc;

		// Enviamos la peticion
		ajax.open( "GET", url, false);
		ajax.send( "" );
	});
	
	//Callback de Vista previa
	function funcionCallback_descargarDoc(){
	  // Comprobamos si la peticion se ha completado (estado 4)
	  if( ajax.readyState == 4 )
	  {
	    // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
	    if( ajax.status == 200 )
	    {
	      // Escribimos el resultado en la pagina HTML mediante DHTML
	      //document.all.salida.innerHTML = "<b>"+ajax.responseText+"</b>"; 
	      salida = ajax.responseText;

	      if(salida){
	      	
			var ruta = salida;
			$("#viewer").attr("src",ruta);
			$("#num").html('Documento : ' + id_doc);
			
	      }else{
			
	      	return false;
	      }
	    }
	  }
	}

	var ajax;
	var salida;
	var fila = 0;
	var iddoc = 0;
	
	//Vista previa de firmantes 
	$(".firmantes").click(function(){
		
		var id = this.id;
		var res = id.split('_'); 
		var i = res[1];

		var idDocumento = $("#idDocumento_" + i).val();
		iddoc = idDocumento;
		var url = "Documentos_firmaMasiva_ajax.php?idDocumento=" + idDocumento;

		// Creamos el control XMLHttpRequest segun el navegador en el que estemos 
		if( window.XMLHttpRequest )
		ajax = new XMLHttpRequest(); // No Internet Explorer
		else
		ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer

		// Almacenamos en el control al funcion que se invocara cuando la peticion
		// cambie de estado 
		ajax.onreadystatechange = funcionCallback;

		// Enviamos la peticion
		ajax.open( "GET", url, true );
		ajax.send( "" );
	});

	//Callback de Vista previa
	function funcionCallback(){
	  // Comprobamos si la peticion se ha completado (estado 4)
	  if( ajax.readyState == 4 )
	  {
	    // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
	    if( ajax.status == 200 )
	    {
	      // Escribimos el resultado en la pagina HTML mediante DHTML
	      //document.all.salida.innerHTML = "<b>"+ajax.responseText+"</b>"; 
	      salida = ajax.responseText;

	      if(salida){
	      	verFirmantes(salida);
	      }else{
			
	      	return false;
	      }
	    }
	  }
	}

	//Construir tabla de firmantes
	function verFirmantes(salida){

		  respuesta = salida.split("|");
	      count = 0;
	      count = respuesta.length;
	      j = 0; 
	      n = 0;
	      rep = Math.trunc(count/5);

	      //Eliminar filas ateriores
	      $(".fila").remove();

	      while ( j < rep ){

		      nombre='';
		      rut='';
		      fecha='';

		      if( j != 0 ){
		      	  m = 4;
			      for (var i = n; i < m+n ; i++) {
			      	if( i == (n  ) ) rut    = respuesta[i];
			      	if( i == (1+n) ) nombre = respuesta[i];
			      	if( i == (3+n) ) fecha  = respuesta[i];
			      }
			  }else{
			  	  for (var i = 0; i < 5 ; i++) {
			      	if( i == (n  ) ) rut    = respuesta[i];
			      	if( i == (1+n) ) nombre = respuesta[i];
			      	if( i == (3+n) ) fecha  = respuesta[i];
			      }
			  }

		      $('#tabla_firm tr:last').after('<tr class="fila"><td>' + rut + '</td><td>' + nombre + '</td><td>' + fecha + '	</td></tr>');

		      if( j == 0) n = 5;
		      if( j == 1) n = 10;
		      if( j == 2) n = 15;
		      if( j == 3) n = 20; 
		      
		      j++;
	      }

	      $("#num_f").html('Documento : ' + iddoc);
	}

	//Seleccionar todo
	function buscarTodosDocumentosPorFirma(){

 		clearInterval(proceso);// poner esto cuando llega respuesta

		var usuarioid = $("#usuarioid").val();
		var ptipousuarioid = $("#ptipousuarioid").val();
		var idDocumento = $("#idDocumento").val();
		var idTipoDoc = $("#idTipoDoc").val();
		var fichaid = $("#idProceso").val();
		var RutEmpleado = $("#RutEmpleado").val();
		var NombreEmpleado = $("#NombreEmpleado").val();
		var fichaid = $("#fichaid").val();
		var idProceso = $("#idProceso").val();
		var idTipoFirma = $("#idTipoFirma").val();
		var formulario = "usuarioid=" + usuarioid + "&ptipousuarioid=" + ptipousuarioid + '&idDocumento=' + idDocumento + '&idTipoDoc=' + idTipoDoc + '&idProceso=' + idProceso + '&fichaid=' + fichaid + '&idProceso=' + idProceso + "&idTipoFirma=" + idTipoFirma + "&RutEmpleado=" + RutEmpleado + "&NombreEmpleado=" + NombreEmpleado;
		var url = "Documentos_aprobar5_ajax.php";
		
			//console.log(url);
		// Creamos el control XMLHttpRequest segun el navegador en el que estemos 
		if( window.XMLHttpRequest )
			ajax = new XMLHttpRequest(); // No Internet Explorer
		else
			ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer

		// Almacenamos en el control al funcion que se invocara cuando la peticion
		// cambie de estado 
		ajax.onreadystatechange = funcionCallback_buscarTodos;
		
		// Enviamos la peticion
		ajax.open( "POST", url, true);
		ajax.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');		
		ajax.send(formulario);
	}

	//Callback de Vista previa
	function funcionCallback_buscarTodos(){

	  // Comprobamos si la peticion se ha completado (estado 4)
	  if( ajax.readyState == 4 )
	  {
	    // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
	    if( ajax.status == 200 )
	    {
	      // Escribimos el resultado en la pagina HTML mediante DHTML
	      salida = ajax.responseText;
	      if(salida){
	      	docs = JSON.parse(salida); 
	      
	      	$.each(docs, function( index, value ) {
			  array.push(value);
			});

	      	$("#docs").val(array);

	      	$(".checkbox").prop('checked','true');

	      	if( array.length > 0 ){
	      		$("#SELECCION_MULTIPLE").attr("disabled",false);
	      	}

	      }else{
			
	      	return false;
	      }
		  OcultarCargando();		  
	    }
	  }
	}

	//Pasar los datos de los documentos a firmar al formulario 
	$("#SELECCION_MULTIPLE").click(function(){
	
		var documentos = $("#docs").val();
		var resultado = documentos.split(',');
		var j = resultado.length;
		
		if( documentos != '' ){
			//Limpiamos la tabla del modal 
		$(".fila_pendiente").remove();
			MostrarCargando();
			buscarDocumentos(documentos);
		}else{
			$("#SELECCION_MULTIPLE").attr("disabled",true);
		}

	}); 

	function buscarDocumentos(documentos){

		var url = "Documentos_aprobar1_ajax.php";
		var parametros = "docs=" + documentos;

		// Creamos el control XMLHttpRequest segun el navegador en el que estemos 
		if( window.XMLHttpRequest )
			ajax = new XMLHttpRequest(); // No Internet Explorer
		else
			ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer

		// Almacenamos en el control al funcion que se invocara cuando la peticion
		// cambie de estado 
		ajax.onreadystatechange = funcionCallback_buscar;

		// Enviamos la peticion
		ajax.open( "POST", url, true );
		ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		ajax.send(parametros);
	}

	//Callback de Vista previa
	function funcionCallback_buscar(){

	  // Comprobamos si la peticion se ha completado (estado 4)
	  if( ajax.readyState == 4 )
	  {
	    // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
	    if( ajax.status == 200 )
	    {
	      // Escribimos el resultado en la pagina HTML mediante DHTML
	      //document.all.salida.innerHTML = "<b>"+ajax.responseText+"</b>"; 
	      salida = ajax.responseText;
	     
	      if(salida){
	      	docs = JSON.parse(salida); 
		
		 	$.each(docs, function( index, value ) {
		 		$('#tabla_pendientes tr:last').after('<tr class="fila_pendiente" id="fila_' + docs[index].idDocumento + '"><td style="text-align: center;">' + docs[index].idDocumento + '</td><td style="text-align: center;">' + docs[index].NombreTipoDoc + '</td><td style="text-align: center;"><button style="background-color: transparent;" class="btn btn-md" type="button" id="icon_btn_' + docs[index].idDocumento + '"  onclick="eliminarDeLista(' + docs[index].idDocumento + ');"><i id="icon_' + docs[index].idDocumento + '"  class="fa fa-minus" aria-hidden="true"  title="Quitar de esta lista"></i></button></td></tr>');
		 	});
		 	 $("#aprobar").attr("disabled",false);

	      }else{
					 
	      	return false;
	      }
		  
		  OcultarCargando();
	    }
	   }
  }

  //Eliminar de la lista 
  function eliminarDeLista(i){

  	var fila = "#fila_" + i; 
  	var cant = $('#tabla_pendientes tr').length - 1;
  	
	if( cant == 1 )
  		$('#modal_pendientes').modal('hide');
  	else
  		$(fila).remove();
  	
  }

  var fila = 0;
  var documento = 0;
  var indices;
  var proceso;
  var i = 0;

  //Aprobar los documentos que esten en la lista 
 $("#aprobar").click(function(){
 	
 	if( $("#docs").val() != '' ){

 		//Cantidad de filas 
	    cant = $('#tabla_pendientes tr').length - 1;
	    docs = $("#docs").val();
	    indices = docs.split(","); 
    	documento = indices[i];

	    //Validar si desean firmar todo
	    //var respuesta = confirm('Esta seguro(a) que desea aprobar estos documentos?');

	   // if( respuesta ){
	       MostrarCargando();
	       proceso = setInterval(function(){ aprobar(documento,i) }, 1000);
	       $("#aprobar").attr("disabled",true);
	    //}
 	}	
 });

  //Firmar un documento
  function aprobar(idDocumento,i){

    clearInterval(proceso);// poner esto cuando llega respuesta

    var url = "Documentos_aprobar2_ajax.php?idDocumento=" + idDocumento;

    fila = i;

     // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
    if( window.XMLHttpRequest )
       ajax = new XMLHttpRequest(); // No Internet Explorer
    else
       ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
    
       // Almacenamos en el control al funcion que se invocara cuando la peticion
    ajax.onreadystatechange = funcionCallback_aprobar;

    // Enviamos la peticion
    ajax.open( "GET", url, false);
    ajax.send( "" );
  }

  //Callback de Vista previa
	function funcionCallback_aprobar(){

	  // Comprobamos si la peticion se ha completado (estado 4)
	  if( ajax.readyState == 4 )
	  {
	    // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
	    if( ajax.status == 200 )
	    {
	      // Escribimos el resultado en la pagina HTML mediante DHTML
	      //document.all.salida.innerHTML = "<b>"+ajax.responseText+"</b>"; 
	      salida = ajax.responseText;
	     
		      if(salida){
		      	mostrarEstadoAprobacion(salida,fila);
		      }else{
				
		      	return false;
		      }
	    }
	   }
	}

  //Mostrar estado de Firma en el modal
  function mostrarEstadoAprobacion(salida, fila){

    //Incrementar la fila de la tabla a recorrer
    documento = indices[i];
    i++;

    //Actualizamos iconos segun la respuesta 

   	//Si es otro error 
    if( salida == 0 ){

      $("#icon_" + documento).removeClass();
      $("#icon_" + documento).addClass('fa fa-exclamation-triangle text-warning');
      $("#icon_" + documento).prop('title','Intente nuevamente'); 
      $("#icon_btn_" + documento).removeAttr('onclick');
      
       OcultarCargando();

    }else {
      $("#icon_" + documento).removeClass();
      $("#icon_" + documento).addClass('fa fa-check-circle text-success');
      $("#icon_" + documento).prop('title','Aprobado');
      $("#icon_btn_" + documento).removeAttr('onclick');

      //Si termino de recorrer las filas 
      if( !(i < cant) ){
            //Ocultar el gif de cargando
            OcultarCargando();
      }
    }

    //Si quedan filas que recorrer 
    if( i < cant ){
        //Pasar al siguiente 
        documento = indices[i];
        proceso = setInterval(function(){ aprobar(documento,i) }, 1000);
    }

    $("#modal_pendientes").modal("show");
  }

 //Cerrar el modal 
 $("#cerrar_aprobar").click(function(){

	//Limpian todos los campos 
	array = [];
	$("#docs").val('');
	$("#cantidad").val(0);
	$("#select").val(0);
	$(".checkbox").prop('checked',false);

	$("#modal_pendientes").modal('hide');
	$("#formulario3").submit();
 });

 //////////////////
 /// RECHAZAR   ///
 //////////////////

 //Pasar los datos de los documentos a firmar al formulario 
	$("#SELECCION_MULTIPLE_R").click(function(){
	
		var documentos = $("#docs").val();
		var resultado = documentos.split(',');
		var j = resultado.length;
		
		if( documentos != '' ){
			MostrarCargando();
			//Limpiamos la tabla del modal 
			$(".fila_pendiente_r").remove();
			buscarDocumentos_r(documentos);
		}else{
			$("#SELECCION_MULTIPLE_R").attr("disabled",true);
		}

	}); 

	function buscarDocumentos_r(documentos){

		var url = "Documentos_aprobar1_ajax.php";
		var parametros = "docs=" + documentos;

		// Creamos el control XMLHttpRequest segun el navegador en el que estemos 
		if( window.XMLHttpRequest )
			ajax = new XMLHttpRequest(); // No Internet Explorer
		else
			ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer

		// Almacenamos en el control al funcion que se invocara cuando la peticion
		// cambie de estado 
		ajax.onreadystatechange = funcionCallback_buscar_r;

		// Enviamos la peticion
		ajax.open( "POST", url, true );
		ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		ajax.send(parametros);
	}

	//Callback de Vista previa
	function funcionCallback_buscar_r(){

	  // Comprobamos si la peticion se ha completado (estado 4)
	  if( ajax.readyState == 4 )
	  {
	    // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
	    if( ajax.status == 200 )
	    {
	      // Escribimos el resultado en la pagina HTML mediante DHTML
	      //document.all.salida.innerHTML = "<b>"+ajax.responseText+"</b>"; 
	      salida = ajax.responseText;
	     
	      if(salida){
	      	docs = JSON.parse(salida); 
		
		 	$.each(docs, function( index, value ) {
		 		$('#tabla_pendientes_r tr:last').after('<tr class="fila_pendiente_r" id="fila_r_' + docs[index].idDocumento + '"><td style="text-align: center;">' + docs[index].idDocumento + '</td><td style="text-align: center;">' + docs[index].NombreTipoDoc + '</td><td style="text-align: center;"><button style="background-color: transparent;" id="icon_btn_' + docs[index].idDocumento + '" class="btn btn-md" type="button" onclick="eliminarDeLista_r(' + docs[index].idDocumento + ');"><i id="icon_r_' + docs[index].idDocumento + '"  class="fa fa-minus" aria-hidden="true"  title="Quitar de esta lista"></i></button></td></tr>');
		 	});
		 	 $("#rechazar").attr("disabled",false);

	      }else{
						  
	      	return false;
	      }
		  
		  OcultarCargando();
	    }
	}
  }


  //Eliminar de la lista 
  function eliminarDeLista_r(i){

  	var fila = "#fila_r_" + i; 
  	var cant = $('#tabla_pendientes_r tr').length - 1;
  	
	if( cant == 1 )
  		$('#modal_pendientes_r').modal('hide');
  	else
  		$(fila).remove();
  	
  }

  var fila = 0;
  var documento = 0;
  var indices;
  var proceso;
  var i = 0;

  //Aprobar los documentos que esten en la lista 
 $("#rechazar").click(function(){
 	
 	if( $("#docs").val() != '' ){

 		//Cantidad de filas 
	    cant = $('#tabla_pendientes_r tr').length - 1;
	    docs = $("#docs").val();
	    indices = docs.split(","); 
    	documento = indices[i];

	    //Validar si desean firmar todo
	    var respuesta = confirm('Esta seguro(a) que desea rechazar estos documentos?');

	    if( respuesta ){
	       MostrarCargando();
	       proceso = setInterval(function(){ rechazar(documento,i) }, 1000);
	       $("#rechazar").attr("disabled",true);
	    }
 	}	
 });

  //Firmar un documento
  function rechazar(idDocumento,i){

    clearInterval(proceso);// poner esto cuando llega respuesta
    var obs = $("#observacion").val();
    var url = "Documentos_aprobar3_ajax.php?idDocumento=" + idDocumento + "&observacion=" + obs; //Rechazar

    fila = i;

     // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
    if( window.XMLHttpRequest )
       ajax = new XMLHttpRequest(); // No Internet Explorer
    else
       ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer
    
       // Almacenamos en el control al funcion que se invocara cuando la peticion
    ajax.onreadystatechange = funcionCallback_rechazar;

    // Enviamos la peticion
    ajax.open( "GET", url, false);
    ajax.send( "" );
  }

  //Callback de Vista previa
	function funcionCallback_rechazar(){

	  // Comprobamos si la peticion se ha completado (estado 4)
	  if( ajax.readyState == 4 )
	  {
	    // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
	    if( ajax.status == 200 )
	    {
	      // Escribimos el resultado en la pagina HTML mediante DHTML
	      //document.all.salida.innerHTML = "<b>"+ajax.responseText+"</b>"; 
	      salida = ajax.responseText;
	     
		      if(salida){
		      	mostrarEstadoAprobacion_r(salida,fila);
		      }else{
		
		      	return false;
		      }
	    }
	   }
	}

  //Mostrar estado de Firma en el modal
  function mostrarEstadoAprobacion_r(salida, fila){

    //Incrementar la fila de la tabla a recorrer
    documento = indices[i];
    i++;

    //Actualizamos iconos segun la respuesta 

   	//Si es otro error 
    if( salida == 0 ){

      $("#icon_r_" + documento).removeClass();
      $("#icon_r_" + documento).addClass('fa fa-exclamation-triangle text-warning');
      $("#icon_r_" + documento).prop('title','Intente nuevamente'); 
      $("#icon_btn_" + documento).removeAttr('onclick');
      
       OcultarCargando();

    }else {
      $("#icon_r_" + documento).removeClass();
      $("#icon_r_" + documento).addClass('fa fa-check-circle text-success');
      $("#icon_r_" + documento).prop('title','Rechazado');
      $("#icon_btn_" + documento).removeAttr('onclick');

      //Si termino de recorrer las filas 
      if( !(i < cant) ){
            //Ocultar el gif de cargando
            OcultarCargando();
      }
    }

    //Si quedan filas que recorrer 
    if( i < cant ){
        //Pasar al siguiente 
        documento = indices[i];
        proceso = setInterval(function(){ rechazar(documento,i) }, 1000);
    }

    $("#modal_pendientes_r").modal("show");
  }

 //Cerrar el modal 
 $("#cerrar_rechazar").click(function(){

	//Limpian todos los campos 
	array = [];
	$("#docs").val('');
	$("#cantidad").val(0);
	$("#select").val(0);
	$(".checkbox").prop('checked',false);

	$("#modal_pendientes_r").modal('hide');
	$("#formulario3").submit();
 });
	
$(".ocultar").click(function(){

	if ( $("#collapseExample").hasClass('in')){
		$("#a").html('Mostrar filtros');
	}else{
  		$("#a").html('Ocultar filtros');
  	}

 });
</script>