<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<style type="text/css">
.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
 padding-bottom: 50.2%;
  margin-bottom: 20px;
}
.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <!--Botones de cabecera-->
		    <php:repeticion id="formulario">
    			
          <form role="form" name="formulario2" id="formulario2" action="Documentos_Firmas.php" method="POST">
    				<input type="hidden" name="idDocumento" value="<php:item id="idDocumento" />" />
    				<button type="button" class="btn btn-default" onclick="history.back(-1)"><a><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a></button>
    			  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
      
          <div class="box-body">
            
            <!--Mensajes-->
            <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
            <div id="mensajeError"><php:texto id="mensajeError" /></div>
        
            <!--Datos referenciales-->
            <div class="row">
            
              <form role="form" name="formulario" id="formulario" action="Documentos_Firmas.php" method="POST">

                <div class="row">  			
                	<div class="col-lg-2 col-md-2 pull-right">
                    
                    <input type="hidden" name="idDocumento" value="<php:item id="idDocumento" />" />
                    <input type="hidden" name="id"            id="id"           />   
                    <input type="hidden" name="type"          id="type"         /> 
                    <input type="hidden" name="subtype"       id="subtype"      /> 
                    <input type="hidden" name="authenticated" id="authenticated"/> 
                    <input type="hidden" name="sign"          id="sign"         /> 
                    <input type="hidden" name="sessionid"        id="sessionid"         /> 

                    <input type="hidden"   name="inVerifyDocPersonalNumber" id="inVerifyDocPersonalNumber" value="<php:item id="RutUsuario"/>">
                    <input type="hidden"   name="inVerifyType" id="inVerifyType" value="<php:item id="TipoFirma"/>">
                    <input type="hidden" name="accion" value="FIRMAR" />
                		<button class="btn btn-md btn-primary btn-block " onclick="verificar_FRBK()" type="button" name="accion" id="btn-verify" value="FIRMAR" />Firmar</button>

                	</div>
                </div>

          			<div class="row">  
          				<div class="col-md-2">												
          						<span >Nro Documento : <php:item id="idDocumento" /></span>							
          				</div>					
          		  </div>
		  
		            <div class="row">			   
          				<div class="col-md-12">
          					<div class="responsiveContent">
          						<iframe id="ifrmArch" name="ifrmArch"  width="100%" height="600px" src="<php:item id="ruta" />" ></iframe>
          					</div>
          				</div>
                </div>
                <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form> 

            </div>
          </div>
        </php:repeticion>
      </div>
    </div>
  </div>
</div>
</section>