<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <!--Botones de cabecera-->
        <div class="box-header">
          <a href="Documentos_manuales.php" class="btn btn-default btn_letra_azul"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
        </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--Mensajes-->
        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
        <div id="mensajeError"><php:texto id="mensajeError" /></div>
        <!--Datos referenciales-->
        <div class="form-row">
          <!--Empresas-->
          <div class="col-md-6" style="padding-bottom: 15px;">
    		<h3>Datos del documento</h3>
	        <!--Formulario de datos propios de Clausulas-->
	        <form role="form" name="formulario" id="formulario" action="Documentos_manuales.php" method="POST">
	          <php:repeticion id="formulario">
	          	<table class="table table-striped">
		          <!--<div class="table-responsive">
		            <table class="table">-->
		            <tbody>
		            <tr>
		              <td><label for="Titulo" class="col-md-6">Nro Contrato:</label></td>
		              <td><php:item id="idDocumento" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6">Proyecto:</label></td>
		              <td><php:item id="idProyecto" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6">Descripci&oacute;n:</label></td>
		              <td><php:item id="Descripcion_Pl" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6">Nombre Tipo Documento:</label></td>
		              <td><php:item id="NombreTipoDoc" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6">Raz&oacute;n Social:</label></td>
		              <td><php:item id="RazonSocialGama" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6" >Nombre Cliente:</label></td>
		              <td><php:item id="RazonSocialCliente" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6" >Estado Firma:</label></td>
		              <td><php:item id="Nombre" /></td>
		            </tr>
					<tr>
		              <td><label for="Titulo" class="col-md-6" >Ejecutivo:</label></td>
		              <td><php:item id="NombreEjecutivo" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6" >Supervisor:</label></td>
		              <td><php:item id="NombreSupervisor" /></td>
		            </tr>
		            <tr>
		              <td><label for="Titulo" class="col-md-6" >Flujo:</label></td>
		              <td><php:item id="NombreWF" /></td>
		            </tr>					
		            </tbody>
		          </table>
				 <input type="hidden" name="accion" value="visualizar" />
				 <input type="hidden" name="idDocumento" value="<php:item id="idDocumento" />" />
				 
			
			 
	          <div class="form-row">  
				 <php:repeticion id="firmar">
	            <div class="col-md-4 xs-12">
					<button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion" value="INICIOFIRMA" /> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Firmar</button>
	            </div>
				</php:repeticion>  
				
				<php:repeticion id="aprobar">
	            <div class="col-md-4 xs-12">
	               <button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion" value="APROBAR" /><i class="fa fa-check-square-o" aria-hidden="true"></i> Aprobar</button>
	            </div>
				</php:repeticion>
				
				<php:repeticion id="rechazar">
	           <div class="col-md-4 xs-12">
	               <button class="btn btn-md btn-primary btn-block" type="button" data-toggle="modal" data-target="#myModal" style="margin-top: 10px"  /><i class="fa fa-ban" aria-hidden="true"></i> Rechazar</button>
	            </div>
				</php:repeticion>
				
				<div class="col-md-4 xs-12">
			
	               <button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion" value="VERDOCUMENTO" /> <i class="fa fa-search-plus" aria-hidden="true"></i> Ver Documento</button>
	            </div>
	          </div>   

			 <!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">Rechazo del Documento</h4>
					</div>
					<div class="modal-body">
						<div class="col-md-12">
							<label for="Descripcion">Observaci&oacute;n</label>
							<input type="text" class="form-control" id="observacion" maxlength="200" name="observacion" value="<php:item id="observacion" />" placeholder="observacion" >
						</div>
					</div>					
					<div class="modal-footer" style="margin-top:30px">
						 <br>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" name="accion" value="RECHAZAR" class="btn btn-default" >Aceptar</button>
					</div>
				  </div>
				</div>
			  </div>
			 
			<!--fin -->  
        	</form> 
      	</div>
      	<div class="col-md-6">
      		<h3>Firmantes</h3>
			<div id="divtabla" class="tabla-responsiva" >
				<table id="example" class="table table-bordered table-hover " name="tbltabla">
					  <thead>
						<tr>
							<th style="text-align: center;" data-campo="Rut">Rut</th>
							<th style="text-align: center;" data-campo="Nombre">Nombre</th>
							<th style="text-align: center;" data-campo="Fecha Firma">Fecha Firma</th>
		
						</tr>
					  </thead>
					<tbody>
						  <!--Contenido de Tabla-->
					<php:repeticion id="contratofirmantes">
					  <tr>
						<td style="text-align: center;" data-campo="Rut"><php:item id="RutFirmante" /></td>
						<td style="text-align: center;" data-campo="Nombre"><php:item id="nombre" /></td>
						<td style="text-align: center;" data-campo=""FechaFirma"><php:item id="FechaFirma" /></td>
					</php:repeticion>
					</tbody>
				</table>
			</div>
			
			 </php:repeticion>  
      	</div>
		</div>
		</div>

		</div>
		<!-- /.box -->
		</div>
	</div>
<!-- /.col -->
</div>
<!--Tomar datos con ajax y reasigna datos de un selec a un input hidden-->
