<div class="row">
  <div class="col-md-12">
	<div class="box">
	  <div class="box-body pad table-responsive">
		 <div class="box-header">
		  <div class="form-inline ">
			<div class="form-group">
			<php:repeticion id="formulario">			
		  </div>
			<div class="form-group">
			  <form name="formulario1" id="formulario" action="documentosxperfil.php" method="POST" autocomplete="off" >
			  
				<input type="hidden" name="tipousuarioid" 	id="tipousuarioid" 	value="<php:item id="tipousuarioid" />">		
				<input type="hidden" name="holdingid" 		id="holdingid"		value="<php:item id="holdingid" />">
				<input type="hidden" name="cantfilas" 	 	value="<php:item id="cantfilas" />" />		
				<input type="hidden" name="pagina"	 	 	value="<php:item id="pagina" />" />	
				<input type="hidden" name="nombre"	 	 	value="<php:item id="nombre" />" />	
				
				<button type="submit" class="btn btn-default"><a><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a></button>																
			    <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
				<br>
				<label for="nombre">Nombre de Perfil: <php:item id="nombre" /></label>		
			</div>
		  </div> 
		</div>	
	  <div class="box-body">
   <!--Mensajes-->
  <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
  <div id="mensajeError"><php:texto id="mensajeError" /></div>
			  
			  
			                          

			<form name="formulario" id="formulario" action="documentosxperfil.php" method="POST" >
				<div id="divtabla" class="tabla-responsiva" >
				
					<table id="example2" class="table table-bordered table-hover" name="tbltabla">
						<thead>
							<tr>
								
								<th style="text-align:center" data-campo="Selecci&oacute;n"><input id="SelAll" name="accion2" style="margin-top: 10px" onclick="SelectAllCheck(formulario)" type="checkbox"></th>
								<th style="text-align:center" data-campo="ID Documento">ID Documento</th>
								<th style="text-align:center" data-campo="Nombre">Nombre</th>
							</tr>
						</thead>
						<tbody>
						<php:repeticion id="tiposdocumentos">
						<tr>
							<td align="center" data-campo="Selecci&oacute;n"><input type="checkbox" name="sel_<php:filamenos />" id="sel<php:filamenos />" value="<php:item id="idTipoDoc" />"></td>
							<td align="center" data-campo="ID Documento"><php:item id="idTipoDoc" /></td>
							<td align="center" data-campo="Nombre"><php:item id="NombreTipoDoc" /></td>
	
							
						</tr></php:repeticion>
						</tbody>	
					</table>
				</div>		
				<br>
				<input type="hidden" name="holdingid"     value="<php:item id="holdingid" />">
				<input type="hidden" name="tipousuarioid" value="<php:item id="tipousuarioid" />" />		
				<input type="hidden" name="cantidad" 	  value="<php:texto id="cantidad" />" />
				<input type="hidden" name="nombre"	 	  value="<php:item id="nombre" />" />	
				
				<input type="hidden" name="accion" value="AGREGAR" />
				<div class="row d-flex justify-content-end">  
					<div class="col-md-2 xs-12 d-grid gap-2 ">           
                        <button class="btn btn-md btn-primary btn-block" type="submit" name="accion2" value="AGREGAR" style="margin-top: 10px">Guardar</button>  
                    </div>
			    </div>  
					
		
				</DIV>

		  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
		</php:repeticion>