  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <div class="row">
    <div class="col-md-12">
      <div class="box ">
        <div class="box-body pad table-responsive">
          <!--Botones de cabecera-->
          <div class="box-header">
            <form action="Fichas.php" method="POST">
              <button type="submit" name="accion" value="BUSCAR" class="btn btn-md btn-default btn_letra_azul"><i class="fa fa-home" aria-hidden="true"></i>Ir al listado</button>
              <a class="btn btn-default btn_letra_azul" href="Fichas.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
              <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!--Mensajes-->
            <div id="mensajeError"><php:texto id="mensajeError" /></div>
            <div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
            <!--<form name="formulario" class="formulario" id="formulario" action="Fichas.php" method="POST" autocomplete="off" enctype="multipart/form-data">-->
            <php:repeticion id="formulario">
            <php:repeticion id="empleado">
            <div class="row">
              <input type="hidden" id="Representantes" value="<php:item id="Representantes"/>" />
              <div class="col-md-2 col-xs-4" style="text-align:center;">
                <label for="nombre">Id de Ficha</label>
                <h5 name="nombre"><php:item id="fichaid"/></h5>
              </div>
              <div class="col-md-2 col-xs-4" style="text-align:center;">
                <label for="nombre">Estado</label>
                <h5 name="nombre"><php:item id="EstadoFicha"/></h5>
              </div>
              <div class="col-md-2 col-xs-4" style="text-align:center;">
                <label for="nombre">Trabajador</label>
                <h5 name="personaid"><php:item id="personaid"/> </h5>
                <h5 name="NombreTrabajador"><php:item id="NombreTrabajador"/></h5>
              </div>
              <div class="col-md-2 col-xs-4" style="text-align:center;">
                <label for="cargo">Cargo</label>
                <h5 name="cargo"><php:item id="cargoEmpleado"/></h5>
              </div>
              <div class="col-md-2 col-xs-4 firmantes" style="text-align:center;">
                <label for="nombre">Representante</label>
                <h5 name="rut_firmante"><php:item id="rut_firmante"/></h5>
                <h5 name="nombre_firmante"><php:item id="nombre_firmante"/></h5>
              </div>
              <div class="col-md-2 col-xs-4" style="text-align: center;">
                <button class="btn btn-info btn-md" type="button" data-toggle="modal" data-target="#detallePostulante">Detalles</button>
                <input type="hidden" class="form-control" id="rut" value="<php:item id="personaid"/>">
                <button class="btn btn-default btn-md" type="button" onclick="javascript:return enrolar_FMod();">Enrolar</button>
              </div>
            </div>
            </php:repeticion>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h4>Subida de Documentos</h4>
              </div>
            </div>
            <!--<div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active" ><a href="#datos_doc" data-toggle="tab">Subida de Documentos</a></li>
              </ul>
              <div class="tab-pane active" id="datos_doc">
                <div class="box-body">-->
                  <table id="tabla_documentos" class="table table-bordered table-hover " name="tbltabla">
                    <thead>
                      <tr>
                        <th style="text-align: center;" data-campo="Obligatorio">Obligatorio</th>
                        <th style="text-align: center;" data-campo="Tipo de Documento">Tipo de Documento</th>
                        <th style="text-align: center;" data-campo="Archivo de subida">Documento</th>
                        <th style="text-align: center;" data-campo="Opciones">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <php:repeticion id="Checklist">
                      <tr>
                        <td style="text-align: center;" data-campo="Obligatorio"><php:item id="Obligatorio_icono"/></td>
                        <td style="text-align: center;" data-campo="Nombre"><php:item id="Nombre"/></td>
                        <td style="text-align: center;" data-campo="Documento"><div id="documento_<php:filamenos />" ><php:item id="documento" /></div></td>
                        <td style="text-align: center;" data-campo="Opciones">
                          <!-- <input type="button" name="Subir" id="Subir_<php:filamenos />" class="btn btn-sm btn-primary subir" value="Subir" data-toggle="modal" data-target="#modal_subir" onclick="asignarAlModal_Fmod(<php:filamenos />)"/>-->
                          <button type="button" name="accion" id="Subir_<php:filamenos />" class="btn btn-sm btn-primary subir" data-toggle="modal" data-target="#modal_subir" onclick="asignarAlModal_Fmod(<php:filamenos />);"/>Subir</button>
                          <button type="button" name="accion" id="VER_DOCUMENTO_<php:filamenos />" class="btn btn-sm btn-primary ver">Ver</button>
                          <button type="button" name="accion" id="ELIMINAR_DOCUMENTO_<php:filamenos />" class="btn btn-sm btn-default eliminar" >Eliminar</button>
                          <input type="hidden" name="fichaid" id="fichaid_<php:filamenos />" value="<php:item id="fichaid" />" />
                          <input type="hidden" name="Obligatorio" id="Obligatorio_<php:filamenos />" value="<php:item id="Obligatorio" />" />
                          <input type="hidden" name="idTipoGestor" id="idTipoGestor_<php:filamenos />" value="<php:item id="idTipoGestor" />" />
                          <input type="hidden" name="documentoid" id="documentoid_<php:filamenos />" value="<php:item id="documentoid" />" />
                          <input type="hidden" name="Nombre" id="Nombre_<php:filamenos />" value="<php:item id="Nombre" />" />
                          <form name="formulario_eliminar_<php:filamenos />" id="formulario_eliminar_<php:filamenos />" action="Fichas.php" method="POST">
                            <input type="hidden" name="fichaid"     id="fichaid_eliminar_<php:filamenos />"/>
                            <input type="hidden" name="documentoid" id="documentoid_eliminar_<php:filamenos />"/>
                            <input type="hidden" name="Obligatorio" id="Obligatorio_eliminar_<php:filamenos />"/>
                            <input type="hidden" name="accion" onclick="javascript:return preguntarPorBorrar();" value="ELIMINAR_DOCUMENTO" />
                            <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                          <form name="formulario_ver_<php:filamenos />" id="formulario_ver_<php:filamenos />" action="Fichas.php" method="POST">
                            <input type="hidden" name="fichaid"     id="fichaid_ver_<php:filamenos />"/>
                            <input type="hidden" name="documentoid" id="documentoid_ver_<php:filamenos />"/>
                            <input type="hidden" name="accion" value="VER_DOCUMENTO" />
                            <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                        </td>
                      </tr>
                      </php:repeticion>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="4"> 
                          <div class="col-md-2 col-md-offset-5 ">  
                            <button type="button" name="Subir" id="Subir_<php:filamenos />" class="btn btn-md btn-primary subir_adicional"data-toggle="modal" data-target="#modal_subir_adicional" onclick="asignarAlModal_Fmod(<php:filamenos />)"><i class="fa fa-upload"></i>  Subir Documento adicional</button>
                          </div> 
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="row"> 
                    <form name="formulario" id="formulario" action="Fichas.php" method="POST"> 
                      <input type="hidden" name="fichaid" id="fichaid_<php:filamenos />" value="<php:item id="fichaid" />" />
                      <div class="col-md-2 xs-12 pull-right">  
                        <input type="hidden" name="idEstado" id="idEstado" value='<php:item id="idEstado" />' />
                        <input type="hidden" name="accion2" value=""/>
                        <button class="btn btn-md btn-success btn-block" type="submit"  name="accion" id="BTN-SIGUIENTE" value="SETFIRMANTES" style="margin-top: 25px" data-toggle="tooltip" />Siguiente</button>
                      </div>
                      <div class="col-md-2 xs-12 pull-left">  
                        <button class="btn btn-md btn-default btn-block" type="submit" name="accion" id="CANCELAR" value="CANCELAR" style="margin-top: 25px"  onclick="javascript:return cambiaEstado_FMod();" data-toggle="tooltip" tittle="Cancelar el flujo" >Cancelar flujo</button> 
                      </div>
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                  </div>
                <!-- </div>
              </div>
            </div>-->
            <!--   <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal para subida de documentos-->
<div class="modal fade bd-example-modal" id="modal_subir" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h4 class="modal-title" id="ejemplo-titulo"> Seleccione Documento a subir <h3 id="num"></h3></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="cerrar_modal">&times;</span>
        </button>
      </div>
      <form name="formulario_subir" id="formulario" action="Fichas.php" method="POST" autocomplete="off" enctype="multipart/form-data" class="formulario">
        <div class="modal-body">
          <div id="mensajeError_modal"></div>
          <!--Ficha-->
          <input type="hidden" name="fichaid" id="idFicha_modal"/>
          <!--Obligatorio-->
          <input type="hidden" name="Obligatorio" id="Obligatorio_modal" />
          <!--Tipo de Documento-->
          <input type="hidden" name="tipodocumentoid" id="idTipoGestor_modal" />
          <!--Subir documento-->
          <div class="row">
            <div class="col-md-12" id="doc">
              <label for="Subir" id="doc_label">Seleccione archivos PDF </label>
              <div class="form-group" id="doc_hijo"> 
                <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                  <input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento" readonly>
                </div>
                <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                  <span class="btn btn-primary btn-file">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <input type="file" name="archivo" id="archivo"  accept="application/pdf" class="archivo_FMod" />
                  </span>
                </div>
                <span class="fileinput-filename"></span>
                <span class="fileinput-new"></span>
              </div>
            </div>
          </div>
          <!--Tipo de Documento -->
          <div class="row">
            <div class="col-md-12" >
              <label for="Tipo Documento">Tipo Documento</label>
              <input type="text" class="form-control" name="idTipoDoc" id="idTipoDoc" readonly/>
              <input type="hidden" class="form-control" name="idTipoGestor" id="idTipoGestor" />
            </div>
          </div>
        </div>
        <div class="modal-footer" >
          <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top:10px">
              <button type="submit" name="accion" value="AGREGAR_DOC" id="AGREGAR_DOC" class="btn btn-primary btn-block" >Agregar Documentos</button>
            </div>
          </div>
        </div>
        <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
    </div>
  </div>
</div>
<!-- Modal para subida de documentos adicionales-->
<div class="modal fade bd-example-modal" id="modal_subir_adicional" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h4 class="modal-title" id="ejemplo-titulo"> Seleccione Documento a subir <h3 id="num"></h3></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="cerrar_modal">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div id="mensajeError_adicional"></div>
      <form name="formulario_adicional" id="formulario_adicional" action="Fichas.php" method="POST" autocomplete="off" enctype="multipart/form-data">
        <!--Ficha-->
        <input type="hidden" name="fichaid" value="<php:texto id='fichaid'/>" />
        <!--Subir documento-->
        <div class="row">
          <div class="col-md-12" id="doc">
            <label for="Subir" id="doc_label">Seleccione archivos PDF </label>
            <div class="form-group" id="doc_hijo"> 
              <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                <input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento_adicional" readonly>
              </div>
              <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                <span class="btn btn-primary btn-file">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <input type="file" name="archivo" id="archivo_adicional"  accept="application/pdf"  />
                </span>
              </div>
              <span class="fileinput-filename"></span>
              <span class="fileinput-new"></span>
            </div>
          </div>
        </div>
        <!--Tipo de Documento-->
        <div class="col-md-12">
          <label for="TipoDocumento" >Tipo de Documento</label>
          <!--Select de Empresas disponibles-->
          <select class= "form-control" name="idTipoGestor" id="idTipoGestor_adicional">
            <option value="0">(Seleccione)</option>
            <php:repeticion id="TiposDocumentos">
            <option value="<php:item id="idTipoGestor" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoGestor" /><php:argumento idvalor="idTipoGestor" /></php:funcion>><php:item id="Nombre" /></option>
            </php:repeticion>
          </select>
          <input type="hidden" class="form-control" name="Obligatorio" value="2" />
        </div>
      </div>
      <div class="modal-footer" >
        <!--<button type="button" class="btn btn-secondary btn-sm" id="cerrar" data-dismiss="modal">Cerrar</button>-->
        <div class="row">
          <div class="col-md-4 col-md-offset-4" style="margin-top:10px">
            <button type="submit" name="accion" value="AGREGAR_DOC" id="AGREGAR_DOC_ADICIONAL" class="btn btn-primary btn-block" >
            Agregar Documentos</button>
          </div>
        </div>
        <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
    </div>
  </div>
</div>
</div>
<!--Modal del detalle del postulante-->
  <div class="modal fade" id="detallePostulante" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header" align="center">
          <h4 class="modal-title" id="ejemplo-titulo"> Informaci&oacute;n postulante</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="cerrar_modal">&times;</span>
          </button>
        </div>
        <!--<div class="modal-body">-->
        <div class="modal-body " style=" max-height:400px; overflow-y: auto;">
          <div class="box-body">
            <php:repeticion id="empleado">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <label for="rut">R.U.T.</label>
                <h5 name="rut"><php:item id="personaid"/></h5>
              </div>
              <div class="col-md-6 col-xs-12">
                <label for="nombre">Nombre trabajador</label>
                <h5 name="nombre"><php:item id="NombreTrabajador"/></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <label for="nacionalidad">Nacionalidad</label>
                <h5 name="nacionalidad"><php:item id="nacionalidad"/></h5>
              </div>
              <div class="col-md-6 col-xs-12">
                <label for="direccion">Direcci&oacute;n</label>
                <h5 name="direccion"><php:item id="direccion"/></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <label for="comuna">Comuna</label>
                <h5 name="comuna"><php:item id="comuna"/></h5>
              </div>
              <div class="col-md-6 col-xs-12">
                <label for="ciudad">Ciudad</label>
                <h5 name="ciudad"><php:item id="ciudad"/></h5>
              </div>
            </div>
            <div class="row">
              <!--<div class="col-md-6 col-xs-12">
                <label for="fono">Fono</label>
                <h5 name="fono"><php:item id="fono"/></h5>
              </div>-->
              <div class="col-md-6 col-xs-12">
                <label for="correo-electronico">Correo electr&oacute;nico</label>
                <h5 name="correo-electronico"><php:item id="correo"/></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <label for="estado-civil">Estado civil</label>
                <h5 name="estado-civil"><php:item id="Estado"/></h5>
              </div>
              <div class="col-md-6 col-xs-12">
                <label for="fecha-nacimiento">Fecha nacimiento</label>
                <h5 name="fecha-nacimiento"><php:item id="fechanacimiento"/></h5>
              </div>
            </div>
            </php:repeticion>
          </div>
        </div>
        <div class="modal-footer" style="margin-top:10px;">
          <button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
    <input type="hidden" name="usuarioid_FMod" id="usuarioid_FMod" value="<php:item id='usuarioid'/>" />
  </div>
  </php:repeticion>
