<!-- Modal -->
<div class="modal fade" id="myModalx" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modal-headerx" style="background-color:#4e73df">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="cerrar_modal"></span></button>
        <h3 class="modal-title" id="myModalLabelx">MENSAJE</h3>
      </div>
      <div class="modal-body">
        <h4 id="msjepopupx"></h4>
      </div>

      <div class="modal-footer">
        <p><button type="submit" class="btn btn-primary btn-sm pull-left" data-dismiss="modal"></span>Cerrar</button>
        </p>
      </div>
    </div>
  </div>
</div>

<!--Pie de pagina-->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Versi&oacute;n</b> 3.0
  </div>
  <strong>Copyright &copy; 2018 <a href="#" style="color: #006c90;">Rubrika</a>.</strong>
</footer>
<!-- Fin de Wrapper -->

<!--Scripts-->
    <script src="js/declaracionesDatatime.js"></script>
    <!-- jQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery-ew.min.js"></script>
    <!-- Bootstrap-->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="js/app.min.js"></script>
    <script src="js/adminlte.min.js"></script>

    <!-- DataTables -->
    <script src="js/jquery.dataTables.js?v=1.2"></script>
    <script src="js/dataTables.bootstrap5.min.js?v=1.2"></script>
    <script src="js/declaraciones.js?v=1.2"></script>

    <!--JS personalizado-->
    <script src="js/comun.js"></script>
    <script src="js/cargamenu.js"></script>
    <script src="js/templates.js"></script>
 
    <!-- Switch -->
    <script src="js/switchery.min.js"></script>
    <!--Editor de Texto-->
    <script src="plugins/ckeditor/ckeditor.js"></script>
    
    <!--Drag and Drop -->
    <script src="js/jquery.tablednd.min.js?=1.0"></script>
   

<!--Fin del Body-->
</body>

</html>

