<!DOCTYPE html>
<html >
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Rubrika | Firma</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="assets\bootstrap\css\bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/AdminLTE.min.css">
	  	<link rel="stylesheet" href="css/_all-skins.css?=1.2">
	  	<link rel="stylesheet" href="css/steps.css">
	  	<!--<link rel="stylesheet" href="css/estilos.css">-->
	  	<link rel="stylesheet" href="css/gama_leasing.css" >
		<link rel="stylesheet" href="css/dataTables.css" >
		<link rel="stylesheet" href="css/toastr.css" rel="stylesheet">
		<link rel="stylesheet" href="css/switchery.min.css" />
		<link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap5.min.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
		<link rel="stylesheet" type="text/css" href="js/datepicker/css/bootstrap-datepicker3.min.css"/>
		
		<script src="js/jquery.js"></script>		
		<script src="js/datepicker/js/bootstrap-datepicker.min.js"></script>
	    <script src="js/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
		<script src="js/comun.js?=1.5"></script>  
		<script src="js/rl_form.js?v=2.5"></script>
		<link rel="shortcut icon" href="images/favicon.ico"/>
	
	</head>
	<body class="hold-transition skin-purple sidebar-mini" id="bodyx">
		<!--Gift de Cragando pagina-->
	<!--	<div id="cargando" >
			<img id="cargandoImagen" src="images/cargando.gif" alt="cargando" height="242" width="242" >
		</div>	-->
		 <!--Contenedor principal-->
		<div class="wrapper">
			<!-- Encabezado -->
			<header class="main-header">				
				<!-- Logo -->
				<a onclick="homex()" class="logo">
				  <!-- mini logo for sidebar mini 50x50 pixels -->
				  <!--<span class="logo-mini"><img src="./images/logo_mini.png" width="50" alt="Logo"/></span>	-->  
				  <span class="logo-mini"></span>	
				  <!-- logo for regular state and mobile devices -->
				  <span class="logo-lg">
					<img src="./images/logo.png" width="30" alt="Logo" title="Inicio"/>
					<!--<span >Inicio</span>-->
				</span>
				  <span class="logo-lg"></span>

				</a>
				<!-- Header Navbar -->
				<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="padding-top: 0; padding-bottom: 0;">
					<div class="container-fluid" style="padding-top: 0;">
						<ul class="navbar-nav">
							<a href="#" class="sidebar-toggle" onclick="muestramenu()" data-toggle="push-menu"  role="button"><!--data-toggle="offcanvas"--> 
								<span class="sr-only">Men&uacute;</span>
							</a>
						</ul>
						<ul class="navbar-nav d-flex">
							<li class="nav-item">
								<a href="index3.html" class="nav-link text-light" style="padding-top: 20px;">Cambio Contrase&ntilde;a
									<span class="hidden-xs"></span><br/></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link text-light" style="padding-top: 20px;">Cerrar Sesi&oacute;n
									<span class="hidden-xs"></span><br/></a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link text-light">
									<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> 
									<span class="hidden-xs"><php:texto id="usuario_nombre" /><br/>
									<php:texto id="nombreperfil" /></span>
								</a>
							</li>
						</ul>	
					</div>
				</nav>			
			</header>

