<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--Mensajes-->
        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
        <div id="mensajeError"><php:texto id="mensajeError" /></div>
        <div id="mensajeAd"><php:texto id="mensajeAd" /></div>
        <!--Formulario de los datos propios de Categoria-->   
        <form role="form" name="formulario" id="formulario" action="Generar_Manuales.php" method="POST" autocomplete="off" enctype="multipart/form-data">
          <php:repeticion id="formulario">
            
             <!--Empresa-->
            <div class="row">
              <div class="col-md-6 xs-12">
               <label>Empresa</label>
                <div class="box-body" style="padding-left: 0px;">
                    <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                      <input class="form-control" type="text" name="RutEmp" id="RutEmp" autofocus value="<php:item id="RutEmpresa" />  <php:item id="RazonSocial"/>" readonly style="background-color:white;" />
                      <input type="hidden" name="RutEmpresa" id="RutEmpresa" value="<php:item id="RutEmpresa"/>"/>
                    </div>
                    <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                       <button class="btn btn-md btn-primary btn-block" type="submit" name="accion" value="BUSCAR_EMPRESA" id="btn_empresa" autofocus><i class="fa fa-search"></i></button>  
                    </div>
                  </div>
                </div>
            </div>

            <!--Cliente-->
            <div class="row">
              <div class="col-md-6 xs-12">
                 <label>Cliente</label>
                 <div class="box-body" style="padding-left: 0px;">
                  <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                    <input class="form-control" type="text" name="RutCli" id="RutCli" value="<php:item id="RutEmpresaC" /> <php:item id="RazonSocialC"/>" readonly style="background-color:white;"/>
                     <input type="hidden" name="RutEmpresaC" id="RutEmpresaC" value="<php:item id="RutEmpresaC"/>" />
                  </div>
                  <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                     <button class="btn btn-md btn-primary btn-block" type="submit" name="accion" value="BUSCAR_CLIENTE" id="btn_cliente" tabindex="2"><i class="fa fa-search"></i></button>  
                  </div>
                </div>
              </div>
            </div>

          <!--Flujos-->
          <div class="row">
            <div class="col-md-6 xs-12"> 
            <label for="Flujo" >Flujo de Firmas</label>
            <select class= "form-control Flujo_GMAgregar" name="Flujo" id="Flujo" tabindex="2">
              <option value='<php:item id="idWF" />'><php:item id="NombreWF" /></option>
              <php:repeticion id="Flujo">
                <option value='<php:item id="idWF" />'>
                    <php:funcion id="ContenedorUtilidades::evaluarSeleccion">
                        <php:argumento id="idWF" />
                        <php:argumento valor="idWF" />
                     </php:funcion>
                     <php:item id="NombreWF" />
                </option>
              </php:repeticion>
            </select>
           </div> 
          </div> 

        <!--Modelo de Contrato-->
          <div class="row">
            <div class="col-md-6 xs-12"  >
               <label>Modelo de Contrato</label>
               <select class= "form-control modelo_contrato_GMAgregar" name="modelo_contrato" id="modelo_contrato" tabindex="3">
                 <option value='<php:item id="idMC"/>'><php:item id="DescripcionMC" /></option>
                  <php:repeticion id="Modelo_Contrato">
                    <option value='<php:item id="idMC"/>'>
                      <php:funcion id="ContenedorUtilidades::evaluarSeleccion">
                        <php:argumento id="idMC" />
                        <php:argumento valor="idMC" />
                      </php:funcion>
                      <php:item id="DescripcionMC" />
                    </option>
                  </php:repeticion>
              </select>
            </div>
          </div>
  
         <!--idDocumento_Gama-->
         <div id="Documento_Gama" class="row">
           <div class="col-md-6 xs-12 " style="margin-top: 15px;" >
            <label for="Documento_Gama" >Id Documento Gama</label>
            <input class="form-control" type="text" name="idDocumento_Gama" id="idDocumento_Gama" value='<php:item id="idDocumento_Gama" />' placeholder="Id de Documento" tabindex="4"/>
          </div>
        </div>

          <!--Tipo de Firmas-->
          <div class="row">
            <div class="col-md-6 xs-12" style="margin-top: 15px;" >
              <label>Tipo de Firma</label>
              <select class="form-control TipoFirmas_GMAgregar" id="TipoFirmas" name="TipoFirmas" tabindex="5">
                <option value='<php:item id="idTipoFirma"/>'><php:item id="Descripcion" /></option>
                  <php:repeticion id="TipoFirmas">
                    <option value='<php:item id="idTipoFirma" />'>
                        <php:funcion id="ContenedorUtilidades::evaluarSeleccion">
                          <php:argumento id="idTipoFirma" />
                          <php:argumento valor="idTipoFirma" />
                        </php:funcion>
                        <php:item id="Descripcion" />
                    </option>
                  </php:repeticion>   
              </select>
            </div>
          </div>

         <!--Notarias-->
         <div id="Notaria_div" class="row">
           <div class="col-md-6 xs-12 ">
            <label for="Notaria" style="margin-top: 10px;margin-bottom: 0px;">Notaria</label>
            <div class="box-body"  style="padding-left: 0px; padding-right: 0px;">
              <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                <input class="form-control" type="text" name="Notaria" id="Notaria" value='<php:item id="Notaria" />' readonly style="background-color:white;" />
                <input type="hidden" name="RutEmpresaN" id="RutEmpresaN" value='<php:item id="RutEmpresaN"/>' />
              </div>
              <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                 <button class="btn btn-md btn-primary btn-block" type="submit" name="accion" value="BUSCAR_NOTARIA" id="btn_notaria" tabindex="6"><i class="fa fa-search"></i></button>  
              </div>
            </div>
          </div>
        </div>

        <!--Subir documento-->
        <div class="row">
          <div class="col-md-6" id="doc" style="margin-top:15px;">
            <label for="Subir" id="doc_label">Seleccionar archivo PDF</label>
            <div class="form-group" id="doc_hijo"> 
              <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                <input type="text" class="form-control" maxlength="50" name="Documento" id="Documento" tabindex="7">
              </div>
              <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                <span class="btn btn-primary btn-file ">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  <input type="file" name="archivo" id="archivo" accept=".pdf" class="archivo_GMAgregar"/>
                </span>
              </div>
              <span class="fileinput-filename"></span>
              <span class="fileinput-new"></span>
            </div>
          </div>
        </div>

         <!--Seleccionar Firmantes por Empresas -->
         <div class="row">
           <div class="col-md-12">
             <h5></h5>
           </div>
         </div>

          <div class="row">
            <div class="col-md-12">
                <label>Seleccione Firmantes</label>
               
                  <!-- Pasos-->
                  <div class="steps-form-2">
                      <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
                          <div class="steps-step-2">
                              <a href="#step-1" id="boton_emp" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Empresa"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-building" aria-hidden="true"></i></a>
                              <div>Empresa</div>
                          </div>
                          <div class="steps-step-2">
                              <a href="#step-2" id="boton_cli" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Cliente"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-users" aria-hidden="true"></i></a>
                               <div>Cliente</div>
                          </div>
                          <div class="steps-step-2">
                              <a href="#step-3" id="boton_not" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0 not steps-not" data-placement="top" title="Notaria"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                              <div>Notaria</div>
                          </div>
                      </div>
                  </div>
              
                  <!--Firmantes de Empresas-->
                  <div class="collapse" id="step-1">
                   <table id="tabla_emp" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                          <h4> Representantes de la Empresa </h4>
                      </tr> 
                      <tr>
                        <th style="text-align: center;">Selecci&oacute;n</th>
                        <th style="text-align: center;">Rut</th>
                        <th style="text-align: center;">Nombre y Apellido</th>
                        <th style="text-align: center;">Personeria</th>
                      </tr>
                    </thead>
                    <tbody>
                     <php:repeticion id="firmantes_empresa">
                      <tr id="fila_emp_<php:filamenos />">
                        <td style="text-align: center;"><input type="checkbox" aria-label="Checkbox for following text input" name="Firmantes_Emp[]" class="f_emp f_emp_GMAgregar" value='<php:item id="personaid"/>' id='emp_<php:filamenos />'><input type="checkbox" aria-label="Checkbox for following text input" name="Firmantes_Emp_Per[]" class="f_emp_per" id="<php:item id="personaid"/>" style="display:none;"></td>
                        <td style="text-align: center;"><php:item id="personaid"/></td>
                        <td style="text-align: center;"><php:item id="nombre"/> <php:item id="appaterno"/></td>
                        <td style="text-align: center;">
                          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title='<php:item id="Personeria"/>' id="btn_ver_<php:filamenos />">Ver</button>
                        </td>
                      </tr>
                    </php:repeticion>

                    </tbody>                 
                   </table>
                  </div>
                <!--Fin de firmantes-->
               
                  <!--Firmantes de Cliente-->
                  <div class="collapse" id="step-2">
                   <table id="tabla_cli" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <h4> Firmantes del Cliente </h4>
                      </tr> 
                      <tr >
                        <th style="text-align: center;">Selecci&oacute;n</th>
                        <th style="text-align: center;">Rut</th>
                        <th style="text-align: center;">Nombre y Apellido</th>
                        <th style="text-align: center;">Personeria</th>
                      </tr>
                    </thead>
                    <tbody>
                      <php:repeticion id="firmantes_cliente">
                      <tr id="fila_cli_<php:filamenos />">
                        <td style="text-align: center;"><input type="checkbox" aria-label="Checkbox for following text input" name="Firmantes_Cli[]" class="f_cli_GMAgregar" value='<php:item id="personaid"/>' id="cli_<php:filamenos />"><input type="checkbox" aria-label="Checkbox for following text input" name="Firmantes_Cli_Per[]" class="f_cli_per" id="<php:item id="personaid"/>_cli" style="display:none;"></td>
                        <td style="text-align: center;"><php:item id="personaid"/></td>
                        <td style="text-align: center;"><php:item id="nombre"/> <php:item id="appaterno"/></td>
                         <td style="text-align: center;"><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" value="1" title='<php:item id="Personeria"/>' id="btn_ver_cli_<php:filamenos />">Ver</button></td>
                      </tr>
                      </php:repeticion>
                    </tbody>                 
                   </table>

                   <div class="row" id="avales">
                    <h4>Avales</h4>
                     <div class="col-md-12">
                      <table id="avales" class="table table-bordered table-hover" >
                        <tr>
                          <td><input type="text" name='rut_aval' id="rut_aval" placeholder="Rut del aval" class="form-control rut_aval_GMAgregar" maxlength="10"></td>
                          <td><input type="text" name="nombre_aval" id="nombre_aval" placeholder="Nombre " class="form-control" maxlength="50" ></td>
                          <td><input type="text" name="apellido_aval" id="apellido_aval" placeholder="Apellido Paterno" class="form-control" maxlength="50"></td>
                          <td><input type="email" name="correo_aval" id="correo_aval" placeholder="Correo electr&oacute;nico" class="form-control" maxlength="60"></td>
                          <!--<td style="text-align: center;"><button style="background-color: transparent;" class="btn" type="button" id="agregar"><i class="fa fa-plus" aria-hidden="true"></i></button></td>-->
                        </tr>
                        <tr>
                          <td colspan="4"><textarea name="personeria_aval" id="personeria_aval" rows="5" cols="80" style="width: 100%;" placeholder=" Personeria"></textarea></td>
                        </tr>
                      </table>
                     </div>
                   </div>
                  </div>
                   <!--Fin de firmantes-->
                   
                  <!--Firmantes de Notaria-->
                  <div class="collapse" id="step-3">
                   <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <h4> Notarios </h4>
                      </tr> 
                      <tr>
                        <th style="text-align: center;">Selecci&oacute;n</th>
                        <th style="text-align: center;">Rut</th>
                        <th style="text-align: center;">Nombre y Apellido</th>
                      </tr>
                    </thead>
                    <tbody>
                      <php:repeticion id="firmantes_notaria">
                      <tr id="firmantes_notaria">
                        <td style="text-align: center;"><input type="checkbox" aria-label="Checkbox for following text input" name="Firmantes_Not[]" class="f_cli_GMAgregar" value="<php:item id="personaid"/>"></td>
                        <td style="text-align: center;"><php:item id="personaid"/></td>
                        <td style="text-align: center;"><php:item id="nombre"/> <php:item id="appaterno"/></td>
                      </tr>
                      </php:repeticion>
                    </tbody>                 
                   </table>
                  </div>
                   <!--Fin de firmantes-->
                </div>
              </div>
            <!--Fin de Firmantes-->

           <div class="row">  
            <div class="col-md-2 xs-12 pull-right">  
                <input type="hidden" id="input_emp" name="input_emp" value="<php:item id="input_emp"/>"/>
                <input type="hidden" id="input_cli" name="input_cli" value="<php:item id="input_cli"/>"/>
                <input type="hidden" id="input_not" name="input_not" value="<php:item id="input_not"/>"/>
                <input type="hidden" id="input_aval" name="input_aval" value="<php:item id="input_aval"/>"/>
                <input type="hidden" id="ACTIVAR" name="ACTIVAR"/>
                <button class="btn btn-md btn-success btn-block" type="submit" name="accion" id="GENERAR" value="GENERAR" style="margin-top: 10px" >Generar</button>  
            </div>
           </div>

            <!--Fin del repeticion de formulario-->
          </php:repeticion>  
          <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>  
      </div>
    </div>
  </div>
</div>
