<div class="row">
  <div class="col-md-12">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body" style="padding: 30px;"">
        <!--Mensajes-->
        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
        <div id="mensajeError"><php:texto id="mensajeError" /></div>
        <div id="mensajeAd"><php:texto id="mensajeAd" /></div>
        <!--Formulario de los datos propios de Categoria-->   
        <form role="form" name="formulario" id="formulario" action="Generar_Documentos_Masivo.php" method="POST" autocomplete="off" enctype="multipart/form-data">
          <php:repeticion id="formulario">
			
			<div class="row">
			  <div class="col-md-12">
				<label style="float:right;"> (*) Campos obligatorios </label>
			  </div>
			</div>
							
            <div class="row">
              <!--Empresas-->
              <div class="col-md-6" style="padding-bottom: 15px;">
                <label for="Empresa" >Empresa (*)</label>
                <!--Select de Empresas disponibles-->
                <select class= "form-control RutEmpresa_GMasivo" name="RutEmpresa" id="RutEmpresa">
                <option value="0">( Seleccione )</option>
                  <php:repeticion id="Empresas">
                    <option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
                  </php:repeticion>
                </select>
              </div>
  
              <!--Tipo de Documento-->
              <div class="col-md-6" style="padding-bottom: 15px;">
                  <label for="TipoDeDocumento" >Tipo de Documento (*)</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control idTipoDoc_GMasivo" name="idTipoDoc" id="idTipoDoc" required>
                    <option value="0">(Seleccione)</option>
                    <php:repeticion id="TipoDocumentos">
                      <option value="<php:item id="idTipoDoc" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoDoc" /><php:argumento idvalor="idTipoDoc" /></php:funcion>><php:item id="NombreTipoDoc" /></option>
                    </php:repeticion>
                  </select>
              </div>
            </div>
            <div class="row">
              <!--Procesos-->
              <div class="col-md-6" style="padding-bottom: 15px;">
                  <label for="Proceso" >Proceso (*)</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control idProceso_GMasivo" name="idProceso" id="idProceso" required>
                    <option value="0">(Seleccione)</option>
                    <php:repeticion id="idProceso">
                      <option value="<php:item id="idProceso" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idProceso" /><php:argumento idvalor="idProceso" /></php:funcion>><php:item id="Descripcion" /></option>
                    </php:repeticion>
                  </select>
              </div>

              <!--Plantilla-->
              <div class="col-md-6 xs-12" style="padding-bottom: 15px;">
                  <label>Plantilla (*)</label>
                  <select class="form-control idPlantilla_GMasivo" name="idPlantilla" id="idPlantilla">
                    <option value="0">( Seleccione )</option>
                  </select>
              </div>
            </div>
            <div class="row">
              <!--Tipo de Firmas-->
              <div class="col-md-6" style="padding-bottom: 15px;">
                  <label for="Proceso" >Tipo de firma (*)</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control idFirma_GMasivo" name="idFirma" id="idFirma" required>
                    <option value="0">(Seleccione)</option>
                    <php:repeticion id="idFirma">
                      <option value="<php:item id="idTipoFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoFirma" /><php:argumento idvalor="idTipoFirma" /></php:funcion>><php:item id="Descripcion" /></option>
                    </php:repeticion>
                  </select>
              </div>
           
              <!--Subir documento-->       
              <div class="col-md-6" id="doc">
                <label for="Subir" id="doc_label">Seleccione archivo de carga (*)</label>
                <div class="box-body" id="doc_hijo" style="padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;"> 
                  <div class="input-group input-group-md" >
                    <input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento" readonly>
                    <span class="input-group-append">                  
                      <button type="file" name="archivo" id="archivo"  class="btn btn-md btn-primary btn-fla btn-file archivo_GMasivo"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ><i class="fa fa-upload" aria-hidden="true"></i></button>
                    </span>
                  </div>
                  <span class="fileinput-filename"></span>
                  <span class="fileinput-new"></span>
                </div>
              </div>
          </div>

         <!--Seleccionar Firmantes por Empresas -->
         <div class="row">
           <div class="col-md-12">
             <h5></h5>
           </div>
         </div>

        <div class="row">
            <div class="col-md-12">
                <label id="label" style="display: none">Seleccione Firmantes</label>
               
                  <!-- Pasos-->
                  <div class="steps-form-2">
                      <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
                          <div class="steps-step-2" id="icono_representante" style="display:none">
                              <a href="#step-1" id="boton_emp" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Empresa"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-building" aria-hidden="true"></i></a>
                              <div id="text_emp" class="text">Firmantes</div>
                          </div>
                          <div class="steps-step-2" style="display:none">
                              <a href="#step-2" id="boton_cli" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Cliente"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-users" aria-hidden="true"></i></a>
                               <div id="text_cli" class="text">Cliente</div>
                          </div>
                          <div class="steps-step-2" style="display:none">
                              <a href="#step-3" id="boton_not" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0 not steps-not" data-placement="top" title="Notaria"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                              <div id="text_not" class="text">Notaria</div>
                          </div>
                      </div>
                  </div>
              
                  <!--Firmantes de Empresas-->
                  <div class="collapse" id="step-1">
                   <table id="tabla_emp" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                          <h4> Firmantes </h4>
                      </tr> 
                      <tr>
                        <th style="text-align: center;">Selecci&oacute;n</th>
                        <th style="text-align: center;">Rut</th>
                        <th style="text-align: center;">Nombre y Apellido</th>
                        <th style="text-align: center;">Cargo</th>
						            <th style="text-align: center;">Orden</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>                 
                   </table>
                  </div>
                <!--Fin de firmantes-->
            </div>
        </div>
        <!--Fin de Firmantes-->
         
          <div class="row d-flex justify-content-between">  
    
              <div class="col-md-2 xs-12">  
                  <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="VER" value="VER" onclick="ver_GMasivo()" style="margin-top: 10px">Ver &uacute;ltima generaci&oacute;n</button>  
              </div>
              <div class="col-md-4 xs-12">  
                <div id="estado" style="display:none;">
                  <div>
                    <label id="estadodetalle">Estado generaci&oacute;n</label>
                  </div>
                  <progress value="0" id="progreso" max="<php:item id="highestRow" />">	</progress>
                </div>
              </div>
              <div class="col-md-2 xs-12 d-flex justify-content-end">  
                  <input type="hidden" id="idWF" name="idWF"/>
              
                  <!--Firmantes de la Plantilla-->
                  <input type="hidden" id="Representantes" name="Representantes" />
                  <input type="hidden" id="Empleado" name="Empleado" />
                  <input type="hidden" id="Cantidad_Firmantes" name="Cantidad_Firmantes" />
  
                  <input type="hidden" id="input_empleado" name="input_empleado" value="<php:item id="input_empleado"/>"/>
                  <input type="hidden" id="ACTIVAR" name="ACTIVAR"/>
                  <button class="btn btn-md btn-success btn-block justify-content-end" type="button" name="accion" id="GENERAR" value="GENERAR" style="margin-top: 10px" onclick="subirArchivo_GMasivo()">Generar</button>  
              </div>
           </div>

            <!--Fin del repeticion de formulario-->
          </php:repeticion>  
          <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
        <form name="resultado" id="resultado" action="Respuesta_importar_Masivo.php" method="POST" >
            <input type="hidden" id="IdArchivo" name="IdArchivo" value="1" />
          <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
      </div>
    </div>
  </div>
</div>
</section>
