<div class="row">
  <div class="col-md-12">
    <div class="box ">
      <div class="box-body pad table-responsive">
      <!--Botones de cabecera-->
        <div class="box-header">
		  <a class="btn btn-default btn_letra_azul" href="Generar_Documento_PorFicha.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
		  
        </div>
      <!-- /.box-header -->
      <div class="box-body">
         <!--Mensajes-->
		<div id="mensajeError"><php:texto id="mensajeError" /></div>
		<div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
		
				<form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="Generar_Documento_PorFicha.php" method="POST" autocomplete=off>
				<php:repeticion id="formulario">
				
				 <div class="card-body">
		            <ul class="nav nav-tabs">
		                <li id="personaldata" class="nav-item"><a id="datosPersonales" href="#form_dp" data-toggle="pill" role="tab"  class="nav-link clicktab_GPorFichaA active">Datos personales</a></li>
						<li id="generaciondata" class="nav-item"><a id="generacion" href="#tab_4" data-toggle="pill" role="tab" class="nav-link clicktab_GPorFichaA">Generaci&oacute;n</a></li>
						<li id="documentdata" class="nav-item"><a id="datosDocumento" href="#form_dc" data-toggle="pill" role="tab" class="nav-link clicktab_GPorFichaA">Datos de Documento</a></li>
							
						<a type="button" class="btn btn-success btn-md" id="btnsiguiente" name="btnsiguiente" onclick="btnSiguiente_GPorFichaA()" style="position: absolute;right: 5%;">Siguiente</a>
		            </ul>

		        <div class="tab-content">
		            <div class="tab-pane active show" id="form_dp">
						<div class="box-body">						
							<div class="row">
				              <div class="col-md-12">
								<label style="float:right;"> (*) Campos obligatorios </label>
							  </div>
							</div>
							
		                	<div class="row">
								<div class="col-md-6">
									<label for="tipousuarioid">Rut (*)</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control newusuarioid_GPorFichaA" id="newusuarioid"  name="newusuarioid" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="newusuarioid" />" autofocus >
									</div>
								</div>
								<div class="col-md-6">
									<label for="contenedorid" >Nombre Completo(*)</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" maxlength="50" value="<php:item id="nombre" />" >
									</div>
								</div>
							</div>
							
							<!-- <div class="row"> -->
								<!-- <div class="col-md-6"> -->
									<!-- <label for="contenedorid" >Apellido paterno(*)</label> -->
									<!-- <div class="input-group col-xs-12"> -->
										<!-- <input type="text" class="form-control" id="appaterno" name="appaterno" placeholder="Apellido paterno" maxlength="50" value="<php:item id="appaterno" />" > -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- <div class="col-md-6"> -->
									<!-- <label for="contenedorid" >Apellido Materno</label> -->
									<!-- <div class="input-group col-xs-12"> -->
										<!-- <input type="text" class="form-control" id="apmaterno" name="apmaterno" placeholder="Apellido materno" maxlength="50" value="<php:item id="apmaterno" />" > -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
						
							<div class="row">
								<div class="col-md-6">
									<label for="contenedorid" >Nacionalidad (*)</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="nacionalidad" name="nacionalidad" placeholder="Nacionalidad" maxlength="50" value="<php:item id="nacionalidad" />">
									</div>
								</div>

								<div class="col-md-6">
									<label for="contenedorid" >Fecha de nacimiento (*)</label>
									<div class="input-group mb-3 date">
										<div class="input-group-prepend date"><span class="input-group-text" style="padding-bottom: 12px;padding-top: 12px;"><i class="fa fa-calendar"></i></span></div>
										<input type="datetime" class="form-control" id="fechanacimiento" name="fechanacimiento" placeholder="Fecha de nacimiento" value="<php:item id="fechanacimiento" />">
									</div>
							  	</div>
							</div>			

							<div class="row">
								<div class="col-md-6">
									<label for="contenedorid" >Estado civil (*)</label>
									<select class= "form-control" name="idEstadoCivil" id="idEstadoCivil">
										<option value="0">(Seleccione)</option>
										<php:repeticion id="EstadoCivil">
										<option value="<php:item id="idEstadoCivil" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idEstadoCivil" /><php:argumento idvalor="idEstadoCivil" /></php:funcion>><php:item id="Descripcion" /></option>
										</php:repeticion>
									</select>
								</div>
								<div class="col-md-6">
									<label for="contenedorid" >Direcci&oacute;n (*)</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion" maxlength="150" value="<php:item id="direccion" />">
									</div>
								</div>
							</div>
	
							<div class="row">
								<div class="col-md-6">
									<label for="contenedorid" >Comuna (*)</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="comuna" name="comuna" placeholder="Comuna" value="<php:item id="comuna" />">
									</div>
								</div>
								<div class="col-md-6">
									<label for="contenedorid" >Ciudad (*)</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" value="<php:item id="ciudad" />">
									</div>
								</div>
							</div>	

							<div class="row">
								<div class="col-md-6">
									<label for="contenedorid" >Rol (*)</label>
									<select class= "form-control" name="rolid" id="rolid">
										<option value="0">(Seleccione)</option>
										<php:repeticion id="Roles">
										<option value="<php:item id="rolid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="rolid" /><php:argumento idvalor="rolid" /></php:funcion>><php:item id="Descripcion" /></option>
										</php:repeticion>
									</select>
								</div>
								<div class="col-md-6">
									<label for="contenedorid" >Correo Electr&oacute;nico (*)</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="correo" name="correo" placeholder="Correo electr&oacute;nico" maxlength="50" value="<php:item id="correo" />">
									</div>
								</div>
							</div>	

							<div class="row">
								<div class="col-md-6">
									<label for="contenedorid" >Estado del Empleado</label>
									<select class= "form-control" name="idEstadoEmpleado" id="idEstadoEmpleado">
										<option value="0">(Seleccione)</option>
										<php:repeticion id="EstadosEmpleado">
										<option value="<php:item id="idEstadoEmpleado" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idEstadoEmpleado" /><php:argumento idvalor="idEstadoEmpleado" /></php:funcion>><php:item id="Descripcion" /></option>
										</php:repeticion>
									</select>
								</div>
							</div>	
						
						</div>
		            </div>
		              <!-- /.tab-pane -->
		              <div class="tab-pane" id="form_dc">
						<div class="box-body">		               									
							<div class="row" >
								<div class="col-md-6 datosDocumento" id="DATOS_FechaInicio" style="display:none;">
									<label for="contenedorid" >Fecha Inicio</label>
									<div class="input-group mb-3 date">
										<div class="input-group-prepend date"><span class="input-group-text" style="padding-bottom: 12px;padding-top: 12px;"><i class="fa fa-calendar"></i></span></div>
									
										<input type="datetime" class="form-control" id="FechaInicio" name="FechaInicio" placeholder="Fecha Inicio"  value="<php:item id="FechaInicio" />">
									</div>
							  	</div>
								<div class="col-md-6 datosDocumento" id="DATOS_Fecha" style="display:none;">
									<label for="contenedorid" >Fecha Ingreso</label>
									<div class="input-group mb-3 date">
										<div class="input-group-prepend date"><span class="input-group-text" style="padding-bottom: 12px;padding-top: 12px;"><i class="fa fa-calendar"></i></span></div>
									
										<input type="datetime" class="form-control" id="Fecha" name="Fecha" placeholder="Fecha Ingreso"  value="<php:item id="Fecha" />">
									</div>
							  	</div>
								<div class="col-md-6 datosDocumento" id="DATOS_Ciudad" style="display:none;">
									<label for="contenedorid" >Ciudad</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Ciudad2" name="Ciudad2" placeholder="Ciudad"  value="<php:item id="Ciudad2" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_DescripcionCargo" style="display:none;">
									<label for="contenedorid" >Descripci&oacute;n Cargo</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="DescripcionCargo" name="DescripcionCargo" placeholder="Descripci&oacute;n Cargo"  value="<php:item id="Cargo" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_Duracion" style="display:none;">
									<label for="contenedorid" >Duraci&oacute;n</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Duracion" name="Duracion" placeholder="Duraci&oacute;n"  value="<php:item id="oacute;n" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_ModTeletrabajo" style="display:none;">
									<label for="contenedorid" >Mod. Teletrabajo</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="ModTeletrabajo" name="ModTeletrabajo" placeholder="Mod. Teletrabajo"  value="<php:item id="Teletrabajo" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_Segmento" style="display:none;">
									<label for="contenedorid" >Segmento</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Segmento" name="Segmento" placeholder="Segmento"  value="<php:item id="Segmento" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_PorcentajeBonoTarget" style="display:none;">
									<label for="contenedorid" >Porcentaje Bono Target</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="PorcentajeBonoTarget" name="PorcentajeBonoTarget" placeholder="Porcentaje Bono Target"  value="<php:item id="Target" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_MetaTargetS" style="display:none;">
									<label for="contenedorid" >MetaTargetS</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="MetaTargetS" name="MetaTargetS" placeholder="MetaTargetS"  value="<php:item id="MetaTargetS" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_MetaTargetU" style="display:none;">
									<label for="contenedorid" >MetaTargetU</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="MetaTargetU" name="MetaTargetU" placeholder="MetaTargetU"  value="<php:item id="MetaTargetU" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_ObjetivoFinanciero1" style="display:none;">
									<label for="contenedorid" >ObjetivoFinanciero1</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="ObjetivoFinanciero1" name="ObjetivoFinanciero1" placeholder="ObjetivoFinanciero1"  value="<php:item id="ObjetivoFinanciero1" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_DetalleObjetivoFinanciero1" style="display:none;">
									<label for="contenedorid" >DetalleObjetivoFinanciero1</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="DetalleObjetivoFinanciero1" name="DetalleObjetivoFinanciero1" placeholder="DetalleObjetivoFinanciero1"  value="<php:item id="DetalleObjetivoFinanciero1" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_ObjetivoFinanciero2" style="display:none;">
									<label for="contenedorid" >ObjetivoFinanciero2</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="ObjetivoFinanciero2" name="ObjetivoFinanciero2" placeholder="ObjetivoFinanciero2"  value="<php:item id="ObjetivoFinanciero2" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_DetalleObjetivoFinanciero2" style="display:none;">
									<label for="contenedorid" >DetalleObjetivoFinanciero2</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="DetalleObjetivoFinanciero2" name="DetalleObjetivoFinanciero2" placeholder="DetalleObjetivoFinanciero2"  value="<php:item id="DetalleObjetivoFinanciero2" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_MetaIndividual" style="display:none;">
									<label for="contenedorid" >MetaIndividual</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="MetaIndividual" name="MetaIndividual" placeholder="MetaIndividual"  value="<php:item id="MetaIndividual" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_Bono" style="display:none;">
									<label for="contenedorid" >Bono</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Bono" name="Bono" placeholder="Bono"  value="<php:item id="Bono" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_Codigo" style="display:none;">
									<label for="contenedorid" >C&oacute;digo</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Codigo" name="Codigo" placeholder="C&oacute;digo"  value="<php:item id="digo" />">
									</div>
								</div>
								<div class="col-md-6 datosDocumento" id="DATOS_Texto1" style="display:none;">
									<label for="contenedorid" >Texto 1</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Texto1" name="Texto1" placeholder="Texto 1"  value="<php:item id="Texto1" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_nombreJefeDirecto" style="display:none;">
									<label for="contenedorid" >Nombre Jefe Directo</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="nombreJefeDirecto" name="nombreJefeDirecto" placeholder="Nombre Jefe Directo"  value="<php:item id="nombreJefeDirecto" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_cargoJefeDirecto" style="display:none;">
									<label for="contenedorid" >Cargo Jefe Directo</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="cargoJefeDirecto" name="cargoJefeDirecto" placeholder="Cargo Jefe Directo"  value="<php:item id="cargoJefeDirecto" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_nombreDirectorSegmento" style="display:none;">
									<label for="contenedorid" >Nombre Director De Segmento</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="nombreDirectorSegmento" name="nombreDirectorSegmento" placeholder="Nombre Director Segmento"  value="<php:item id="nombreDirectorSegmento" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_directorDeSegmento" style="display:none;">
									<label for="contenedorid" >Director De Segmento</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="directorDeSegmento" name="directorDeSegmento" placeholder="Director De Segmento"  value="<php:item id="directorDeSegmento" />">
									</div>
								</div>




								<div class="col-md-6 datosDocumento" id="DATOS_Texto2" style="display:none;">
									<label for="contenedorid" >Texto2</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Texto2" name="Texto2" placeholder="Texto2"  value="<php:item id="Texto2" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_Texto3" style="display:none;">
									<label for="contenedorid" >Texto3</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Texto3" name="Texto3" placeholder="Texto3"  value="<php:item id="Texto3" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_Texto4" style="display:none;">
									<label for="contenedorid" >Texto4</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Texto4" name="Texto4" placeholder="Texto4"  value="<php:item id="Texto4" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_Porcentaje1" style="display:none;">
									<label for="contenedorid" >Porcentaje1</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Porcentaje1" name="Porcentaje1" placeholder="Porcentaje1"  value="<php:item id="Porcentaje1" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_Porcentaje2" style="display:none;">
									<label for="contenedorid" >Porcentaje2</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Porcentaje2" name="Porcentaje2" placeholder="Porcentaje2"  value="<php:item id="Porcentaje2" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_Porcentaje3" style="display:none;">
									<label for="contenedorid" >Porcentaje3</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Porcentaje3" name="Porcentaje3" placeholder="Porcentaje3"  value="<php:item id="Porcentaje3" />">
									</div>
								</div>

								<div class="col-md-6 datosDocumento" id="DATOS_Porcentaje4" style="display:none;">
									<label for="contenedorid" >Porcentaje4</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Porcentaje4" name="Porcentaje4" placeholder="Porcentaje4"  value="<php:item id="Porcentaje4" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Porcentaje5" style="display:none;">
									<label for="contenedorid" >Porcentaje5</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Porcentaje5" name="Porcentaje5" placeholder="Porcentaje5"  value="<php:item id="Porcentaje5" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Porcentaje6" style="display:none;">
									<label for="contenedorid" >Porcentaje6</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Porcentaje6" name="Porcentaje6" placeholder="Porcentaje6"  value="<php:item id="Porcentaje6" />">
									</div>
								</div>
										
								
								<div class="col-md-6 datosDocumento" id="DATOS_Stretch1" style="display:none;">
									<label for="contenedorid" >Stretch1</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Stretch1" name="Stretch1" placeholder="Stretch1"  value="<php:item id="Stretch1" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Stretch2" style="display:none;">
									<label for="contenedorid" >Stretch2</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Stretch2" name="Stretch2" placeholder="Stretch2"  value="<php:item id="Stretch2" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Texto5" style="display:none;">
									<label for="contenedorid" >Texto5</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Texto5" name="Texto5" placeholder="Texto5"  value="<php:item id="Texto5" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Jornada2" style="display:none;">
									<label for="contenedorid" >Jornada 2</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Jornada2" name="Jornada2" placeholder="Jornada2"  value="<php:item id="Jornada2" />">
									</div>
								</div>
									
								<div class="col-md-6 datosDocumento" id="DATOS_AplicaStrech1" style="display:none;">
									<label for="contenedorid" >Aplica Strech 1</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="AplicaStrech1" name="AplicaStrech1" placeholder="AplicaStrech1"  value="<php:item id="AplicaStrech1" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_AplicaStrech2" style="display:none;">
									<label for="contenedorid" >Aplica Strech 2</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="AplicaStrech2" name="AplicaStrech2" placeholder="AplicaStrech2"  value="<php:item id="AplicaStrech2" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Stretch3" style="display:none;">
									<label for="contenedorid" >Stretch 3</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Stretch3" name="Stretch3" placeholder="Stretch3"  value="<php:item id="Stretch3" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Stretch4" style="display:none;">
									<label for="contenedorid" >Stretch 4</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Stretch4" name="Stretch4" placeholder="Stretch4"  value="<php:item id="Stretch4" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Booster" style="display:none;">
									<label for="contenedorid" >Booster</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Booster" name="Booster" placeholder="Booster"  value="<php:item id="Booster" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Modificador" style="display:none;">
									<label for="contenedorid" >Modificador</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Modificador" name="Modificador" placeholder="Modificador"  value="<php:item id="Modificador" />">
									</div>
								</div>
															
								<div class="col-md-6 datosDocumento" id="DATOS_Texto6" style="display:none;">
									<label for="contenedorid" >Texto6</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Texto6" name="Texto6" placeholder="Texto6"  value="<php:item id="Texto6" />">
									</div>
								</div>
								
								<div class="col-md-6 datosDocumento" id="DATOS_Texto7" style="display:none;">
									<label for="contenedorid" >Texto7</label>
									<div class="input-group col-xs-12">
										<input type="text" class="form-control" id="Texto7" name="Texto7" placeholder="Texto7"  value="<php:item id="Texto7" />">
									</div>
								</div>
								
							</div>
							
					<div class="row d-flex justify-content-between">  
			           
                        <div class="col-md-2 xs-12">  
			                <input type="hidden" id="idWF" name="idWF"/>
			              
			                <!--Firmantes de la Plantilla-->
			                <input type="hidden" id="Representantes" name="Representantes" />
							<!--<input type="hidden" id="Notario" name="Notario" />-->
							<input type="hidden" id="Clientes" name="Clientes" />
							<input type="hidden" id="Representantes_ConOrden" name="Representantes_ConOrden" />
							<input type="hidden" id="Clientes_ConOrden" name="Clientes_ConOrden" />
			                <input type="hidden" id="Empleado" name="Empleado" />
			                <input type="hidden" id="Cantidad_Firmantes" name="Cantidad_Firmantes" />
							<input type="hidden" id="max" value="<php:texto id="max" />" />
							<input type="hidden" id="orden_representantes" value="<php:texto id="orden_representantes" />" />
							<input type="hidden" id="orden_clientes" value="<php:texto id="orden_clientes" />" />
							<input type="hidden" id="input_empleado" name="input_empleado" value="<php:item id="input_empleado"/>"/>
							
							<!--accion 2 -->
							<input type="hidden" id="accion2" name="accion2" />
							<!--Variables-->
							<input type="hidden" id="variables" name="variables" />
							<!--Modal-->
							<input type="hidden" id="btn_vista_previa" data-toggle="modal" data-target="#modal_vista_previa"/>
			                <input type="hidden" name="accion" value="GENERAR"/>
							<!-- <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="GENERAR" value="GENERAR" style="margin-top: 10px">Generar</button>  -->
							<button class="btn btn-md btn-success btn-block GENERAR_GPorFichaA" type="button" style="margin-top: 10px;" id="GENERAR" >Generar</button> 
						
			            </div>
			        
							<div class="col-md-2 xs-12 d-flex justify-content-end">  
								<button class="btn btn-md btn-info btn-block VISTA_PREVIA_GPorFichaA" type="button" name="accion" id="VISTA_PREVIA" value="VISTA_PREVIA" style="margin-top: 10px">Vista Previa</button> 
							</div>
						</div>
						</div>
		              </div>

		              <div class="tab-pane" id="tab_4">
						<div class="box-body">
						
						<div class="row">
						  <div class="col-md-12">
							<label style="float:right;"> (*) Campos obligatorios </label>
							
						  </div>
						</div>
						<div class="row" style="height: 70px;">
		                  <!--Empresas-->
			              <div class="col-md-6" >
			                <label for="Empresa" >Empresa (*) </label>
			                <!--Select de Empresas disponibles-->
			                <select class= "form-control RutEmpresa_GPorFichaA" name="RutEmpresa" id="RutEmpresa">
			                <option value="0">( Seleccione )</option>
			                  <php:repeticion id="Empresas">
			                    <option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
			                  </php:repeticion>
			                </select>
			              </div>
						  
						  <!--Fecha del documento-->
				 
						  <div class="col-md-6">
							<label for="contenedorid" >Fecha del Documento(*)</label>
								<div class="input-group mb-3">
									<div class="input-group mb-3 date">
										<div class="input-group-prepend date"><span class="input-group-text" style="padding-bottom: 12px;padding-top: 12px;"><i class="fa fa-calendar"></i></span></div>								
										<input type="datetime" class="form-control" id="FechaDocumento" name="FechaDocumento" placeholder="Fecha del Documento"  value="<php:item id="FechaDocumento" />">
									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<!--<div class="input-group input-group-sm">
								<input type="text" class="form-control">
								<span class="input-group-append">
									<button type="button" class="btn btn-info btn-flat">Go!</button>
								</span>
							</div>-->

							<div class="col-md-6 xs-12">
								<label class="Estructura">Lugar de Pago (*)</label>
								<div class="box-body" style="padding-right: 0px;padding-left: 0px;">
									<div class="input-group input-group-md">
										<input class="form-control" type="text" name="nombrelugarpago" id="nombrelugarpago" placeholder="(Seleccione)" readonly value="<php:item id="nombrelugarpago" />">
										<input class="form-control" type="hidden" name="LugarPagoid" id="lugarpagoid" value="<php:item id="LugarPagoid" />">
										<span class="input-group-append">
											<button class="btn btn-md btn-primary btn-fla lugares_pago"  type="button" id="btn_lugares_pago" data-toggle="modal" data-target="#modal_lugares_pago"><i class="fa fa-search"></i></button>
										</span>
									</div>
								</div>
							</div>
							
							<!--Division de personal-->
							<div class="col-md-6 xs-12">
							<label class="Estructura">Centro de Costo (*)</label>
							<div class="box-body" style="padding-right: 0px;padding-left: 0px;">
								<div class="input-group input-group-md">
									<input class="form-control" type="text" name="nombrecentrocosto" id="nombrecentrocosto" placeholder="(Seleccione)" readonly value="<php:item id="nombrecentrocosto" />">
									<input type="hidden" name="idCentroCosto" id="centrocostoid" placeholder="(Seleccione)" value="<php:item id="idCentroCosto" />">
									<span class="input-group-append">
										<button class="btn btn-md btn-primary btn-block btn_centro_costo_GPorFichaA" type="button" id="btn_centro_costo" data-toggle="modal" data-target="#modal_centro_costo"><i class="fa fa-search"></i></button>  
									</span>
									</div>
								</div>
								</div>
				           </div>
						   <div class="row"> 
							<!--Tipo de Documento-->
							<div class="col-md-6" style="padding-bottom: 15px;">
								<label for="TipoDeDocumento" >Tipo de Documento(*)</label>
								<!--Select de Empresas disponibles-->
								<select class= "form-control idTipoDoc_GPorFichaA" name="idTipoDoc" id="idTipoDoc" required>
									<option value="0">(Seleccione)</option>
									<php:repeticion id="TipoDocumentos">
									<option value="<php:item id="idTipoDoc" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoDoc" /><php:argumento idvalor="idTipoDoc" /></php:funcion>><php:item id="NombreTipoDoc" /></option>
									</php:repeticion>
								</select>
							</div>


							<!--Procesos-->
							<div class="col-md-6" style="padding-bottom: 15px;">
								<label for="Proceso" >Proceso (*)</label>
								<!--Select de Empresas disponibles-->
								<select class= "form-control idProceso_GPorFichaA" name="idProceso" id="idProceso" required>
									<option value="0">(Seleccione)</option>
									<php:repeticion id="Procesos">
									<option value="<php:item id="idProceso" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idProceso" /><php:argumento idvalor="idProceso" /></php:funcion>><php:item id="Descripcion" /></option>
									</php:repeticion>
								</select>
							</div>
						</div>
						<div class="row">
							<!--Plantilla-->
							<div class="col-md-6 xs-12" style="padding-bottom: 15px;">
							<label>Plantilla (*)</label>
							<select class="form-control idPlantilla_GPorFichaA" name="idPlantilla" id="idPlantilla">
								<option value="0">( Seleccione )</option>
							</select>
							</div>
						
							<!--Tipo de Firmas-->
							<div class="col-md-6" style="padding-bottom: 15px;">
								<label for="Proceso" >Tipo de firma (*)</label>
								<!--Select de Empresas disponibles-->
								<select class= "form-control idTipoFirma_GPorFichaA" name="idTipoFirma" id="idTipoFirma" required>
									<option value="0">(Seleccione)</option>
									<php:repeticion id="TipoFirmas">
									<option value="<php:item id="idTipoFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoFirma" /><php:argumento idvalor="idTipoFirma" /></php:funcion>><php:item id="Descripcion" /></option>
									</php:repeticion>
								</select>
							</div>
						</div>

			         <!--Seleccionar Firmantes por Empresas -->
			         <div class="row">
			           <div class="col-md-12">
			             <h5></h5>
			           </div>
			         </div>

			        <div class="row">
			            <div class="col-md-12">
			                <label id="label" style="display: none">Seleccione Firmantes</label>
			               
			                  <!-- Pasos-->
			                  <div class="steps-form-2">
			                      <div class="steps-row-2 setup-panel-2 d-flex justify-content-center">
			                          <div class="steps-step-2" id="icono_representante" style="display:none">
			                              <a href="#step-1" id="boton_emp" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Empresa"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-building" aria-hidden="true"></i></a>
			                              <div id="text_emp" class="text">Firmantes</div>
			                          </div>
			                          <div class="steps-step-2" style="display:none">
			                              <a href="#step-2" id="boton_cli" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Cliente"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-users" aria-hidden="true"></i></a>
			                               <div id="text_cli" class="text">Cliente</div>
			                          </div>
			                          <div class="steps-step-2" style="display:none">
			                              <a href="#step-3" id="boton_not" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0 not steps-no" data-placement="top" title="Notaria"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
			                              <div id="text_not" class="text">Notaria</div>
			                          </div>
			                      </div>
			                  </div>
			              
			                  <!--Firmantes de Empresas-->
			                  <div class="collapse" id="step-1">
			                   <table id="tabla_emp" class="table table-bordered table-hover">
			                    <thead>
			                      <tr>
			                          <h4> Firmantes </h4>
			                      </tr> 
			                      <tr>
			                        <th style="text-align: center;">Selecci&oacute;n</th>
			                        <th style="text-align: center;">Rut</th>
			                        <th style="text-align: center;">Nombre y Apellido</th>
			                        <th style="text-align: center;">Cargo</th>
									<th style="text-align: center;">Orden</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                    </tbody>                 
			                   </table>
			                  </div>
			                <!--Fin de firmantes-->
			            </div>
			        </div>
			        <!--Fin de Firmantes-->
			         
			         <!--inputs old -->
					</div>	
              	   </div>

              	</div>
            </div>		
			
		  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>" class="token">
                    </form>

	 <!--Modal de Lugares de pago-->
  
         <!-- <div class="modal fade" id="modal_lugares_pago" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
			  <div class="modal-content">
				<div class="modal-header" align="center">
				  <h4 class="Estructura" id="ejemplo-titulo"> Lugares de Pago </h4>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="cerrar_modal">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<div id="mensajeError_modal"></div>
				   <table id="tabla_lugares_pago" class="table table-bordered table-hover" style="text-align: center">
					   <thead >
						   <tr>
							   <th  style="text-align: center" >C&oacute;digo</th>
							   <th  style="text-align: center" >Nombre</th>
							   <th  style="text-align: center" >Selecci&oacute;n</th>
						   </tr>
					   </thead>
					   <tbody>
					   </tbody>
				   </table>
				</div>
				<div class="modal-footer" style="margin-top:10px;">
				  <button type="button" class="btn btn-secondary btn-md" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
				</div>
			  </div>
			</div>
		  </div>-->
		  
		   <!--Modal de Lugares de pago-->
			<div class="modal fade" id="modal_lugares_pago" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog" >
					<div class="modal-content">
						<div class="modal-header" align="center">
							<h4 class="modal-title" id="ejemplo-titulo"> Lugares de Pago </h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="cerrar_modal">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="mensajeError_modal"></div>
							<table id="tabla_lugares_pago" class="table table-bordered table-hover" style="text-align: center">
								<thead >
									<tr>
										<th  style="text-align: center" >C&oacute;digo</th>
										<th  style="text-align: center" >Nombre</th>
										<th  style="text-align: center" >Selecci&oacute;n</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="modal-footer" style="margin-top:10px;">
							<button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		  
		  <!--Modal de Departamentos>
  
		  <div class="modal fade" id="modal_departamento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog" >
				<div class="modal-content">
				  <div class="modal-header" align="center">
					<h4 class="modal-title" id="ejemplo-titulo"> Divisi&oacute;n Superior</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true" class="cerrar_modal">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					  <div id="mensajeError_modal"></div>
					 <table id="tabla_departamento" class="table table-bordered table-hover" style="text-align: center">
						 <thead >
							 <tr>
								 <th  style="text-align: center" >C&oacute;digo</th>
								 <th  style="text-align: center" >Nombre</th>
								 <th  style="text-align: center" >Selecci&oacute;n</th>
							 </tr>
						 </thead>
						 <tbody>
						 </tbody>
					 </table>
				  </div>
				  <div class="modal-footer" style="margin-top:10px;">
					<button type="button" class="btn btn-secondary btn-md" id="cerrar_departamento" data-dismiss="modal">Cerrar</button>
				  </div>
				</div>
			  </div>
			</div-->
		<!--Modal de Centros de Costo-->
		<!--<div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
			  <div class="modal-content">
				<div class="modal-header" align="center">
				  <h4 class="Estructura" id="ejemplo-titulo"> Centros de Costo </h4>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="cerrar_modal">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<div id="mensajeError_modal"></div>
				   <table id="tabla_centro_costo" class="table table-bordered table-hover" style="text-align: center">
					   <thead >
						   <tr>
							   <th  style="text-align: center" >C&oacute;digo</th>
							   <th  style="text-align: center" >Nombre</th>
							   <th  style="text-align: center" >Selecci&oacute;n</th>
						   </tr>
					   </thead>
					   <tbody>
						   
					   </tbody>
				   </table>
				</div>
				<div class="modal-footer" style="margin-top:10px;">
				  <button type="button" class="btn btn-secondary btn-md" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
				</div>
			  </div>
			</div>
		  </div>-->
		  
		  <!--Modal de Centros de Costo-->
		<div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="modal-title" id="ejemplo-titulo"> Centros de Costo </h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="cerrar_modal">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="mensajeError_modal"></div>
						<table id="tabla_centro_costo" class="table table-bordered table-hover" style="text-align: center">
							<thead >
								<tr>
									<th  style="text-align: center" >C&oacute;digo</th>
									<th  style="text-align: center" >Nombre</th>
									<th  style="text-align: center" >Selecci&oacute;n</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="margin-top:10px;">
						<button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		  
						<!--Modal Vista previa -->
						<div class="modal fade bd-example-modal-lg" id="modal_vista_previa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
							<div class="modal-dialog modal-lg" >
								<div class="modal-content" style="width:1000px">
									<div class="modal-header" align="center">
										<h4 class="modal-title" id="ejemplo-titulo">Vista previa de Documento</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true" class="cerrar_modal">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div id="contenido" style=" padding-top:3cm; padding-left:3cm; padding-right:3cm; padding-bottom:1cm; border: 1px solid; box-shadow: 5px 10px 8px #888888; "></div>
									</div>
									<div class="modal-footer" style="margin-top:10px;">
										<button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>

	</div>
</div>
</div>
</div>
</div>
	<!--Variables del script-->
	<form name="variablesScript" class="variablesScript" id="variablesScript"  class="form-horizontal">
		<input type="hidden" id="var_idPlantilla" value="<php:item id='idPlantilla' />" />
		<input type="hidden" id="var_Firmantes_Emp" value="<php:item id='Firmantes_Emp' />" />				
		<input type="hidden" id="var_ordenfirmantes" value="<php:item id='ordenfirmantes' />" />
	</form>
	
</php:repeticion>  
</section>
