<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <!--Botones de cabecera-->
        <div class="box-header">
          <a class="btn btn-default btn_letra_azul" onClick="history.back(-1)" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
        </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--Mensajes-->
        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
        <div id="mensajeError"><php:texto id="mensajeError" /></div>
        <!--Formulario de los datos propios de Categoria-->   
        <table id="example2" class="table table-bordered table-hover pagin-table">
          <thead>
           <tr>
            <th data-campo="SELECCION" style="text-align: center;">Selecci&oacute;n </th>
            <th data-campo="Descripcion_Pl" style="text-align: center;">Descripcion de Plantilla</th>
            <th data-campo="NombreTipoDoc" style="text-align: center;">Tipo de Documento</th>
            <th data-campo="Categoria" style="text-align: center;">Categoria</th>
            <th data-campo="Cant" style="text-align: center;">Clausulas</th>
            <th data-campo="Aprobado" style="text-align: center;">Aprobado</th>
          </tr>
          </thead>
          <tbody >
            <php:repeticion id="listado">
              <tr id="fila_<php:filamenos />">
                <!--Boton de Agregar-->
                <td data-campo="BOTON_AGREGAR"> 
                  <div style="text-align: center">
                   <form role="form" action="Generar_Documentos_Masivo.php" method="POST" name="formulario" id="formulario">
                      
                      <input type="hidden" id="idPlantilla" name="idPlantilla" value="<php:item id="idPlantilla"/>"/>
                      <input type="hidden" id="idWF" name="idWF" value="<php:item id="idWF"/>"/>
                      <input type="hidden" id="idTipoDoc" name="idTipoDoc" value="<php:item id="idTipoDoc"/>"/>
                      <input type="hidden" id="RutEmpresa" name="RutEmpresa" value="<php:item id="RutEmpresa"/>"/>
                      <input type="hidden" id="RutEmpresaC" name="RutEmpresaC" value="<php:item id="RutEmpresaC"/>"/>
                      <input type="hidden" id="RutEmpresaN" name="RutEmpresaN" value="<php:item id="RutEmpresaN"/>"/>
                      <input type="hidden" id="RutEjecutivo" name="RutEjecutivo" value="<php:item id="RutEjecutivo"/>"/> 
                      <input type="hidden" id="RutSupervisor" name="RutSupervisor" value="<php:item id="RutSupervisor"/>"/> 
                      <input type="hidden" id="fechaInicio" name="fechaInicio" value="<php:item id="fechaInicio"/>" />
                      <input type="hidden" name="modelo_contrato" id="modelo_contrato" value="<php:item id="modelo_contrato"/>" >
                      <input type="hidden" name="FormasPago" id="FormasPago" value="<php:item id="FormasPago"/>" >
                      <input type="hidden" name="TipoFirmas" id="TipoFirmas" value="<php:item id="TipoFirmas"/>" >
                      <input type="hidden" name="pro" id="pro" value="<php:item id="pro"/>" >
                      <input type="hidden" name="fecha" id="fecha" value="<php:item id="fecha"/>" >
                      <input type="hidden" id="fechaFin" name="fechaFin" value="<php:item id="fechaFin"/>" />
                      <input type="hidden" id="aprob_<php:filamenos />" name="aprob" value="<php:item id="aprob"/>" />

                      <input type="hidden" name="accion" value="AGREGAR"/>
                      <button type="submit" style="background-color: transparent;" class="btn" id="boton_<php:filamenos />" name="accion2" value="BUSCAR_P"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                  </div>
                </td>
                <!--Titulo de Plantilla-->
                <td data-campo="Titulo_Pl" style="text-align: center;"><div><php:item id="Descripcion_Pl"/></div></td>
                <!--Titulo de Documento-->
                <td data-campo="NombreTipoDoc"style="text-align: center;"><div><php:item id="NombreTipoDoc"/></div></td>
                <!--Categoria-->
                <td data-campo="Titulo" style="text-align: center;"><div><php:item id="Titulo"/></div></td>
                <!--Cantidad de Clausulas-->
                <td data-campo="Cant" style="text-align: center;"><div id="cant_<php:filamenos />"><php:item id="Cant"/></div></td>
                <!--Aprobado-->
                <td data-campo="Aprobado" style="text-align: center;"><div><php:item id="Aprobado"/></div></td>
              </tr>
            </php:repeticion>
          </tbody>
        </table> 
      </div>
      </div>
    <!-- /.box -->
    </div>
  </div>
  <!-- /.col -->
  </div>

<script type="text/javascript">

  $(document).ready(function(){
    var row = $("#example2 tr").length;
    var i = 0;

    for( i = 0; i < row ; i++ ){
      //Si esta pendiente por aprobacion
     if($("#aprob_"+i).val() == 0 ){
      //Inhabilitar el boton de agregar
       $("#boton_"+i).prop('disabled', true);
       $("#fila_"+i).css("background-color","#f4f4f4");
       $("#boton_"+i).prop('title', 'La Plantilla no esta aprobada');
     }
     if($("#Cant_"+i).val() == 0){
      //Inhabilitar el boton de agregar
       $("#boton_"+i).prop('disabled', true);
       $("#boton_"+i).prop('title', 'La Plantilla no tiene Clausulas asociadas');

     }
    }

  });

  //Si la Plantilla esta aprobada y no tiene Clausulas 
  $(".btn").click(function(){
    //Variables
    elemento = $(this).attr("id");
    i = elemento.split("_")[1];
    txt = "";
   
   if($("#cant_"+i).text() == 0){
        //Asigno respuesta a variable
        txt = confirm("Esta Plantilla no tiene Clausulas asociadas. Desea continuar?");
        //Si es no, no avanza
        if (txt == false) {
            return false;
        }
    }
  });

</script>
