<style type="text/css">
.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
 padding-bottom: 50.2%;
  margin-bottom: 20px;
}
.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <!--Botones de cabecera-->
        <div class="box-header">
		   <php:repeticion id="formulario">
  			<form role="form" name="formulario2" id="formulario2" action="importacionpdf.php" method="POST">
  				<button type="submit" class="btn btn-default"><a><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a></button>
  			  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
        </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--Mensajes-->
        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
        <div id="mensajeError"><php:texto id="mensajeError" /></div>
        <!--Datos referenciales-->
        <div class="row">
      
         <!--Formulario de datos propios de Clausulas-->
        <form role="form" name="formulario" id="formulario" action="importacionpdf.php" method="POST">
		
		   	<div class="row">  
				<div class="col-xs-4 col-sm-offset-0 col-xs-offset-0 col-md-2 col-lg-2">
						<span >Nro Documento : <php:item id="idDocumento" /></span>										
				</div>					
			</div>
			<div class="responsiveContent">
				<iframe id="ifrmArch" name="ifrmArch"  width="100%" height="600px" src="<php:item id="ruta" />" ></iframe>
			</div>
         
          </php:repeticion>  
         
          <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form> 

      </div>
    <!-- /.box -->
    </div>
  </div>
  <!-- /.col -->
  </div>
  <!--Tomar datos con ajax y reasigna datos de un selec a un input hidden-->
 