<div class="row">
  <div class="col-md-12">
    <div class="box ">
     <!-- <div class="box-body pad table-responsive">
    
        <div class="box-header">
		  <a class="btn btn-default btn_letra_azul" href="Generar_Documento_PorFicha.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
		  
        </div>-->
      <!-- /.box-header -->
      <div class="box-body">
         <!--Mensajes-->
		<div id="mensajeError"><php:texto id="mensajeError" /></div>
		<div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
		
				<form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="importacionpdf.php" enctype="multipart/form-data" method="POST" autocomplete=off>
				<php:repeticion id="formulario">
				
				 <div class="nav-tabs-custom">
		            <ul class="nav nav-tabs">
		            	<li id="personaldata" class="nav-item "><a id="datosPersonales" href="#form_dp" data-toggle="pill" role="tab"  class="nav-link clicktab active">Datos personales</a></li>
		             	<li id="generaciondata" class="nav-item"><a id="generacion" href="#tab_4" data-toggle="pill" role="tab" class="nav-link clicktab">Generaci&oacute;n</a></li>		              
		            </ul>


		            <div class="tab-content">
		              <div class="tab-pane active show" id="form_dp">
						<div class="box-body">
						
							<div class="row">
				              <div class="col-md-12">
								<label style="float:right;"> (*) Campos obligatorios </label>
							  </div>
							</div>
							
							
		                	<div class="row">
								<div class="col-md-6 col-xs-12">
									<label for="tipousuarioid">Rut (*)</label>
									<input type="text" class="form-control newusuarioid_IPDFA" id="newusuarioid"  name="newusuarioid" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="newusuarioid" />" autofocus onkeyup="mayus(this);" />
								  </div>
							
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Nombre(*)</label>
									<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" maxlength="50" value="<php:item id="nombre" />" >
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Apellido paterno(*)</label>
									<input type="text" class="form-control" id="appaterno" name="appaterno" placeholder="Apellido paterno" maxlength="50" value="<php:item id="appaterno" />" >
								</div>
							
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Apellido Materno</label>
									<input type="text" class="form-control" id="apmaterno" name="apmaterno" placeholder="Apellido materno" maxlength="50" value="<php:item id="apmaterno" />" >
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Nacionalidad (*)</label>
									<input type="text" class="form-control" id="nacionalidad" name="nacionalidad" placeholder="Nacionalidad" maxlength="50" value="<php:item id="nacionalidad" />">
								</div>
							
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Direcci&oacute;n (*)</label>
									<input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion" maxlength="150" value="<php:item id="direccion" />">
								</div>
							</div>		

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Comuna (*)</label>
									<input type="text" class="form-control" id="comuna" name="comuna" placeholder="Comuna" value="<php:item id="comuna" />">
								</div>
							
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Ciudad (*)</label>
									<input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" value="<php:item id="ciudad" />">
								</div>
							</div>				

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Correo Electr&oacute;nico (*)</label>
									<input type="text" class="form-control" id="correo" name="correo" placeholder="Correo electr&oacute;nico" maxlength="50" value="<php:item id="correo" />">
								</div>
						
								<div class="col-md-6">
									<label for="contenedorid" >Fecha de nacimiento (*)</label>
									<div class="input-group mb-3 date">
										<div class="input-group-prepend date"><span class="input-group-text" style="padding-bottom: 12px;padding-top: 12px;"><i class="fa fa-calendar"></i></span></div>
										<input type="datetime" class="form-control" id="fechanacimiento" name="fechanacimiento" placeholder="Fecha de nacimiento" value="<php:item id="fechanacimiento" />">
									</div>
							  	</div>

							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Estado civil (*)</label>
									<select class= "form-control" name="idEstadoCivil" id="idEstadoCivil">
										<option value="0">(Seleccione)</option>
										<php:repeticion id="EstadoCivil">
											<option value="<php:item id="idEstadoCivil" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idEstadoCivil" /><php:argumento idvalor="idEstadoCivil" /></php:funcion>><php:item id="Descripcion" /></option>
										</php:repeticion>
									</select>
								</div>
							
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Estado del Empleado (*)</label>
									<select class= "form-control" name="idEstadoEmpleado" id="idEstadoEmpleado">
										<option value="0">(Seleccione)</option>
										<php:repeticion id="EstadosEmpleado">
											<option value="<php:item id="idEstadoEmpleado" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idEstadoEmpleado" /><php:argumento idvalor="idEstadoEmpleado" /></php:funcion>><php:item id="Descripcion" /></option>
										</php:repeticion>
									</select>
								</div>
							</div>	
							
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<label for="contenedorid" >Rol (*)</label>
									<select class= "form-control" name="rolid" id="rolid">
										<option value="0">(Seleccione)</option>
										<php:repeticion id="Roles">
											<option value="<php:item id="rolid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="rolid" /><php:argumento idvalor="rolid" /></php:funcion>><php:item id="Descripcion" /></option>
										</php:repeticion>
									</select>
								</div>
							</div>	
						
						   
		 					<!--<div class="row">
				              <div class="col-md-6 xs-12">
				               <label>Relaci&oacute;n Laboral (*)</label>
				                <div class="box-body" style="padding-left: 0px;">
				                    <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
				                      <input class="form-control" type="text" name="nombrecentrocosto" id="nombrecentrocosto" placeholder="(Seleccione)"/>
				                      <input type="hidden" name="idCentroCosto" id="centrocostoid" placeholder="(Seleccione)"/>
				                    </div>
				                    <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
				                       <button class="btn btn-md btn-primary btn-block" type="button" id="btn_centro_costo" data-toggle="modal" data-target="#modal_centro_costo"><i class="fa fa-search"></i></button>  
				                    </div>
				                  </div>
				                </div>
				            </div>-->
						</div>
		              </div>
		              <!-- /.tab-pane -->
		            
				      <div class="tab-pane" id="tab_4">
						<div class="box-body">
		                	<div class="row">
				              <div class="col-md-12">
								<label style="float:right;"> (*) Campos obligatorios </label>
							  </div>
							</div>
							
							<div class="row" style="height: 70px;">
								<!--Empresas-->
								<div class="col-md-6" >
									<label for="Empresa" >Empresa (*) </label>
									<!--Select de Empresas disponibles-->
									<select class= "form-control RutEmpresa_IPDFA" name="RutEmpresa" id="RutEmpresa">
									<option value="0">( Seleccione )</option>
									<php:repeticion id="Empresas">
										<option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
									</php:repeticion>
									</select>
								</div>		
						
								<div class="col-md-6" >
									<label for="contenedorid" >Fecha de Documento (*)</label>
									<div class="form-group">
										<div class="input-group mb-3 date">
											<div class="input-group-prepend date"><span class="input-group-text" style="padding-bottom: 12px;padding-top: 12px;"><i class="fa fa-calendar"></i></span></div>
											<input type="datetime" class="form-control" id="FechaDocumento" name="FechaDocumento" placeholder="FechaDocumento"  />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label>Lugar de pago (*) </label>
									<div class="box-body" style="padding-right: 0px;padding-left: 0px;">
										<div class="input-group input-group-md">
											<input class="form-control" type="text" name="nombrelugarpago" id="nombrelugarpago" placeholder="(Seleccione)" readonly/>
											<input class="form-control" type="hidden" name="LugarPagoid" id="lugarpagoid" />
											<span class="input-group-append">
												<button class="btn btn-md btn-primary btn-block lugares_pago btn_lugares_pago_IPDFA"  type="button" id="btn_lugares_pago" data-toggle="modal" data-target="#modal_lugares_pago"><i class="fa fa-search"></i></button>
											</span>
										</div>
									</div>
								</div>
														
								<div class="col-md-6">
									<label>Centro de Costo (*)</label>
									<div class="box-body" style="padding-left: 0px;padding-top: 0px; padding-right: 0px;">
										<div class="box-body" style="padding-right: 0px;padding-left: 0px;">
											<div class="input-group input-group-md">
												<input class="form-control" type="text" name="nombrecentrocosto" id="nombrecentrocosto" placeholder="(Seleccione)" readonly/>
												<input type="hidden" name="idCentroCosto" id="centrocostoid" placeholder="(Seleccione)"/>
												<span class="input-group-append">
												<button class="btn btn-md btn-primary btn-block btn_centro_costo_IPDFA" type="button" id="btn_centro_costo" data-toggle="modal" data-target="#modal_centro_costo"><i class="fa fa-search"></i></button>  
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<!--Tipo de Documento-->
								<div class="col-md-6" >
									<label for="TipoDeDocumento" >Tipo de Documento (*)</label>
									<!--Select de Empresas disponibles-->
									<select class= "form-control idTipoDoc_IPDFA" name="idTipoDoc" id="idTipoDoc" required>
										<option value="0">(Seleccione)</option>
										<php:repeticion id="TipoDocumentos">
										<option value="<php:item id="idTipoDoc" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoDoc" /><php:argumento idvalor="idTipoDoc" /></php:funcion>><php:item id="NombreTipoDoc" /></option>
										</php:repeticion>
									</select>
								</div>

								<!--Procesos-->
								<div class="col-md-6">
									<label for="Proceso" >Proceso (*)</label>
									<!--Select de Empresas disponibles-->
									<select class= "form-control idProceso_IPDFA" name="idProceso" id="idProceso" required>
										<option value="0">(Seleccione)</option>
										<php:repeticion id="idProceso">
										<option value="<php:item id="idProceso" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idProceso" /><php:argumento idvalor="idProceso" /></php:funcion>><php:item id="Descripcion" /></option>
										</php:repeticion>
									</select>
								</div>
							</div>
							
							<div class="row" style="padding-top: 10px;">
								<!--Plantilla-->
								<div class="col-md-6" >
									<label>Plantilla (*)</label>
									<select class="form-control idPlantilla_IPDFA" name="idPlantilla" id="idPlantilla">
										<option value="0">( Seleccione )</option>
									</select>
								</div>
												
								<div class="col-md-6" id="doc">
									<label for="Subir" id="doc_label">Seleccione archivo PDF (*)</label>
									<div class="box-body" id="doc_hijo" style="padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;"> 
									<div class="input-group input-group-md" >
										<input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento" tabindex="7">
										<span class="input-group-append">      
											<button type="file" name="pdf64" id="pdf64"  accept="application/pdf"  class="btn btn-md btn-primary btn-fla btn-file pdf64_IPDFA"><i id="ico_upload" class="fa fa-upload" aria-hidden="true"></i></button>
										</span>
									</div>
									<span class="fileinput-filename"></span>
									<span class="fileinput-new"></span>
									</div>
								</div>
							</div>
						</div>
						
			         <!--Seleccionar Firmantes por Empresas -->
			         <div class="row">
			           <div class="col-md-12">
			             <h5></h5>
			           </div>
			         </div>

			        <div class="row">
			            <div class="col-md-12">
			                <label id="label" style="display: none">Seleccione Firmantes</label>
			               
			                  <!-- Pasos-->
			                  <div class="steps-form-2">
			                      <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
			                          <div class="steps-step-2" id="icono_representante" style="display:none">
			                              <a href="#step-1" id="boton_emp" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Empresa"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-building" aria-hidden="true"></i></a>
			                              <div id="text_emp" class="text">Firmantes</div>
			                          </div>
			                          <div class="steps-step-2" style="display:none">
			                              <a href="#step-2" id="boton_cli" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Cliente"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-users" aria-hidden="true"></i></a>
			                               <div id="text_cli" class="text">Cliente</div>
			                          </div>
			                          <div class="steps-step-2" style="display:none">
			                              <a href="#step-3" id="boton_not" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0 not steps-not" data-placement="top" title="Notaria"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
			                              <div id="text_not" class="text">Notaria</div>
			                          </div>
			                      </div>
			                  </div>
			              
			                  <!--Firmantes de Empresas-->
			                  <div class="collapse" id="step-1">
								<table id="tabla_emp" class="table table-bordered table-hover">
									<thead>
									<tr>
										<h4> Firmantes </h4>
									</tr> 
									<tr>
										<th style="text-align: center;">Selecci&oacute;n</th>
										<th style="text-align: center;">Rut</th>
										<th style="text-align: center;">Nombre y Apellido</th>
										<th style="text-align: center;">Cargo</th>
										<th class="columna_emp" style="text-align: center;">Orden</th>
									</tr>
									</thead>
									<tbody>
									</tbody>                 
								</table>
			                  </div>
			                <!--Fin de firmantes-->
			            </div>
			        </div>
			        <!--Fin de Firmantes-->
			         
			           <div class="row">  
			            <div class="col-md-2 xs-12 pull-right">  
			                <input type="hidden" id="idWF" name="idWF"/>
			              
			                <!--Firmantes de la Plantilla-->
			                <input type="hidden" id="Representantes" name="Representantes" />
							<input type="hidden" id="Clientes" name="Clientes" />							<input type="hidden" id="Representantes_ConOrden" name="Representantes_ConOrden" />
							<input type="hidden" id="Representantes_ConOrden" name="Representantes_ConOrden" />
							<input type="hidden" id="Clientes_ConOrden" name="Clientes_ConOrden" />
			                <input type="hidden" id="Empleado" name="Empleado" />
			                <input type="hidden" id="Cantidad_Firmantes" name="Cantidad_Firmantes" />
							<input type="hidden" id="idFirma" name="idFirma" value="2"/>
							<input type="hidden" id="max" value="<php:texto id="max" />" />
							<input type="hidden" id="orden_representantes" value="<php:texto id="orden_representantes" />" />
							<input type="hidden" id="orden_clientes" value="<php:texto id="orden_clientes" />" />
							<input type="hidden" id="input_empleado" name="input_empleado" value="<php:item id="input_empleado"/>"/>
			                <button class="btn btn-md btn-success btn-block" type="submit" name="accion" id="GENERAR" value="GENERAR" onclick="validar_IPDFA();" style="margin-top: 10px">Generar</button> 

								
			            </div>
			           </div>

					</div>	
              	   </div>

		              
              	</div>
              </div>
			</php:repeticion>
		  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>

		<!--Modal de Lugares de pago-->
		<!--<div class="modal fade" id="modal_lugares_pago" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		      <div class="modal-header" align="center">
		        <h4 class="modal-title" id="ejemplo-titulo"> Lugar de pago </h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true" class="cerrar_modal">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div id="mensajeError_modal"></div>
		         <table id="tabla_lugares_pago" class="table table-bordered table-hover" style="text-align: center">
		         	<thead >
		         		<tr>
		         			<th  style="text-align: center" >C&oacute;digo</th>
		         			<th  style="text-align: center" >Nombre</th>
		         			<th  style="text-align: center" >Selecci&oacute;n</th>
		         		</tr>
		         	</thead>
		         	<tbody>
		         	</tbody>
		         </table>
			  </div>
			  <div class="modal-footer" style="margin-top:10px;">
		        <button type="button" class="btn btn-secondary btn-md" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>-->
		
		<!--Modal de Lugares de pago-->
			<div class="modal fade" id="modal_lugares_pago" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog" >
					<div class="modal-content">
						<div class="modal-header" align="center">
							<h4 class="modal-title" id="ejemplo-titulo"> Lugares de Pago </h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" class="cerrar_modal">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="mensajeError_modal"></div>
							<table id="tabla_lugares_pago" class="table table-bordered table-hover" style="text-align: center">
								<thead >
									<tr>
										<th  style="text-align: center" >C&oacute;digo</th>
										<th  style="text-align: center" >Nombre</th>
										<th  style="text-align: center" >Selecci&oacute;n</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="modal-footer" style="margin-top:10px;">
							<button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>


		<!--Modal de Centros de Costo-->
		<!--<div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		      <div class="modal-header" align="center">
		        <h4 class="modal-title" id="ejemplo-titulo"> Centro de costo </h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true" class="cerrar_modal">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div id="mensajeError_modal"></div>
		         <table id="tabla_centro_costo" class="table table-bordered table-hover" style="text-align: center">
		         	<thead >
		         		<tr>
		         			<th  style="text-align: center" >C&oacute;digo</th>
		         			<th  style="text-align: center" >Nombre</th>
		         			<th  style="text-align: center" >Selecci&oacute;n</th>
		         		</tr>
		         	</thead>
		         	<tbody>
		         		
		         	</tbody>
		         </table>
			  </div>
			  <div class="modal-footer" style="margin-top:10px;">
		        <button type="button" class="btn btn-secondary btn-md" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>-->
		
		<!--Modal de Centros de Costo-->
		<div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="modal-title" id="ejemplo-titulo"> Centros de Costo </h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="cerrar_modal">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="mensajeError_modal"></div>
						<table id="tabla_centro_costo" class="table table-bordered table-hover" style="text-align: center">
							<thead >
								<tr>
									<th  style="text-align: center" >C&oacute;digo</th>
									<th  style="text-align: center" >Nombre</th>
									<th  style="text-align: center" >Selecci&oacute;n</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="modal-footer" style="margin-top:10px;">
						<button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>
</div>
</section>

