<div class="row">
		<div class="col-md-12">
		  	<div class="box ">
				<div class="box-body pad table-responsive">
					<!--Botones de cabecera-->
					<!--div class="box-header">
						<a class="btn btn-default btn_letra_azul" href="Generar_Documento_PorFicha.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
					</div-->
					<!-- /.box-header -->
					<div class="box-body">
						<!--Mensajes-->
						<div id="mensajeError"><php:texto id="mensajeError" /></div>
						<div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
						<form name="formulariox" class="formulariox" id="formulario"  class="form-horizontal" action="Postulacion.phpx" method="POST" autocomplete=off>
							<php:repeticion id="formulario">
							<div class="box-body">
								<!--div class="row">
									<div class="col-md-12">
										<label style="float:right;"> (*) Campos obligatorios </label>
									</div>
								</div-->
								<div class="row">
                                    <div class="col-md-6 xs-12">
                                        <label for="contenedorid" >Empresa</label>
                                        <select class= "form-control RutEmpresa_LINKP" name="RutEmpresa" id="RutEmpresa">
                                            <option value="0">(Seleccione)</option>
                                            <php:repeticion id="Empresas">
                                            <option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
                                            </php:repeticion>
                                        </select>
                                    </div>
                                    <div class="col-md-6 xs-12">
                                        <label for="contenedorid" >Caducidad Link</label>
                                        <select class= "form-control proximidadCaducidadId_LINKP" name="proximidadCaducidadId" id="proximidadCaducidadId">
                                            <option value="0">(Seleccione)</option>
                                            <php:repeticion id="proximidadCaducidad">
                                            <option value="<php:item id="proximidadCaducidadId" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="proximidadCaducidadId" /><php:argumento idvalor="proximidadCaducidadId" /></php:funcion>><php:item id="proximidadCaducidadNombre" /></option>
                                            </php:repeticion>
                                        </select>
                                    </div>
								</div>
							</div>
						  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
						</php:repeticion>
						<form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="Postulacion.php" method="POST" autocomplete=off>
							<div class="box-body">
								<table id="tabla_actualizacionLink" class="table table-bordered table-hover" style="text-align: center">
									<thead>
										<tr>
											<th style="text-align: center">Cargo</th>
											<th style="text-align: center">Link</th>
											<th style="text-align: center">Fecha caducidad</th>
											<th style="text-align: center">Estado link</th>
											<th style="text-align: center">Opciones</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                        <!--Modal modifiacacion-->
                        <div class="modal fade" id="modal_link" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" >
                                <div class="modal-content">
                                    <div class="modal-header" align="center">
                                        <h4 class="modal-title" id="ejemplo-titulo"> Asignaci&oacute;n link externo a cargo postulable </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" class="cerrar_modal">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    <div id="mensajeError_modal"></div>
                                    <div class="box">
                                        <div class="box-body pad table-responsive">
                                            <div class="box-header">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label id="obligatorio" style="float:right; display:none;"> (*) Campos obligatorios </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <!--Postulante rut-->
                                                        <div class="col-md-12 xs-12">
                                                            <label for="RazonSocial">Empresa</label>
                                                            <input type="text" class="form-control" id="RazonSocial" name="RazonSocial" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--Postulante rut-->
                                                        <div class="col-md-12 xs-12">
                                                            <label for="Titulo">Cargo</label>
                                                            <input type="text" class="form-control" id="Titulo" name="Titulo" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--Postulante rut-->
                                                        <div class="col-md-12 xs-12">
                                                            <label class="unid" id="uno" for="link">Link</label>
                                                            <input type="text" class="form-control link_LINKP" id="link" name="link" value="<php:item id="link" />" placeholder="Link" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--Fecha de inicio-->
                                                        <div class="col-md-12 xs-12" >
                                                            <label class="unid" id="dos" for="">Fechas caducidad link</label>
                                                            <div class="form-group">
                                                                <div class="input-group mb-3 date">
                                                                    <div class="input-group-prepend date"><span class="input-group-text" style="padding-bottom: 12px;padding-top: 12px;"><i class="fa fa-calendar"></i></span></div>
                                                                    
                                                                    <input type="datetime" style="background-color: white;" class="form-control pull-right" id="fechaCaducidadLink" name="fechaCaducidadLink" placeholder="Fecha caducidad link" value="<php:item id="fechaCaducidadLink"/>"  />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" class="form-control" id="RutEmpresa" name="RutEmpresa" disabled/>
                                                    <input type="hidden" class="form-control" id="idCargoEmpleado" name="idCargoEmpleado" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="margin-top:10px;">
                                        <button type="button" class="btn btn-secondary btn-md" id="cerrar_cargoEmpleado" onclick="modificar_LINKP('' + $('.link_LINKP').val() + '', '' + $('.fechaCaducidadLink_LINKP').val() + '', '' + $('.RutEmpresa_LINKP').val() + '', '' + $('#idCargoEmpleado').val() + '');">Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
        </div>
        <!--input type="datetime" style="background-color: white;" class="form-control" id="a_M023" name="a_M023" placeholder="Fecha de expiración" value=""-->
	</div>
</section>
