    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body" style="padding: 30px;">
                    <!--Mensajes-->
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>
                    <div id="mensajeAd"><php:texto id="mensajeAd" /></div>
                    <!--Formulario de los datos propios de Categoria-->   
                    <form role="form" name="formulario" id="formulario" action="Generar_Documentos_Masivo.php" method="POST" autocomplete="off" enctype="multipart/form-data">
                        <php:repeticion id="formulario">
                        <!--div class="row">
                            <div class="col-md-12">
                                <label style="float:right;"> (*) Campos obligatorios </label>
                            </div>
                        </div-->
                        <!--Subir documento-->
                        <div class="row">
                            <div class="col-md-6 xs-6">
                                <label for="contenedorid" >Empresa (*)</label>
                                <select class= "form-control RutEmpresa_LOF" name="RutEmpresa" id="RutEmpresa">
                                    <option value="0">(Seleccione)</option>
                                    <php:repeticion id="Empresas">
                                    <option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
                                    </php:repeticion>
                                </select>
                            </div>
                            <!--
                            <div class="col-md-6 xs-6">
                                <label>Cargo (*)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <div class="col-md-10 xs-12 " style="padding-left: 0px;padding-top: 0px;">
                                    <input class="form-control" type="text" name="nombrecargoempleado" id="nombrecargoempleado" placeholder="(Seleccione)" value="<php:item id="nombrecargoempleado"/>" readonly="readonly" />
                                    <input type="hidden" name="idCargoEmpleado" id="idCargoEmpleado" placeholder="(Seleccione)" value="<php:item id="idCargoEmpleado"/>" />
                                </div>
                                <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                    <button class="btn btn-md btn-primary btn-block" type="button" id="btn_cargoEmpleado" data-toggle="modal" data-target="#modal_cargoEmpleado"><i class="fa fa-search"></i></button>  
                                </div>
                            </div-->
                       
                        <!--div class="col-md-6 xs-12">
                            <label>Lugar de pago (*) </label>
                            <div class="box-body" style="padding-left: 0px;padding-top: 0px;">
                                <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                    <input class="form-control" type="text" name="nombrelugarpago" id="nombrelugarpago" placeholder="(Seleccione)" readonly/>
                                    <input class="form-control" type="hidden" name="LugarPagoid" id="lugarpagoid" />
                                </div>
                                <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                    <button class="btn btn-md btn-primary btn-block lugares_pago"  type="button" id="btn_lugares_pago" data-toggle="modal" data-target="#modal_lugares_pago"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div-->
                        <!--div class="col-md-6 xs-12">
                            <label>Centro de costo (*)</label>
                            <div class="box-body" style="padding-left: 0px;padding-top: 0px;">
                                <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                <input class="form-control" type="text" name="nombrecentrocosto" id="nombrecentrocosto" placeholder="(Seleccione)" readonly/>
                                <input type="hidden" name="idCentroCosto" id="centrocostoid" placeholder="(Seleccione)"/>
                                </div>
                                <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                    <button class="btn btn-md btn-primary btn-block" type="button" id="btn_centro_costo" data-toggle="modal" data-target="#modal_centro_costo"><i class="fa fa-search"></i></button>  
                                </div>
                            </div>
                        </div-->
                       
                            <!--div class="col-md-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="soloUno" checked>
                                    <label class="form-check-label" for="soloUno">Utilizar planilla electronica</label>
                                </div>
                            </div>
                        </div>
                        <div class="row"-->
                            <div class="col-md-6 xs-12" id="meVeo">
                                <label for="contenedorid" >Formulario (*)</label>
                                <select class= "form-control idFormulario_LOF" name="idFormulario" id="idFormulario" disabled>
                                    <option value="0">(Seleccione)</option>
                                    <php:repeticion id="Formularios">
                                    <option data-idarchivo="<php:item id="IdArchivo" />" value="<php:item id="idFormulario" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idFormulario" /><php:argumento idvalor="idFormulario" /></php:funcion>><php:item id="nombreFormulario" /></option>
                                    </php:repeticion>
                                </select>
                            </div>
                       
                    </div>
                        <!--div class="row" id="soloUnoFull">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="soloUno" checked>
                                    <label class="form-check-label" for="soloUno">Utilizar planilla electronica</label>
                                </div>
                            </div>
                        </div-->

                   
                        <div class="row" id="con_planilla">
                            <div class="col-md-12" id="doc">
                                <label for="Subir" id="doc_label">Seleccione archivo de carga (*)</label>
                                <div class="box-body" id="doc_hijo" style="padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;"> 
                                    <div class="input-group input-group-md" >
                                        <input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento" readonly>
                                        <span class="input-group-append">           
                                            <button type="file" name="archivo" id="archivo" class="btn btn-md btn-primary btn-fla btn-file archivo_LOF"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  ><i class="fa fa-upload" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                    <span class="fileinput-filename"></span>
                                    <span class="fileinput-new"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="sin_planilla" style="display:none">
                            <div class="col-md-12">
                                <label for="newusuarioid">Rut (*)</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control newusuarioid_LOF" id="newusuarioid"  name="newusuarioid" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="newusuarioid" />" autofocus >
                                </div>
                            </div>
                        </div>
                        <!--Seleccione Representantes Documentos Primarios -->
                        <div class="row muestraFirmantes" style="display:none;" >
                            <div class="col-md-12">
                                <h5></h5>
                            </div>
                        </div>
                        <div class="row muestraFirmantes" style="display:none;" >
                            <div class="col-md-12">
                                <label id="labelFirmantesPrimarios">Seleccione Representantes</label>
                                <!-- Pasos-->
                                <div class="steps-form-2">
                                    <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
                                        <div class="steps-step-2" id="iconoFirmantesPrimarios">
                                            <a href="#verFirmantesPrimarios" id="botonFirmantesPrimarios" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Empresa"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-building" aria-hidden="true"></i></a>
                                            <div class="text">Firmantes</div>
                                        </div>
                                    </div>
                                </div>
                                <!--Firmantes de Empresas-->
                                <div class="collapse" id="verFirmantesPrimarios">
                                    <table id="tabla_emp" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <h4> Firmantes </h4>
                                            </tr> 
                                            <tr>
                                                <th style="text-align: center;">Selecci&oacute;n</th>
                                                <th style="text-align: center;">Rut</th>
                                                <th style="text-align: center;">Nombre y Apellido</th>
                                                <th style="text-align: center;">Cargo</th>
                                                <th style="text-align: center;">Orden</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--php:repeticion id="listadoFirmantesPrimarios">
                                            <tr class="odd" role="row">
                                                <td style="text-align: center;">
                                                    <div class="custom-control">
                                                        <input data-personaid="<php:item id="personaid"/>" type="checkbox" name='firmantesPrimarios[]' value='<php:item id="personaid"/>' class='checkbox firmantesPrimarios' <php:item id="pordefecto"/>>
                                                        <label class="custom-control-label" for='firmantesgrupoPrimarios_<php:item id="incremental" />'></label>
                                                    </div>
                                                </td>
                                                <td style="text-align: center;"><php:item id="personaid"/></td>
                                                <td style="text-align: center;"><php:item id="nombrecompleto"/></td>
                                                <td style="text-align: center;"><php:item id="descripcion"/></td>
                                            </tr>
                                            </php:repeticion-->
                                        </tbody>                 
                                    </table>
                                    <div class="row firmantes">
                                        <div class="col-md-12 col-xs-12">
                                            <h4>Seleccione el tipo de firma</h4>
                                        </div>
                                    </div>
                                    <!--div class="tabla-responsiva firmantes">
                                        <div class="col-md-12">
                                            <div class="col-md-6" style="padding-bottom: 15px;">
                                                <select class= "form-control" name="idTipoFirma" id="idTipoFirma" required>
                                                    <option value="0">(Seleccione)</option>
                                                    <php:repeticion id="tipoFirma">
                                                    <option value="<php:item id="idTipoFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoFirma" /><php:argumento idvalor="idTipoFirma" /></php:funcion>><php:item id="Descripcion" /></option>
                                                    </php:repeticion>
                                                </select>
                                            </div>
                                        </div>
                                    </div-->
                                </div>
                                <!--Fin de firmantes-->
                            </div>
                        </div>
                        <!--Fin de Firmantes-->
                        <div class="row d-flex justify-content-between">  
                            <div class="col-md-2 xs-12">  
                                <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="VER" value="VER" onclick="ver_LOF()" style="margin-top: 10px" disabled>Ver &uacute;ltima generaci&oacute;n</button>  
                            </div>
                            <div class="col-md-4 xs-12">  
                                <div id="estado" style="display:none;">
                                    <div>
                                        <label id="estadodetalle">Estado proceso</label>
                                    </div>
                                    <progress value="0" id="progreso" max="<php:item id="highestRow" />">	</progress>
                                </div>
                            </div>
                            <div class="col-md-2 xs-12 d-flex justify-content-end">  
                                <!--input type="hidden" id="idWF" name="idWF"/>
                                <input type="hidden" id="input_empleado" name="input_empleado" value="<php:item id="input_empleado"/>"/>
                                <input type="hidden" id="ACTIVAR" name="ACTIVAR"/-->
                                <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="GENERAR" value="GENERAR" style="margin-top: 10px" onclick="subirArchivo_LOF()" disabled>Enviar</button>  
                            </div>
                        </div>
                        <!--Fin del repeticion de formulario-->
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                    <form name="resultado" id="resultado" action="Respuesta_LOF_asignacioFormulario.php" method="POST" >
                        <input type="hidden" id="RutEmpresa_r" name="RutEmpresa" value="<php:item id="RutEmpresa" />" />
                        <input type="hidden" id="idFormulario_r" name="idFormulario" value="<php:item id="idFormulario" />" />
                        <input type="hidden" id="IdArchivo" name="IdArchivo" value="<php:item id="IdArchivo" />" />
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                    </php:repeticion>  
                    <!--Modal de Centros de Costo>
                    <div class="modal fade" id="modal_cargoEmpleado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" >
                            <div class="modal-content">
                                <div class="modal-header" align="center">
                                    <h4 class="modal-title" id="ejemplo-titulo"> Cargos </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="cerrar_modal">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="mensajeError_modal"></div>
                                    <table id="tabla_cargoEmpleado" class="table table-bordered table-hover" style="text-align: center">
                                        <thead >
                                            <tr>
                                                <th  style="text-align: center" >C&oacute;digo</th>
                                                <th  style="text-align: center" >Nombre</th>
                                                <th  style="text-align: center" >Selecci&oacute;n</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer" style="margin-top:10px;">
                                    <button type="button" class="btn btn-secondary btn-md" id="cerrar_cargoEmpleado" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
    <!--Modal de Lugares de pago-->
    <!--div class="modal fade" id="modal_lugares_pago" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <h4 class="modal-title" id="ejemplo-titulo"> Lugar de pago </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="cerrar_modal">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="mensajeError_modal"></div>
                    <table id="tabla_lugares_pago" class="table table-bordered table-hover" style="text-align: center">
                        <thead>
                            <tr>
                                <th  style="text-align: center" >C&oacute;digo</th>
                                <th  style="text-align: center" >Nombre</th>
                                <th  style="text-align: center" >Selecci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="margin-top:10px;">
                    <button type="button" class="btn btn-secondary btn-md" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div-->
    <!--Modal de Centros de Costo-->
    <!--div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <h4 class="modal-title" id="ejemplo-titulo"> Centro de costo </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="cerrar_modal">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="mensajeError_modal"></div>
                    <table id="tabla_centro_costo" class="table table-bordered table-hover" style="text-align: center">
                        <thead>
                            <tr>
                                <th  style="text-align: center" >C&oacute;digo</th>
                                <th  style="text-align: center" >Nombre</th>
                                <th  style="text-align: center" >Selecci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="margin-top:10px;">
                    <button type="button" class="btn btn-secondary btn-md" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div-->
</section>
