<div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Mensajes-->
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>
                    <div id="mensajeAd"><php:texto id="mensajeAd" /></div>
                    <!--Formulario de los datos propios de Categoria-->   
                    <form role="form" name="formulario" id="formulario" action="Generar_Documentos_Masivo.php" method="POST" autocomplete="off" enctype="multipart/form-data">
                        <php:repeticion id="formulario">
                        <!--div class="row">
                            <div class="col-md-12">
                                <label style="float:right;"> (*) Campos obligatorios </label>
                            </div>
                        </div-->
                        <!--Subir documento-->
                        <div class="row">
                            <div class="col-md-6 xs-6">
                                <label for="contenedorid" >Empresa (*)</label>
                                <select class= "form-control RutEmpresa_LORP" name="RutEmpresa" id="RutEmpresa">
                                    <option value="0">(Seleccione)</option>
                                    <php:repeticion id="Empresas">
                                    <option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
                                    </php:repeticion>
                                </select>
                            </div>
                            <div class="col-md-6 xs-6">
                                <label>Cargo (*)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <div class="col-md-10 xs-12 " style="padding-left: 0px;padding-top: 0px;">
                                    <input class="form-control" type="text" name="nombrecargoempleado" id="nombrecargoempleado" placeholder="(Seleccione)" value="<php:item id="nombrecargoempleado"/>" readonly="readonly" />
                                    <input type="hidden" name="idCargoEmpleado" id="idCargoEmpleado" placeholder="(Seleccione)" value="<php:item id="idCargoEmpleado"/>" />
                                </div>
                                <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                    <button class="btn btn-md btn-primary btn-block btn_cargoEmpleado_LORP" type="button" id="btn_cargoEmpleado" data-toggle="modal" data-target="#modal_cargoEmpleado"><i class="fa fa-search"></i></button>  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input soloUno_LORP" id="soloUno" checked>
                                    <label class="form-check-label" for="soloUno">Utilizar planilla electronica</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="con_planilla">
                            <div class="col-md-12" id="doc">
                                <label for="Subir" id="doc_label">Seleccione archivo de carga (*)</label>
                                <div class="form-group" id="doc_hijo"> 
                                    <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                        <input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento" readonly>
                                    </div>
                                    <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                        <span class="btn btn-primary btn-file">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            <input type="file" name="archivo" id="archivo"  class="archivo_LORP" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  />
                                        </span>
                                    </div>
                                    <span class="fileinput-filename"></span>
                                    <span class="fileinput-new"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="sin_planilla" style="display:none">
                            <div class="col-md-6">
                                <label for="newusuarioid">Rut (*)</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control newusuarioid_LORP" id="newusuarioid"  name="newusuarioid" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="newusuarioid" />" autofocus >
                                </div>
                            </div>
                            <div class="col-md-6 xs-12">
                                <label for="contenedorid" >Resultado postulaci&oacute;n (*)</label>
                                <select class= "form-control estadoGeneracionMasiva_LORP" name="estadoPostulacionid" id="estadoPostulacionid">
                                    <option value="0">(Seleccione)</option>
                                    <php:repeticion id="EstadosPostulacion">
                                    <option value="<php:item id="estadoPostulacionid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="estadoPostulacionid" /><php:argumento idvalor="estadoPostulacionid" /></php:funcion>><php:item id="nombre" /></option>
                                    </php:repeticion>
                                </select>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="col-md-2 xs-12 pull-left">  
                                <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="VER" value="VER" onclick="ver_LORP()" style="margin-top: 10px">Ver &uacute;ltima generaci&oacute;n</button>  
                            </div>
                            <div class="col-md-4 xs-12">  
                                <div id="estado" style="display:none;">
                                    <div>
                                        <label id="estadodetalle">Estado proceso</label>
                                    </div>
                                    <progress value="0" id="progreso" max="<php:item id="highestRow" />">	</progress>
                                </div>
                            </div>
                            <div class="col-md-2 xs-12 pull-right">  
                                <!--input type="hidden" id="idWF" name="idWF"/>
                                <input type="hidden" id="input_empleado" name="input_empleado" value="<php:item id="input_empleado"/>"/>
                                <input type="hidden" id="ACTIVAR" name="ACTIVAR"/-->
                                <button class="btn btn-md btn-success btn-block" type="button" name="accion" id="GENERAR" value="GENERAR" style="margin-top: 10px" onclick="subirArchivo_LORP()" disabled>Enviar</button>  
                            </div>
                        </div>
                        <!--Fin del repeticion de formulario-->
                        </php:repeticion>  
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                    <form name="resultado" id="resultado" action="Respuesta_resultadoPostulacion.php" method="POST" >
                        <input type="hidden" id="IdArchivo" name="IdArchivo" value="3" />
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                    <!--Modal de Centros de Costo-->
					<div class="modal fade" id="modal_cargoEmpleado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" >
                            <div class="modal-content">
                                <div class="modal-header" align="center">
                                    <h4 class="modal-title" id="ejemplo-titulo"> Cargos </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="cerrar_modal">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="mensajeError_modal"></div>
                                    <table id="tabla_cargoEmpleado" class="table table-bordered table-hover" style="text-align: center">
                                        <thead >
                                            <tr>
                                                <th  style="text-align: center" >C&oacute;digo</th>
                                                <th  style="text-align: center" >Nombre</th>
                                                <th  style="text-align: center" >Selecci&oacute;n</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer" style="margin-top:10px;">
                                    <button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_cargoEmpleado" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
