<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <div class="box-header">
         <php:repeticion id="formulario">
           <form role="form" name="formulario2" id="formulario2" action="Plantillas.php" method="POST" >
              <input type="hidden" name="RutEmpresa" value='<php:item id="RutEmpresa"/>'/>
              <button type="submit" name="accion" value="BUSCAR" class="btn btn-default"/><a><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a></button>
            <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
        </div>
      <!-- /.box-header -->
      <div class="box-body">

        <div id="mensajeError"><php:texto id="mensajeError" /></div>
        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
        <div id="mensajeAd"><php:texto id="mensajeAd" /></div> 

        <form role="form" name="formulario" id="formulario" action="Plantillas.php" method="POST" autocomplete="off">
         
          <div class="row">
            
              <!--Categorias-->
              <div class="col-md-6" style="padding-bottom: 15px;">
               
                  <label for="Categoria" >Categoria</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idCategoria" id="idCategoria" disabled>
                    <option value="0">(Seleccionar)</option>
                    <php:repeticion id="Categorias">
                      <option value="<php:item id="idCategoria" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idCategoria" /><php:argumento idvalor="idCategoria" /></php:funcion>><php:item id="Titulo" /></option>
                    </php:repeticion>
                  </select>
				  
				   <input type="hidden" name="idCategoria" id="idCategoria" value="<php:item id="idCategoria" />" />
              </div>
            <!--Fin del row-->
            </div>
             
             <div class="row">
              <!--Tipo de Documento-->
              <div class="col-md-6" style="padding-bottom: 15px;">
                  <label for="TipoDeDocumento" >Tipo de Documento</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idTipoDoc" id="idTipoDoc" disabled>
                    <option value="0">(Seleccionar)</option>
                    <php:repeticion id="TipoDocumentos">
                      <option value="<php:item id="idTipoDoc" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoDoc" /><php:argumento idvalor="idTipoDoc" /></php:funcion>><php:item id="NombreTipoDoc" /></option>
                    </php:repeticion>
                  </select>
				  
				    <input type="hidden" id="idTipoDoc" name="idTipoDoc" value="<php:item id="idTipoDoc" />" />
              </div>
              <!--Workflow-->
              <div class="col-md-6" style="padding-bottom: 15px;">
               
                  <label for="Flujo" >Flujo de Firmas</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idWF" id="idWF" required>
                    <option value="0">(Seleccionar)</option>
                    <php:repeticion id="Flujos">
                      <option value="<php:item id="idWF" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idWF" /><php:argumento idvalor="idWF" /></php:funcion>><php:item id="NombreWF" /></option>
                    </php:repeticion>
                  </select>
              </div>
            <!--Fin del row-->
            </div>
        
            <!--idPlantilla-->
            <input type="hidden" id="idPlantilla" name="idPlantilla" value="<php:item id="idPlantilla"/>"/>
        
            <!--Titulo-->
            <div class="row">
              <div class="col-md-12">
                <label for="Titulo" >T&iacute;tulo</label>
                 <textarea id="TextoTxt" name="Titulo_Pl" rows="5" cols="80" disabled=""><php:item id="Titulo_Pl" /></textarea>
              </div>
            </div> 
            <!--Descripcion-->
            <div class="row">
              <div class="col-md-12">
                <label for="Descripcion">Descripci&oacute;n</label>
                <input type="text" class="form-control" id="Descripcion_Pl" name="Descripcion_Pl" value="<php:item id="Descripcion_Pl" />" placeholder="Descripcion" disabled>
              </div>
            </div>
                                       
         
                 
          <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">


            <div class="row d-flex justify-content-end">  
              <div class="col-md-2 xs-12 d-grid gap-2 ">           
                <div class="row justify-content-between">
                  <!-- Datos ocultos -->
                  <input type="hidden" name="accion" value="MODIFICAR" />
              
                  <!-- Botón de Clausulas -->
                  <div class="col-md-2 xs-12 d-grid gap-2">
                      <button class="btn btn-md btn-default btn-block btnFirmantes_e" type="button" style="margin-top: 10px" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" name="accion2" value="CLAUSULAS">
                         Clausulas
                      </button>
                  </div>
              
                  <!-- Contenedor para los botones de Previsualizar y Guardar -->
                  <div class="col-md-4 xs-12 d-flex justify-content-end">
              
                      <!-- Boton para Modificar (Guardar) -->
                      <div class="col-md-5 xs-12 d-grid gap-2">
                        <input type="hidden" name="accion" value="APROBAR" />
                        <button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion2" value="APROBAR" disabled="">Aprobar</button >
                      </div>
        
                      <!-- Boton de Generar (Previsualizar) -->
                      <div class="col-md-5 xs-12 d-grid gap-2">
                        <button class="btn btn-md btn-success btn-block" type="submit" style="margin-top: 10px" name="accion2" value="GENERAR" id="GENERAR" disabled >Previsualizar</button>
                    </div>
                  </div>
        
              </div>
        </form> 
        
      </div>
      </div>
    <!-- /.box -->
    </div>
  </div>
  <!-- /.col -->
  </div>

  <!--Clausulas-->
  <div class="collapse" id="collapseExample" >
    <section class="content" style="padding-left: 0px; padding-right: 0px;">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-body pad table-responsive">
              <div class="box-header">
                <form role="form" name="formulario" id="formulario" action="Plantillas.php" method="POST">
                  <!--idCategoria-->
                  <input type="hidden" id="idCategoria" name="idCategoria" value="<php:texto id="idCategoria"/>"/>
                  <!--idPlantilla-->
                  <input type="hidden" id="idPlantilla" name="idPlantilla" value="<php:texto id="idPlantilla"/>"/>
                  <!--Boton de Agregar Clausulas-->
                  <button class="btn btn-md btn-default" style="margin-top: 10px" type="submit" name="accion" id="AGREGAR_CLAUSULA" value="AGREGAR_CLAUSULA"><a><i class="fa fa-plus" aria-hidden="true"></i>Agregar Clausula</a></button>  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="box-body pad table-responsive">
                  <div class="box-body">

                  <div id="divtabla" class="tabla-responsiva" >
                    <table id="example3" class="table table-bordered table-hover pagin-table">
                      <thead>
                       <tr>
                        <th data-campo="IDCLAUSULA" style="text-align: center;">Id Clausula </th>
                        <th data-campo="TITULO">Titulo </th>
                        <th data-campo="APROBADO">Revision </th>
                      </tr>
                      </thead>
                      <tbody >
                        <php:repeticion id="listado_clausulas">
                          <tr>
                            <td data-campo="IDCLAUSULA"><div style="text-align: center;"><php:item id="idClausula"/></div></td>
                            <td data-campo="TITULO" style="text-align: justify; padding: 20px;"><php:item id="Texto"/></td>
                            <td data-campo="APROBADO" style="text-align: center;"><php:item id="Aprobado"/></td>
                          </tr>
                        </php:repeticion>
                      </tbody>
                    </table> 
                   </div>
                   <!--./tabla-responsive--> 
                  </div>
                </div>
              </div>
              <!--/.box-body-->
             </div>  
             <!--/.box-body pad table-responsive-->
          </div>
          <!--./box-->
        </div>
      </div>
    </section>
  </div>
  <!--Fin de seccion de Clausulas-->

<!--Tomar datos con ajax y reasigna datos de un selec a un input hidden-->


  

