
 <section id="contenido" class="content" style="padding-left: 0px; padding-right: 0px;" >
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body pad table-responsive" id="prueba">
          <div class="box-header">
          <php:repeticion id="formulario">
          <form role="form" name="formulario" id="formulario" action="Plantillas.php" method="POST">
            <input type="hidden" id="idPlantilla" name="idPlantilla" value="<php:item id="idPlantilla" />" />
            <button type="submit" class="btn btn-default" name="accion" value="MODIFICAR" ><a><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Volver</button>
            <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="box-body pad table-responsive">
              <div class="box-body">
              <div id="divtabla" class="tabla-responsiva" >
                <table id="example2" class="table table-bordered table-hover pagin-table">
                  <thead>
                   <tr>
                    <th data-campo="SELECCION" style="text-align: center;">Selecci&oacute;n </th>
                    <th data-campo="IDCLAUSULA" style="text-align: center;">Id Clausula </th>
                    <th data-campo="CLAUSULA">Clausula </th>
                    <th data-campo="APROBADO">Revisi&oacute;n </th>
                  </tr>
                  </thead>
                  <tbody >
                    <php:repeticion id="listado_clausulas">
                      <tr id="fila_<php:filamenos />">
                        <!--Boton de Agregar-->
                        <td data-campo="BOTON_AGREGAR"> 
                          <div style="text-align: center">
                            <input type="hidden" id="idCategoria" name="idCategoria" value="<php:item id="idCategoria"/>"/>
                            <input type="hidden" id="idPlantilla" name="idPlantilla" value="<php:item id="idPlantilla"/>"/>
                            <input type="hidden" id="idClausula_<php:filamenos />" name="idClausula" value="<php:item id="idClausula"/>"/>
                            <input type="hidden" id="aprob_<php:filamenos />" value='<php:item id="aprob"/>' />
                            <button type="button" style="background-color: transparent;" class="btn" id="boton_<php:filamenos />" onclick="mostrar_PFAC('<php:filamenos />');" ><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <!--  function seleccion(fila, cat, pla, cla){-->
                          </div>
                        </td>
                        <!--Id de Clausula-->
                        <td data-campo="IDCLAUSULA"><div id="idClau_<php:filamenos />" style="text-align: center;"><php:item id="idClausula"/></div></td>
                        <!--Titulo y Titulo de la Clausula-->
                        <td data-campo="CLAUSULA">
                          <h4 style="margin-top: 0;">T&iacute;tulo: <php:item id="Titulo_Cl"/></h4>
                          <p><h4 style="margin-top: 0;"> Contenido: </h4><php:item id="Texto"/></p>
                        </td>
                        <!--Aprobado-->
                        <td data-campo="APROBADO" style="text-align: center;"><div class="aprob" id="Aprobado_<php:filamenos />"><php:item id="Aprobado"/></div></td>
                      </tr>
                    </php:repeticion>
                  </tbody>
                </table> 
               </div>
               <!--./tabla-responsive--> 
              </div>
            </div>
          </div>
        </php:repeticion>
          <!--/.box-body-->
         </div>  
         <!--/.box-body pad table-responsive-->
      </div>
      <!--./box-->
    </div>
  </div>
</section>

<!-- Modal para seleccion de Encabezado y Titulo -->
 <div class="modal fade" id="OC" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h3 class="modal-title" id="ejemplo-titulo"> Opciones de Clausulas </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="cerrar_modal">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ejemplo-cuerpo" align="justify">
        <!--Contenido del Modal-->
        <table class="table table-bordered table-hover pagin-table">
          <tbody>
            <tr id="<php:filamenos />">
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="Encabezado_OC" />
                  <label class="custom-control-label" for="Encabezado_OC" style="padding-left: 5px;">Encabezado autom&aacute;tico</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="Titulo_OC" />
                  <label class="custom-control-label" for="Titulo_OC" style="padding-left: 5px;">Usar T&iacute;tulo por defecto</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="modal-footer">
        <!--Formulario de Agregar Todos los datos de Clausulas--> 
          <button type="button" class="btn btn-default" name="accion3" value="AGREGAR_CLAUSULA" onclick="enviar_PFAC(); return false;" >Guardar</button>
      </div>
    </div>
  </div>
</div>

