
 <section id="contenido" class="content" style="padding-left: 0px; padding-right: 0px;" >
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body pad table-responsive" id="prueba">
          <div class="box-header">
          <php:repeticion id="formulario">
          <form role="form" name="formulario" id="formulario" action="Plantillas.php" method="POST">
            <input type="hidden" id="idPlantilla" name="idPlantilla" value="<php:item id="idPlantilla" />" />
            <button type="submit" class="btn btn-default" name="accion" value="MODIFICAR" ><a><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Volver</button>
          </form>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="box-body pad table-responsive">
              <div class="box-body">
              <div id="divtabla" class="tabla-responsiva" >
                <table id="example2" class="table table-bordered table-hover pagin-table">
                  <thead>
                   <tr>
                    <th data-campo="SELECCION" style="text-align: center;">Selecci&oacute;n </th>
                    <th data-campo="IDCLAUSULA" style="text-align: center;">Id Clausula </th>
                    <th data-campo="CLAUSULA">Clausula </th>
                    <th data-campo="APROBADO">Revisi&oacute;n </th>
                  </tr>
                  </thead>
                  <tbody >
                    <php:repeticion id="listado_clausulas">
                      <tr id="fila_<php:filamenos />">
                        <!--Boton de Agregar-->
                        <td data-campo="BOTON_AGREGAR"> 
                          <div style="text-align: center">
                            <input type="hidden" id="idCategoria" name="idCategoria" value="<php:item id="idCategoria"/>"/>
                            <input type="hidden" id="idPlantilla" name="idPlantilla" value="<php:item id="idPlantilla"/>"/>
                            <input type="hidden" id="idClausula_<php:filamenos />" name="idClausula" value="<php:item id="idClausula"/>"/>
                            <input type="hidden" id="aprob_<php:filamenos />" value='<php:item id="aprob"/>' />
                            <button type="button" style="background-color: transparent;" class="btn" id="boton_<php:filamenos />" onclick="mostrar('<php:filamenos />');" ><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <!--  function seleccion(fila, cat, pla, cla){-->
                          </div>
                        </td>
                        <!--Id de Clausula-->
                        <td data-campo="IDCLAUSULA"><div id="idClau_<php:filamenos />" style="text-align: center;"><php:item id="idClausula"/></div></td>
                        <!--Titulo y Titulo de la Clausula-->
                        <td data-campo="CLAUSULA">
                          <h4 style="margin-top: 0;">T&iacute;tulo: <php:item id="Titulo_Cl"/></h4>
                          <p><h4 style="margin-top: 0;"> Contenido: </h4><php:item id="Texto"/></p>
                        </td>
                        <!--Aprobado-->
                        <td data-campo="APROBADO" style="text-align: center;"><div class="aprob" id="Aprobado_<php:filamenos />"><php:item id="Aprobado"/></div></td>
                      </tr>
                    </php:repeticion>
                  </tbody>
                </table> 
               </div>
               <!--./tabla-responsive--> 
              </div>
            </div>
          </div>
        </php:repeticion>
          <!--/.box-body-->
         </div>  
         <!--/.box-body pad table-responsive-->
      </div>
      <!--./box-->
    </div>
  </div>
</section>

<!-- Modal para seleccion de Encabezado y Titulo -->
 <div class="modal fade" id="OC" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h3 class="modal-title" id="ejemplo-titulo"> Opciones de Clausulas </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ejemplo-cuerpo" align="justify">
        <!--Contenido del Modal-->
        <table class="table table-bordered table-hover pagin-table">
          <tbody>
            <tr id="<php:filamenos />">
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="Encabezado_OC" />
                  <label class="custom-control-label" for="Encabezado_OC" style="padding-left: 5px;">Encabezado autom&aacute;tico</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="Titulo_OC" />
                  <label class="custom-control-label" for="Titulo_OC" style="padding-left: 5px;">Usar T&iacute;tulo por defecto</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="modal-footer">
        <!--Formulario de Agregar Todos los datos de Clausulas--> 
          <button type="button" href="javascript:;" class="btn btn-default" name="accion3" value="AGREGAR_CLAUSULA" onclick="enviar(); return false;" >Guardar</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

  $(document).ready(function(){
    var row = $("#example2 tr").length;
    var i = 0;

    for( i = 0; i < row ; i++ ){
      //Si esta pendiente por aprobacion
     if($("#aprob_"+i).val() == 0 ){
      //Inhabilitar el boton de agregar
       $("#boton_"+i).prop('disabled', true);
       $("#fila_"+i).css("background-color","#f4f4f4");
     }
    }

  });

</script>

<!--Script para generar Modal de Encabezado y Titulo-->
<script>
  //Variables Globales 
  var ajax;
  var i = "";

  //Hace el llamado a funcion ajax externo
  function funcionCallback()
  {
    // Comprobamos si la peticion se ha completado (estado 4)
    if( ajax.readyState == 4 )
    {
      // Comprobamos si la respuesta ha sido correcta (resultado HTTP 200)
      if( ajax.status == 200 )
      {
        // Escribimos el resultado en la pagina HTML mediante DHTML
        //document.getElementById("#divtabla").innerHTML = ajax.responseText; 
        if (ajax.responseText == 0){
          //Correcto
        }
        else if(aja.responseText == 1){
          //Error inesperado 
        }
      }
    }
  }
  //Envia Datos del Formulario para agregar
  function enviar(){

    var cat = $("#idCategoria").val();
    var pla = $("#idPlantilla").val();
    var cla = $("#idClausula_" + i).val();

    var url = "" ;
    var enc = "" ;
    var tit = "" ;

    if( $('#Encabezado_OC').is(':checked')){
      enc = "1";
    }   
    else{
      enc = "0";
    }
    if( $('#Titulo_OC').is(':checked') ){
      tit = "1";
    }   
    else{
       tit = "0";
    }
    //Reasignar valores de los campos a la variable
    url = "Plantillas_ajax2.php?idCategoria=" + cat + "&idPlantilla=" + pla + "&idClausula=" + cla + "&accion=AGREGAR&accion3=AGREGAR_CLAUSULA &Encabezado=" + enc + "&Titulo=" + tit;

    // Creamos el control XMLHttpRequest segun el navegador en el que estemos 
    if( window.XMLHttpRequest )
      ajax = new XMLHttpRequest(); // No Internet Explorer
    else
      ajax = new ActiveXObject("Microsoft.XMLHTTP"); // Internet Explorer

    ajax.onreadystatechange = funcionCallback;
    // Enviamos la peticion
    ajax.open( "GET", url, true );
    ajax.send( "" );

    //Ocultar el modal automaticamente 
    $('#OC').modal('hide');

    // Reiniciar campos de checkbox
    $('#Titulo_OC').prop("checked",false);
    $('#Encabezado_OC').prop("checked",false);

    //Reiniciamos la pagina
    var nuevo = "#fila_" + i ;

    $(nuevo).remove();
  }

  //Almacena la fila en la que esta y muestra el Modal 
  function mostrar(fila){
    i = fila;
    $("#OC").modal({show:'true'});
  }

</script>



