<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <div class="box-header">
         <a class="btn btn-default btn_letra_azul" href="Plantillas.php" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
        </div>

      <div class="box-body">
        <div id="mensajeError"><php:texto id="mensajeError" /></div>
        <div id="mensajeOK"><php:texto id="mensajeOK" /></div>

        <form role="form" name="formulario" id="formulario" action="Plantillas.php" method="POST" autocomplete="off">
          <php:repeticion id="formulario">
            <!--Campos estan fuera del formulario-->
       
            <div class="row">
            
              <!--Categorias-->
              <div class="col-md-6" style="padding-bottom: 15px;">
               
                  <label for="Categoria" >Categoria</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idCategoria" id="idCategoria" required>
                    <option value="0">(Seleccione)</option>
                    <php:repeticion id="Categorias">
                      <option value="<php:item id="idCategoria" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idCategoria" /><php:argumento idvalor="idCategoria" /></php:funcion>><php:item id="Titulo" /></option>
                    </php:repeticion>
                  </select>
              </div>
            <!--Fin del row-->
            
             
            
              <!--Tipo de Documento-->
              <div class="col-md-6" style="padding-bottom: 15px;">
                  <label for="TipoDeDocumento" >Tipo de Documento</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idTipoDoc" id="idTipoDoc" required>
                    <option value="0">(Seleccione)</option>
                    <php:repeticion id="TipoDocumentos">
                      <option value="<php:item id="idTipoDoc" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoDoc" /><php:argumento idvalor="idTipoDoc" /></php:funcion>><php:item id="NombreTipoDoc" /></option>
                    </php:repeticion>
                  </select>
              </div>
			 </div>
              <!--Workflow-->
			<div class="row">
              <div class="col-md-6" style="padding-bottom: 15px;">
               
                  <label for="Flujo" >Flujo de Firmas</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idWF" id="idWF" required>
                    <option value="0">(Seleccione)</option>
                    <php:repeticion id="Flujos">
                      <option value="<php:item id="idWF" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idWF" /><php:argumento idvalor="idWF" /></php:funcion>><php:item id="NombreWF" /></option>
                    </php:repeticion>
                  </select>
              </div>
            <!--Fin del row-->
           
        
         <!--Tipo de Gestor-->
			
              <div class="col-md-6" style="padding-bottom: 15px;">
                  <label for="TipoGestor" >Tipos Gestor</label>
                  <!--Select de Empresas disponibles-->
                  <select class= "form-control" name="idTipoGestor" id="idTipoGestor" required>
                    <option value="0">(Seleccione)</option>
                    <php:repeticion id="TipoGestor">
                      <option value="<php:item id="idTipoGestor" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoGestor" /><php:argumento idvalor="idTipoGestor" /></php:funcion>><php:item id="Nombre" /></option>
                    </php:repeticion>
                  </select>
              </div>
            </div>
            <!--Titulo-->
            <div class="row">
              <div class="col-md-12">
                <label for="Titulo" >T&iacute;tulo</label>
                <textarea id="TextoTxt" name="Titulo_Pl" rows="5" cols="80"><php:item id="Titulo_Pl"/>Titulo de Plantilla</textarea>
              </div>
            </div> 
            <!--Descripcion-->
            <div class="row">
              <div class="col-md-12">
                <label for="Descripcion">Descripci&oacute;n</label>
                <input type="text" class="form-control" id="Descripcion_Pl" name="Descripcion_Pl" value="<php:item id="Descripcion_Pl" />" placeholder="Descripcion" >
              </div>
            </div>

            <div class="row d-flex justify-content-end">  
              <div class="col-md-2 xs-12 d-grid gap-2 ">      
              <input type="hidden" name="accion" value="AGREGAR" />
              <button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion2" value="AGREGAR" id="AGREGAR" onclick="javascript:return validarFormulario(this);"/>Guardar</button>
            </div>
          </div> 
           
          </php:repeticion>      
          <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form> 
      </div>
    </div>
  </div>
</div>
</div>
</section>