  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body pad table-responsive">
          <div class="box-header">
            <!--Opciones del encabezado-->
            <div class="form-inline ">
              <div class="form-group">
                <form name="formulario" id="formulario" action="Plantillas.php" method="POST" >
                  <button type="submit" class="btn btn-default" name="accion" value="AGREGAR"><a><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a></button> 
                  <input type="hidden" name="pagina"  value="<php:texto id="pagina" />" />    
                  <input type="hidden" name="nombrex" value="<php:texto id="nombrex" />" /> 
                  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
              </div>
            </div> 
          </div>
        <div class="box-body">
          <!--Mensaje de error-->
          <div id="mensajeError"><php:texto id="mensajeError"/></div>
          <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
          <!--Empresas-->
         
             <php:repeticion id="formulario">
           
      
          <!--Listado-->
         
            <div id="divtabla" class="tabla-responsiva" >
              <!--Tabla-->
              <table id="example2" class="table table-striped" style="width:100%" name="tbltabla">
                <thead>
                  <tr>
                    <th data-campo="IDPLANTILLA" style="text-align: center;">C&oacute;digo Plantilla </th>
                    <th data-campo="DECRIPCION_PL" style="text-align: center;">Descripci&oacute;n </th>
                    <th data-campo="TIPODOCUMENTO" style="text-align: center;">Tipo de Documento </th>
                    <th data-campo="FLUJODEFIRMA" style="text-align: center;">Flujo </th>
                    <th data-campo="CATEGORIA" style="text-align: center;">Categoria </th>
                    <th data-campo="APROBADO" style="text-align: center;"><div style="text-align: center;">Aprobado </div></th>
                    <th data-campo="ACCIONES" style="text-align: center;">Opciones </th>
                  </tr>
                </thead>
                <tbody>
                <!--Contenido de Tabla-->
                <php:repeticion id="listado">
                  <tr>
                    <td data-campo="IDPLANTILLA" style="text-align: center;"><php:item id="idPlantilla"/></td>
                    <td data-campo="DESCRIPCION_PL"><php:item id="Descripcion_Pl"/></td>
                    <td data-campo="TIPODOCUMENTO" style="text-align: center;"><php:item id="NombreTipoDoc"/></td>
					<td data-campo="FLUJODEFIRMA"><php:item id="NombreWF"/></td>
                    <td data-campo="CATEGORIA" style="text-align: center;"><php:item id="Titulo"/></td>
                    <td data-campo="APROBADO"><div style="text-align: center;" id="Aprobado_<php:filamenos />"><php:item id="Aprobado"/></div></td>
                    <td data-campo="ACCIONES">
                      <form name="formulario" id="formulario_tipo" action="Plantillas.php" method="POST">
                        <input type="hidden" name="holdingid" value="<php:item id="holdingid" />">
                        <input type="hidden" name="idPlantilla" id="idPlantilla_<php:filamenos />" value="<php:item id="idPlantilla" />">  
                     
                         <input type="hidden" id="Aprob_<php:filamenos />" value='<php:item id="Aprob"/>' />        
                         <button class="btn btn-info btn-sm openBtn2" type="button" name="accion" onclick="vistaprevia_PLA('<php:filamenos />');" id="VistaPrevia_<php:filamenos />" value="VISTAPREVIA">Detalle</button>
                        <button class="btn btn-success btn-sm" type="submit" name="accion" value="CLONAR">Clonar</button>
                        <button class="btn btn-info btn-sm" type="submit" name="accion" id="APROBAR_<php:filamenos />" value="APROBAR">Aprobar</button>
                        <button class="btn btn-primary btn-sm" type="submit" name="accion" value="MODIFICAR">Modificar</button>
                        <button class="btn btn-default btn-sm" type="button" name="accion" id="ELIMINAR" value="ELIMINAR" onclick="javascript:return consultar_PLA(<php:filamenos />);">Eliminar</button>
                       <button class="btn btn-default btn-sm" type="submit" name="accion" id="ELIMINAR_<php:filamenos />" value="ELIMINAR" style="display:none;" >Eliminar</button>
                        <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
                    </td>
                  </tr>
                 </php:repeticion>
                 </tbody>
                </table>
              </div>
            </php:repeticion>
          </div> 
        </div>
        <!-- /.box -->
      </div>
      <!--.col-->
      </div>
    <!-- /.roe -->
    </div>
  </section> 


<!-- Modal para Vista Previa-->
 <div class="modal fade" id="ejemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h4 class="modal-title" id="ejemplo-titulo"> <!--Contenido del Titulo del Modal--></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="cerrar_modal">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ejemplo-cuerpo" align="justify" style="padding-right: 30px; padding-left: 30px;">
        <!--Contenido del Modal-->
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary btn-md cerrar_modal" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

