<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
       <!--Botones de cabecera-->
        <div class="box-header">
          <a class="btn btn-default btn_letra_azul" href="Plantillas.php" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
        </div>
        <div class="box-body">
          <!--Mensajes-->
          <div id="msjOK"><php:texto id="msjOK" /></div>
          <div id="msjError"><php:texto id="msjError" /></div>
          <div id="mensajeError"><php:texto id="mensajeError" /></div>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.col -->
</div>