	<div class="row">
		<div class="col-md-12">
		  	<div class="box ">
				<div class="box-body pad table-responsive">
					<!--Botones de cabecera-->
					<div class="box-header">
						<a class="btn btn-default btn_letra_azul" href="postulacion.php">Nueva postulaci&oacute;n</a>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<!--Mensajes-->
						<div id="mensajeError"><php:texto id="mensajeError" /></div>
						<div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
						<form name="formulariox" class="formulariox" id="formulario"  class="form-horizontal" action="Postulacion.phpx" method="POST" autocomplete=off>
							<php:repeticion id="formulario">
							<div class="box-body">
								<div class="row">
									<div class="col-md-12">
										<label style="float:right;"> (*) Campos obligatorios </label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label for="contenedorid" >Empresa</label>
										<div class="input-group col-xs-12">
											<input type="text" class="form-control" id="RazonSocial" name="RazonSocial" placeholder="Empresa" maxlength="50" value="<php:item id="RazonSocial" />" disabled >
											<input type="hidden" id="RutEmpresa" name="RutEmpresa" value="<php:item id="RutEmpresa" />" >
										</div>
									</div>
									<div class="col-md-6">
										<label for="contenedorid" >Divisi&oacute;n personal</label>
										<div class="input-group col-xs-12">
											<input type="text" class="form-control" id="nombrecentrocosto" name="nombrecentrocosto" placeholder="Divisi&oacute;n personal" maxlength="50" value="<php:item id="nombrecentrocosto" />" disabled >
											<input type="hidden" id="centrocostoid2" name="centrocostoid2" value="<php:item id="centrocostoid2" />" >
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label for="tipousuarioid">Rut postulante (*)</label>
										<div class="input-group col-xs-12">
											<input type="text" class="form-control newusuarioid_POSAgregar" id="newusuarioid"  name="newusuarioid" placeholder="Rut v&aacute;lido" maxlength="10" value="<php:item id="newusuarioid" />" autofocus >
										</div>
									</div>
									<div class="col-md-6">
										<label for="contenedorid" >Nombre postulante (*)</label>
										<div class="input-group col-xs-12">
											<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" maxlength="50" value="<php:item id="nombre" />" >
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label for="contenedorid" >Telefono postulante (*)</label>
										<div class="input-group col-xs-12">
											<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" maxlength="50" value="<php:item id="telefono" />">
										</div>
									</div>
									<div class="col-md-6">
										<label for="contenedorid" >E-mail postulante (*)</label>
										<div class="input-group col-xs-12">
											<input type="text" class="form-control" id="email" name="email" placeholder="E-mail" maxlength="50" value="<php:item id="email" />">
										</div>
									</div>
								</div>			
								<div class="row">
									<div class="col-md-6">
										<label for="contenedorid" >Cargo (*)</label>
										<select class= "form-control idCargoEmpleado_POSAgregar" name="idCargoEmpleado" id="idCargoEmpleado">
											<option value="0">(Seleccione)</option>
											<php:repeticion id="Cargos">
											<option value="<php:item id="idCargoEmpleado" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idCargoEmpleado" /><php:argumento idvalor="idCargoEmpleado" /></php:funcion>><php:item id="nombrecargoempleado" /></option>
											</php:repeticion>
										</select>
									</div>
									<div class="col-md-6">
										<label for="contenedorid" >Divisi&oacute;n personal (*)</label>
										<select class= "form-control" name="centrocostoid" id="centrocostoid">
											<option value="0">(Seleccione)</option>
											<php:repeticion id="CentrosCostos">
											<option value="<php:item id="centrocostoid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="centrocostoid" /><php:argumento idvalor="centrocostoid" /></php:funcion>><php:item id="nombrecentrocosto" /></option>
											</php:repeticion>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 xs-12">
										<label for="contenedorid" >Disponibilidad</label>
										<select class= "form-control" name="disponibilidadid" id="disponibilidadid">
											<option value="0">(Seleccione)</option>
											<php:repeticion id="Disponibilidades">
											<option value="<php:item id="disponibilidadid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="disponibilidadid" /><php:argumento idvalor="disponibilidadid" /></php:funcion>><php:item id="nombre" /></option>
											</php:repeticion>
										</select>
									</div>
								</div>
								<div class="row">
								</div>
								<div class="row">
								</div>
								<div class="row">
									<div class="col-md-6">
										<label for="contenedorid" >Observaciones</label>
										<div class="input-group col-xs-12">
											<textarea class="form-control" id="Observacion" name="Observacion" rows="1" placeholder="Observaciones" maxlength="300" value="<php:item id="Observacion" />"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<label class="form-check-label" for="discapacidad">
											Indicanos si tienes alg&uacute;n tipo de discapacidad y requieres de alg&uacute;n tipo de apoyo o ajuste para participar y desarrollar &oacute;ptimamente tu entrevista*
										</label>
										<div class="form-check">
											<input class="form-check-input" type="radio" onclick="javascript: controlCheck_POSAgregar();" name="discapacidad" id="discapacidadSI" value="si">
											<label class="form-check-label" for="discapacidadSI">Si</label>
											&nbsp;&nbsp;
											<input class="form-check-input" type="radio" onclick="javascript: controlCheck_POSAgregar();" name="discapacidad" id="discapacidadNO" value="no" checked>
											<label class="form-check-label" for="discapacidadNO">No</label>
										</div>
										<label id='unid' for="contenedorid">&iquest;Cual?</label>
										<div class="input-group col-xs-12">
											<textarea class="form-control" id="DiscapacidadObs" name="DiscapacidadObs" rows="1" placeholder="&iquest;Cual?" value="<php:item id="DiscapacidadObs" />" disabled></textarea>
										</div>
									</div>
								</div>
								<div class="row">
								</div>
								<div class="row">
									<div class="row">
										<div class="col-md-2 xs-12 pull-right">  
											<!--button class="btn btn-md btn-success btn-block" type="button" name="accion" id="AGREGAR" value="AGREGAR" style="margin-top: 10px" disabled>Agregar</button-->  
											<button class="btn btn-md btn-success btn-block AGREGAR_POSAgregar" type="button" name="accion" id="AGREGAR" value="AGREGAR" style="margin-top: 10px" >Agregar</button>  
										</div>
									</div>
								</div>			
							</div>
						  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
						</php:repeticion>
						<form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="Postulacion.php" method="POST" autocomplete=off>
							<div class="box-body">
								<table id="tabla_postulaciones" class="table table-bordered table-hover" style="text-align: center">
									<thead>
										<tr>
											<th style="text-align: center">Divisi&oacute;n personal</th>
											<th style="text-align: center">Cargo</th>
											<th style="text-align: center">Resultado</th>
											<th style="text-align: center">Opciones</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<div class="row">
									<div class="col-md-2 xs-12 pull-right">  
										<button class="btn btn-md btn-success btn-block" type="button" name="accion" id="GENERARPOSTULACION" value="GENERARPOSTULACION" style="margin-top: 10px" disabled>Enviar postulaciones</button>  
									</div>
								</div>
							</div>
						  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
						<div>
							<p><font color="green">* Somos una empresa inclusiva y diversa, que propicia ambientes laborales que valoran las diferencias, incentivando la inclusi&oacute;n laboral de acuerdo a la ley 21.015 y favoreciendo el desarrollo de talentos en todos sus colaboradores.</font></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>