<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body pad table-responsive">
                <div class="box-header">
                    <!--Opciones del encabezado-->
                    <div class="form-inline ">
                        <!--Nuevo-->
                        <div class="form-group">
                            <form name="formulario" id="formulario_usuarios" action="rl_institucion.php" method="POST" autocomplete="off">
                                <php:repeticion id="formulario">
                                <php:repeticion id="crear">
                                <button type="submit" class="btn btn-default" name="accion" value="AGREGAR"><a><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a></button> 
                                </php:repeticion>
                                <input type="hidden" name="pagina"  value="<php:texto id="pagina" />" />    
                                <!--input type="hidden" name="nombrex" value="<php:texto id="nombrex" />" /-->
                            </form>
                        </div>
                    </div> 
                </div>
                <div class="box-body">
                    <!--Mensaje de error-->	
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
                    <div id="mensaje"><php:texto id="mensaje" /></div>
                    <div id="divtabla" class="tabla-responsiva" >
                        <!--Tabla-->
                        <table id="example2" class="table table-bordered table-hover" name="tbltabla">
                            <thead>
                                <tr>
                                    <th data-campo="Rut" style="text-align: center;">Rut </th>
                                    <th data-campo="Razon Social" style="text-align: center;">Raz&oacute;n Social </th>
                                    <th data-campo="Opciones" style="text-align: center;">Opciones </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Contenido de Tabla-->
                                <php:repeticion id="listado">
                                <tr>
                                    <td data-campo="Rut"><php:item id="RutProveedor" /></td>
                                    <td data-campo="Razon Social"><php:item id="NombreProveedor" /></td>
                                    <td data-campo="Opciones">
                                        <form name="formulario" id="formulario_tipo" action="rl_institucion.php" method="POST">
                                            <!--input type="hidden" name="holdingid" value="<php:item id="holdingid" />"-->
                                            <input type="hidden" name="RutProveedor" value="<php:item id="RutProveedor" />">
                                            <!--input type="hidden" class="form-control" id="RazonSocial" name="RazonSocial" value="<php:item id="RazonSocial" />" placeholder="Razon Social" -->
                                            <php:repeticion id="modifica">
                                            <button class="btn btn-primary btn-sm" type="submit" name="accion" value="MODIFICAR">Modificar</button>
                                            </php:repeticion>
                                            <php:repeticion id="elimina">
                                            <button class="btn btn-default btn-sm" type="submit" name="accion" value="ELIMINAR" onclick="javascript:return preguntarPorBorrar();">Eliminar</button>
                                            </php:repeticion>
                                        </form>
                                    </td>
                                </tr>
                                </php:repeticion>
                            </tbody>
                        </table>
                        <!--form name="resultado" id="resultado" action="Respuesta_importar.php" method="POST" >  
                        </form-->
                    </div>
                    </php:repeticion>
                </div> 
            </div>
            <!-- /.box -->
        </div>
        <!--.col-->
    </div>
    <!-- /.roe -->
</div>
<script>
   /*function createXMLHttp()
    {
        var xmlHttp = null; 
        if(window.XMLHttpRequest)
        {
            xmlHttp = new XMLHttpRequest();
        }
        else if(window.ActiveXObject)
        {   
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlHttp;
    }
  
  function uploadFile( file )
  {
     
      var xhr =  createXMLHttp();
      //xhr=new ActiveXObject("Microsoft.XMLHTTP");

      xhr.upload.addEventListener('loadstart',function(e){
        document.getElementById('mensaje').innerHTML = 
          'Cargando archivo...';
      }, false);

      xhr.upload.addEventListener('load',function(e){
        document.getElementById('mensaje').innerHTML = '';
      }, false);

      xhr.upload.addEventListener('error',function(e){
        alert('Ha habido un error :/');
      }, false);
      xhr.open('POST','importarExcel.php?IdArchivo=1');
           
            xhr.setRequestHeader("Cache-Control", "no-cache");
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.setRequestHeader("X-File-Name", file.name);

      xhr.addEventListener('readystatechange', function(e) {
        if( this.readyState == 4 ) {

         respuesta = xhr.responseText;
          
       // document.getElementById("mensajeError").innerHTML = xhr.responseText;
      
       if (respuesta == "")//cuando sepa que fue bien sea vacio sea ok realiza el submit
          {
      
           document.getElementById("resultado").submit();
            //pasando en mensaje al formulario creado con nombre mensaje           
         }
         else
         {
            var elementoError   = document.getElementById("mensajeError");
            elementoError.innerHTML = respuesta;
            elementoError.className += "callout callout-danger";
          
         }
        }
    
    document.getElementById("archivo").value = "";
      });
         xhr.send(file);
}
//revisa si hay algun cambio en el archivo
upload_input = document.querySelectorAll('#archivo')[0];

upload_input.onchange = function(){
  //alert('2');
  uploadFile( this.files[0] );
};*/
</script>

