<div class="row">
    <div class="col-md-12">
        <div class="box ">
            <div class="box-body">
                <!--Mensajes-->
                <div id="mensajeError"><php:texto id="mensajeError" /></div>
                <div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
                <form name="formulario" class="formulario" id="formulario"  class="form-horizontal" action="rl_importacionpdf_proveedores.php" enctype="multipart/form-data" method="POST" autocomplete=off>
                    <php:repeticion id="formulario">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li><a href="#tab_4" data-toggle="tab">Generaci&oacute;n</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_4">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="float:right;"> (*) Campos obligatorios </label>
                                        </div>
                                    </div>
                                    <!--Empresas-->
                                    <div class="col-md-6" >
                                        <label for="Empresa" >Empresa (*) </label>
                                        <!--Select de Empresas disponibles-->
                                        <select class= "form-control RutEmpresa_RLIP" name="RutEmpresa" id="RutEmpresa">
                                            <php:repeticion id="Empresas">
                                            <option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
                                            </php:repeticion>
                                        </select>
                                    </div>
                                    <!--Cliente-->
                                    <div class="col-md-6 xs-12">
                                        <label>Instituci&oacute;n / Relaci&oacute;n Laboral (*)</label>
                                        <div class="box-body" style="padding-left: 0px;padding-top: 0px;">
                                            <div class="col-md-3 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                                <input class="form-control RutProveedor_RLIP" type="text" name="RutProveedor" id="RutProveedor" value="<php:item id="RutProveedor" />" placeholder=""  />
                                            </div>
                                            <div class="col-md-7 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                                <input class="form-control" type="text" name="NombreProveedor" id="NombreProveedor" value="<php:item id="NombreProveedor" />" placeholder="" readonly />
                                            </div>
                                            <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                                <button class="btn btn-md btn-primary btn-block proveedores btn_proveedores_RLIP"  onclick="mantenedor_RLIP()" type="button" id="btn_proveedores" data-toggle="modal" data-toggle="tooltip" title="B&uacute;squeda avanzada" ><i class="fa fa-search"></i></button>
                                            </div>
                                            <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                                <button class="btn btn-md btn-primary btn-block proveedores"  type="button" id="btn_empresa"  title="Agregar Empresa Externa" data-toggle="modal"  data-target="#modal_creaproveedor"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12" >
                                        <label>Nombre documento (*)</label>
                                            <!--div class="input-group date"-->
                                            <input type="text" class="form-control" id="rlTipoDocumento" name="rlTipoDocumento" placeholder="Nombre del tipo de documento"  />
                                            <!--/div-->
                                        </div>
                                    </div>
                                    <!--Division de personal-->
                                    <!--<div class="row" >
                                        <div class="col-md-6 xs-12">
                                            <label>Divisi&oacute;n (*)</label>
                                            <div class="box-body" style="padding-left: 0px;padding-top: 0px;">
                                                <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                                    <input class="form-control" type="text" name="nombrelugarpago" id="nombrelugarpago" placeholder="(Seleccione)" readonly/>
                                                    <input class="form-control" type="hidden" name="lugarpagoid" id="lugarpagoid" />
                                                    <input type="hidden" name="idCentroCosto" id="centrocostoid"/>
                                                </div>
                                                <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                                    <button class="btn btn-md btn-primary btn-block lugares_pago"  type="button" id="btn_lugares_pago" data-toggle="modal" data-target="#modal_lugares_pago"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12" >
                                            <label for="contenedorid" >Fecha de Documento (*)</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="datetime" class="form-control" id="FechaDocumento" name="FechaDocumento" placeholder="FechaDocumento"  />
                                            </div>
                                        </div>
                                    </div>
                                    <!--Tipo de Documento-->
                                    <div class="col-md-6" style="padding-bottom: 15px; display:none;">
                                        <label for="TipoDeDocumento" >Tipo de Documento (*)</label>
                                        <!--Select de Empresas disponibles-->
                                        <select class= "form-control idTipoDoc_RLIP" name="idTipoDoc" id="idTipoDoc" required>
                                            <option value="0">(Seleccione)</option>
                                            <php:repeticion id="TipoDocumentos">
                                            <option value="<php:item id="idTipoDoc" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idTipoDoc" /><php:argumento idvalor="idTipoDoc" /></php:funcion>><php:item id="NombreTipoDoc" /></option>
                                            </php:repeticion>
                                        </select>
                                    </div>
                                    <!--Procesos-->
                                    <!--<div class="col-md-6" style="padding-bottom: 15px;">
                                        <label for="Proceso" >Proceso (*)</label>
                                        <!--Select de Empresas disponibles-->
                                        <!--<select class= "form-control" name="idProceso" id="idProceso" required>
                                            <php:repeticion id="idProceso">
                                            <option value="<php:item id="idProceso" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idProceso" /><php:argumento idvalor="idProceso" /></php:funcion>><php:item id="Descripcion" /></option>
                                            </php:repeticion>
                                        </select>
                                    </div>!-->
                                    <!--Plantilla-->
                                    <div class="col-md-6 xs-12" style="padding-bottom: 15px;">
                                        <label>Flujo (*)</label>
                                        <select class="form-control idPlantilla_RLIP name="idPlantilla" id="idPlantilla">
                                            <option value="0">( Seleccione )</option>
                                        </select>
                                    </div>
                                    <!--Centros de Costo-->
                                    <div class="col-md-6" style="padding-bottom: 15px;">
                                        <label for="Centro Costo" >Carpeta Instituci&oacute;n</label>
                                        <!--Select de Empresas disponibles-->
                                        <select class= "form-control" name="idCentroCosto" id="idCentroCosto" required>
                                            <option value="0">( Seleccione )</option>
                                        </select>
                                    </div>
                                    <!--Subir documento-->
                                    <div class="row">
                                        <div class="col-md-6" id="doc">
                                            <label for="Subir" id="doc_label">Seleccione archivo PDF (*)</label>
                                            <div class="form-group" id="doc_hijo"> 
                                                <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                                    <input type="text" class="form-control" placeholder="Seleccione archivo de carga" name="Documento" id="Documento" tabindex="7">
                                                </div>
                                                <div class="col-md-1 xs-12" style="padding-left: 5px; padding-right: 0px;">
                                                    <span class="btn btn-primary btn-file">
                                                        <i id="ico_upload" class="fa fa-upload" aria-hidden="true"></i>
                                                        <input type="file" name="pdf64" id="pdf64"  accept="application/pdf"  class="pdf64_RLIP"/>
                                                    </span>
                                                </div>
                                                <span class="fileinput-filename"></span>
                                                <span class="fileinput-new"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Seleccionar Firmantes por Empresas -->
                                    <div class="row">
                                        <div class="col-md-12">
                                        <h5></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label id="label" style="display: none">Seleccione Firmantes (*)</label>
                                            <!-- Pasos-->
                                            <div class="steps-form-2">
                                                <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
                                                    <div class="steps-step-2" id="icono_representante" style="display:none">
                                                        <a href="#step-1" id="boton_emp"  type="button" data-parent="#accordionx" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Empresa"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample1"><i class="fa fa-building" aria-hidden="true"></i></a>
                                                        <div id="text_emp" class="text">Representantes</div>
                                                    </div>
                                                    <div class="steps-step-2" id="icono_proveedores" style="display:none">
                                                        <a href="#step-2" id="boton_cli" type="button" data-parent="#accordionx" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-placement="top" title="Cliente"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample2"><i class="fa fa-users" aria-hidden="true"></i></a>
                                                        <div id="text_cli" class="text">Instituci&oacute;n</div>
                                                    </div>
                                                    <div class="steps-step-2" style="display:none">
                                                        <a href="#step-3" id="boton_not" type="button" data-parent="#accordionx" class="btn btn-amber btn-circle-2 waves-effect ml-0 not steps-not" data-placement="top" title="Notaria"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                        <div id="text_not" class="text">Notaria</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Firmantes de Empresas-->
                                            <div class="collapse" id="step-1">
                                                <table id="tabla_emp" class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <h4> Representantes </h4>
                                                        </tr> 
                                                        <tr>
                                                            <th style="text-align: center;">Selecci&oacute;n</th>
                                                            <th style="text-align: center;">Rut</th>
                                                            <th style="text-align: center;">Nombre y Apellido</th>
                                                            <th style="text-align: center;">Cargo</th>
                                                            <th class="columna_emp" style="text-align: center;">Orden</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>                 
                                                </table>
                                            </div>
                                               <!--Fin de firmantes-->
                                            <!--Firmantes de proveedores-->
                                            <div class="collapse" id="step-2">
                                                <div class="col-md-12 xs-12">
                                                    <div class="box-body" style="padding-left: 0px;padding-top: 0px;">
                                                        <div class="col-md-11 xs-12" style="padding-left: 0px; padding-right: 0px;">
                                                            <h4>Instituci&oacute;n</h4>
                                                        </div>
                                                        <div class="col-md-1 xs-1" style="padding-left: 0px; padding-right: 0px;">
                                                            <button class="btn btn-md btn-primary btn-block proveedores pull-left"  type="button" id="btn_creafirmanteproveedor" onclick="inicio_firmate_proveedor_RLIP()" data-toggle="modal" data-toggle="tooltip" title="Agregar Firmante Empresa Externa" data-target="#modal_creafirmanteproveedor"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table id="tabla_cli" class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center;">Selecci&oacute;n</th>
                                                            <th style="text-align: center;">Rut</th>
                                                            <th style="text-align: center;">Nombre y Apellido</th>
                                                            <th class="columna_cli" style="text-align: center;">Orden</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>                 
                                                </table>
                                            </div>
                                              <!--Fin de firmantes-->
                                        </div>
                                          <!--Fin de Firmantes-->
                                        <div class="row">  
                                            <div class="col-md-2 xs-12 pull-right">  
                                                <input type="hidden" id="idWF" name="idWF"/>
                                                <!--Firmantes de la Plantilla-->
                                                <input type="hidden" id="Representantes" name="Representantes" />
                                                <input type="hidden" id="proveedores" name="proveedores" />
                                                <input type="hidden" id="Representantes_ConOrden" name="Representantes_ConOrden" />
                                                <input type="hidden" id="proveedores_ConOrden" name="proveedores_ConOrden" />
                                                <input type="hidden" id="Empleado" name="Empleado" />
                                                <input type="hidden" id="Cantidad_Firmantes" name="Cantidad_Firmantes" />
                                                <input type="hidden" id="max" value="<php:texto id="max" />" />
                                                <input type="hidden" id="orden_representantes" value="<php:texto id="orden_representantes" />" />
                                                <input type="hidden" id="orden_proveedores" value="<php:texto id="orden_proveedores" />" />
                                                <input type="hidden" id="input_empleado" name="input_empleado" value="<php:item id="input_empleado"/>"/>
                                                <button class="btn btn-md btn-success btn-block" type="submit" name="accion"  onclick="javascript:return validargenerar_RLIP()" id="GENERAR" value="GENERAR" style="margin-top: 10px">Generar</button> 
                                            </div>
                                        </div>
                                    </div>	
                                </div>  
                            </div>
                        </div>
                    </div>
                    </php:repeticion>
                </form>
                <form name="formproveedor" class="formulario" id="formproveedor"  class="form-horizontal" action="rl_Proveedores.php" method="POST" >
                    <input type="hidden" id="RutEmpresadin" value="" name="RutEmpresadin"/>
                    <input type="hidden" name="accion" value="BUSCAR" />		
                </form>
                <!--Modal de Lugares de pago-->
                <div class="modal fade" id="modal_lugares_pago" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <h4 class="modal-title" id="ejemplo-titulo"> Divisi&oacute;n </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="cerrar_modal">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="mensajeError_modal"></div>
                                <table id="tabla_lugares_pago" class="table table-bordered table-hover" style="text-align: center">
                                    <thead >
                                        <tr>
                                            <th  style="text-align: center" >C&oacute;digo</th>
                                            <th  style="text-align: center" >Nombre</th>
                                            <th  style="text-align: center" >Selecci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer" style="margin-top:10px;">
                                <button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_lugares_pago" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                  </div>
                <!--Modal de Centros de Costo-->
                <div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-content">
                        <div class="modal-header" align="center">
                            <h4 class="modal-title" id="ejemplo-titulo"> Relaci&oacute;n Laboral </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="cerrar_modal">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="mensajeError_modal"></div>
                            <table id="tabla_centro_costo" class="table table-bordered table-hover" style="text-align: center">
                                <thead >
                                    <tr>
                                        <th  style="text-align: center" >C&oacute;digo</th>
                                        <th  style="text-align: center" >Nombre</th>
                                        <th  style="text-align: center" >Selecci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer" style="margin-top:10px;">
                            <button type="button" class="btn btn-secondary btn-md cerrar_modal" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
                <!--Modal de proveedores-->
                <div class="modal fade" id="modal_proveedores" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="divtabla" class="tabla-responsiva" >
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <h4 class="modal-title" id="ejemplo-titulo"> Externo </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" title="Crear Firmante Empresa Externa" data-target="#modal_creafirmanteproveedor">
                                    <span aria-hidden="true" class="cerrar_modal">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="mensajeError_modal"></div>
                                <table id="example2"   name="tbltabla">
                                    <thead >
                                        <tr>
                                            <th  style="text-align: center" >C&oacute;digo</th>
                                            <th  style="text-align: center" >Nombre</th>
                                            <th  style="text-align: center" >Selecci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer" style="margin-top:10px;">
                                <button type="button" class="btn btn-secondary btn-md cerrar_proveedores_RLIP" id="cerrar_proveedores" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal crea proveedor-->
                <div class="modal fade" id="modal_creaproveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <h4 class="modal-title" id="ejemplo-titulo"> Crear Externo</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="cerrar_modal">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="mensajeError_modal"></div>
                                <form name="formulario2" id="formulario2"  >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="RutEmpresa">Rut Empresa</label>
                                            <input type="text" class="form-control" id="rutempresa_m" name="rutempresa_m" maxlength="10" value="" placeholder="" > 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 xs-12">
                                            <label for="RazonSocial">Raz&oacute;n Social</label>
                                            <input type="text" class="form-control" id="razonsocial_m" name="razonsocial_m" maxlength="50" value="" placeholder="" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 xs-12">
                                            <label for="Direccion">Direcci&oacute;n</label>
                                            <input type="text" class="form-control" id="direccion_m" name="direccion_m" maxlength="100" value="" placeholder="" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="Comuna">Comuna</label>
                                            <input type="text" class="form-control" id="comuna_m" name="comuna_m" maxlength="50" value="" placeholder="" > 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 xs-12">
                                            <label for="Ciudad">Ciudad</label>
                                            <input type="text" class="form-control" id="ciudad_m" name="ciudad_m" maxlength="50" value="" placeholder="" >
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-md-6 xs-12" style="margin-top:10px">
                                            <button type="button" class="btn btn-secondary btn-md" id="cerrar_creaproveedor" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>	-->
                                    <div class="row">
                                        <div class="col-md-6 xs-12" style="margin-top:10px">
                                            <button type="button" class="btn btn-secondary btn-md" onclick="javascript:return validarFormulario2(this) && validaRut3(obtenerElemento('rutempresa_m').value,'rutempresa_m') && graba_proveedor_RLIP();" name="grabar_creaproveedor" id="grabar_creaproveedor" >Grabar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" style="margin-top:10px;">
                            </div>
                          </div>
                    </div>
                  </div>	
                <!--Modal crea firmante proveedor-->
                <div class="modal fade" id="modal_creafirmanteproveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <h4 class="modal-title" id="ejemplo-titulo"> Crea Firmante Empresa Externa</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="cerrar_modal">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="mensajeError_modal"></div>
                                <form name="formulario3" id="formulario3"  >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="RutRepresentante">Rut Empresa Externa</label>
                                            <input type="text" class="form-control" id="rutempresa_fp" name="rutempresa_fp" maxlength="10" value="" placeholder="" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="RutRepresentante">Rut Representante</label>
                                            <input type="text" class="form-control" id="rutrepresentate_fp" name="rutrepresentate_fp" maxlength="10" value="" placeholder="" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="Nacionalidad">Nacionalidad</label>
                                            <input type="text" class="form-control" id="nacionalidad_fp" name="nacionalidad_fp" maxlength="20 value="" placeholder="" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="Nombre">Nombre</label>
                                            <input type="text" class="form-control" id="nombre_fp" name="nombre_fp" maxlength="50" value="" placeholder="" > 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 xs-12">
                                            <label for="ApPaterno">Apellido Paterno</label>
                                            <input type="text" class="form-control" id="paterno_fp" name="paterno_fp" maxlength="50" value="" placeholder="" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 xs-12">
                                            <label for="ApMaterno">Apellido Materno</label>
                                            <input type="text" class="form-control" id="materno_fp" name="materno_fp" maxlength="50" value="" placeholder="" >
                                        </div>
                                    </div>	
                                    <div class="row">
                                        <div class="col-md-6 xs-12">
                                            <label for="Correo">Correo</label>
                                            <input type="text" class="form-control" id="email" name="email" maxlength="60" value="" placeholder="" >
                                        </div>
                                    </div>	
                                    <div class="row" >
                                        <div class="col-md-6 xs-12">
                                            <label for="">Tipo de Firma</label>
                                            <select class= "form-control" name="idFirma" id="idFirma">
                                                <php:repeticion id="formulario_firmante">
                                                <php:repeticion id="Firmas">
                                                <option value="<php:item id="idFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idFirma"/><php:argumento idvalor="idFirma" /></php:funcion>><php:item id="Descripcion" /></option>
                                                </php:repeticion>
                                                </php:repeticion>
                                            </select>
                                        </div>
                                    </div>					
                                    <div class="row">
                                        <div class="col-md-6 xs-12">
                                            <label for="Cargo">Cargo</label>
                                            <input type="text" class="form-control" id="cargo_fp" name="cargo_fp" maxlength="60" value="" placeholder="" >
                                        </div>
                                    </div>				
                                    <div class="row">
                                        <div class="col-md-6 xs-12" style="margin-top:10px">
                                            <button type="button" class="btn btn-secondary btn-md" onclick="javascript:return validarFormulario3(this,new Array(),new Array('materno_fp')) && validaRut3(obtenerElemento('rutrepresentate_fp').value,'rutrepresentate_fp') && graba_firmante_proveedor();" name="grabar_creaproveedor" id="grabar_creaproveedor" >Grabar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" style="margin-top:10px;">
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
  </div>
</section>
