<h4> Ingreso Representante </h4>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body pad table-responsive">
                <div class="box-header">
                    <div class="btn-group-md" role="group">
                        <php:repeticion id="formulario">
                        <form role="form" name="formulario2" id="formulario2" action="rl_institucion.php" method="POST" autocomplete="off" >
                            <input type="hidden" class="form-control" id="RutProveedor" name="RutProveedor" value="<php:item id="RutProveedor"/>"/>
                            <button type="submit" name="accion" value="MODIFICAR" class="btn btn-default btn_letra_azul"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</button>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    <div id="mensajeError"><php:texto id="mensajeError" /></div>
                    <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
                    <form role="form" name="formulario" id="formulario" action="rl_institucion.php" method="POST" autocomplete="off">
                        <div class="col-md-6 xs-12">
                            <label for="RutProveedor">Rut Instituci&oacute;n</label>
                            <input type="text" class="form-control" id="RutProveedor" readonly="readonly" name="RutProveedor" value="<php:item id="RutProveedor"/>" onkeyup="mayus(this);" />
                        </div>
                        <div class="col-md-6 xs-12">
                            <label for="RutUsuario">Rut del Representante</label>
                            <!--<div class="input-group">-->
                                <!-- <span class="input-group-addon">
                                <input type="checkbox" id="checkbox" name="checkbox" title="Pinche aqui para no validar Rut"/>
                                </span>-->
                                <input type="text" name="RutUsuario" id="RutUsuario" class="form-control" placeholder="Rut del Representante" maxlength="10" onkeyup="mayus(this);" />
                            <!-- </div>-->
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 xs-12">
                                <label for="nacionalidad">Nacionalidad</label>
                                <input type="text" class="form-control" id="nacionalidad" name= "nacionalidad" placeholder="Nacionalidad" value="<php:item id="nacionalidad"/>">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 xs-12">
                                <label for="nombre">Nombre</label>
                                <!--<input type="text" class="form-control" id="nombre" name= "nombre" placeholder="Nombres " value="<php:item id="nombre"/>">-->
                                <input type="text" class="form-control" id="nombre" name= "nombre" placeholder="Nombre" value="" />
                            </div>
                        </div>
                        <div class="form-row">  
                            <div class="col-md-6 xs-12">
                                <label for="appaterno">Apellido Paterno</label>
                                <input type="text" class="form-control" id="appaterno" name= "appaterno" placeholder="Apellido Paterno" value="<php:item id="appaterno"/>" >
                            </div>
                            <div class="col-md-6 xs-12">
                                <label for="apmaterno">Apellido Materno</label>
                                <input type="text" class="form-control" id="apmaterno" name= "apmaterno" placeholder="Apellido Materno" value="<php:item id="apmaterno"/>" >
                            </div>
                        </div>
                        <div class="form-row">  
                            <div class="col-md-6 xs-12">
                                <label for="correo">Correo</label>
                                <input type="text" class="form-control" id="correo" name= "correo" placeholder="Correo electr&oacute;nico" value="<php:item id="correo"/>" >
                            </div>
                        </div>
                        <!--div class="form-row" style="">
                            <div class="col-md-6 xs-12">
                                <label for="idFirma">Rol de firmante</label>
                                <select class= "form-control" name="idCargo" id="idCargo">
                                    <option value="0">(Seleccione)</option>
                                    <php:repeticion id="Cargos">
                                        <option value="<php:item id="idCargo" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idCargo" /><php:argumento idvalor="idCargo" /></php:funcion>><php:item id="Descripcion" /></option>
                                    </php:repeticion>
                                </select>
                            </div>
                        </div-->
                        <div class="form-row" >
                            <div class="col-md-6 xs-12">
                                <label for="idFirma">Tipo de Firma</label>
                                <select class= "form-control" name="idFirma" id="idFirma">
                                    <option value="0">(Seleccione)</option>
                                    <php:repeticion id="Firmas">
                                        <option value="<php:item id="idFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idFirma" /><php:argumento idvalor="idFirma" /></php:funcion>><php:item id="Descripcion" /></option>
                                    </php:repeticion>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 xs-12">
                                <label for="cargo">Cargo</label>
                                <input type="text" class="form-control" id="cargo" name= "cargo" placeholder="Cargo" value="<php:item id="cargo"/>">
                            </div>
                        </div>
                        <!--div class="form-row" style="display:none">
                            <div class="col-md-12 xs-12">
                                <h5><strong>Personeria</strong></h5>
                                <textarea name="Personeria" id="TextoTxt" cols="80" rows="5"><php:item id="Personeria" /></textarea>
                            </div>
                        </div-->
                        <div class="form-row">  
                            <div class="col-md-2 xs-12 pull-right" style="margin-top:15px;">
                                <input type="hidden" name="accion" value="AGREGAR_R" />
                                <button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion2" value="AGREGAR_R" onclick="javascript: return validarFormulario(this,new Array(),new Array('apmaterno','Personeria')) && validaRut(obtenerElemento('RutUsuario').value );"/>Guardar</button>
                                            
                            </div> 
                        </div>
                    </form>   
                    </php:repeticion>   
                </div>  
            </div>
        </div>
    </div>
</div>
</section>