<h4> Ingreso Firmante </h4>
     <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-body pad table-responsive">
                <div class="box-header">
                  <div class="btn-group-md" role="group">
                    <php:repeticion id="formulario">
                    <form role="form" name="formulario2" id="formulario2" action="rl_Proveedores.php" method="POST" autocomplete="off" >
                      <input type="hidden" class="form-control" id="RutProveedor" name="RutProveedor" value="<php:item id="RutProveedor"/>"/>
                      <input type="hidden" class="form-control" id="RutEmpresa" name="RutEmpresa" value="<php:item id="RutEmpresa"/>"/>
                      <button type="submit" name="accion" value="MODIFICAR" class="btn btn-default btn_letra_azul"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</button>
                      <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>

                  </div>
				</div>
                <div class="box-body">
                   <div id="mensajeError"><php:texto id="mensajeError" /></div>
                   <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
					<form role="form" name="formulario" id="formulario" action="rl_Proveedores.php" method="POST" autocomplete="off">
					
					   <div class="col-md-6 xs-12">
						<label for="RutProveedor">Rut Empresa</label>
						<input type="text" class="form-control" id="RutEmpresa" readonly="readonly" name="RutEmpresa" value="<php:item id="RutEmpresa"/>">
					  </div>
					  <div class="col-md-6 xs-12">
						<label for="RutProveedor">Rut del Proveedor</label>
						<input type="text" class="form-control" id="RutProveedor" readonly="readonly" name="RutProveedor" value="<php:item id="RutProveedor"/>">
					  </div>	
    
					  <div class="col-md-6 xs-12">
						  <label for="RutUsuario">Rut del Representante</label>
						  <!--<div class="input-group">-->
							  <!-- <span class="input-group-addon">
							   <input type="checkbox" id="checkbox" name="checkbox" title="Pinche aqui para no validar Rut"/>
							   </span>-->
							   <input type="text" name="RutUsuario" id="RutUsuario" class="form-control" placeholder="Numero de identificador" maxlength="10">
						<!-- </div>-->
					  </div>
					  <div class="row">
						  <div class="col-md-6 xs-12">
							  <label for="nacionalidad">Nacionalidad</label>
							  <input type="text" class="form-control" id="nacionalidad" name= "nacionalidad" placeholder="Nacionalidad" value="<php:item id="nacionalidad"/>">
						  </div>
					  </div>
						
						<div class="row">
							<div class="col-md-6 xs-12">
								<label for="nombre">Nombre</label>
								<input type="text" class="form-control" id="nombre" name= "nombre" placeholder="Nombres " value="<php:item id="nombre"/>">
							</div>
						</div>
					
						<div class="row">  
							<div class="col-md-6 xs-12">
								<label for="appaterno">Apellido Paterno</label>
								<input type="text" class="form-control" id="appaterno" name= "appaterno" placeholder="Apellido Paterno" value="<php:item id="appaterno"/>" >
							</div>
							<div class="col-md-6 xs-12">
								<label for="apmaterno">Apellido Materno</label>
								<input type="text" class="form-control" id="apmaterno" name= "apmaterno" placeholder="Apellido Materno" value="<php:item id="apmaterno"/>" >
							</div>
						</div>
					  
					 <!-- <div class="row" style="">
						  <div class="col-md-6 xs-12">
							  <label for="idFirma">Rol</label>
							  <select class= "form-control" name="idCargo" id="idCargo">
  							  <option value="0">(Seleccione)</option>
  							     <php:repeticion id="Cargos">
  							         <option value="<php:item id="idCargo" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idCargo" /><php:argumento idvalor="idCargo" /></php:funcion>><php:item id="Descripcion" /></option>
  							  </php:repeticion>
							  </select>
						  </div>
					  </div>-->
					  
					   <div class="row">  
						  <div class="col-md-6 xs-12">
							<label for="correo">Correo</label>
							<input type="text" class="form-control" id="correo" name= "correo" placeholder="correo" value="<php:item id="correo"/>">
						  </div>
						</div>
												
						<div class="row" >
						  <div class="col-md-6 xs-12">
							<label for="">Tipo de Firma</label>
							<select class= "form-control" name="idFirma" id="idFirma">
							  <option value="0">(Seleccione)</option>
							  <php:repeticion id="Firmas">
								<option value="<php:item id="idFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idFirma"/><php:argumento idvalor="idFirma" /></php:funcion>><php:item id="Descripcion" /></option>
							  </php:repeticion>
							</select>
						  </div>
						</div>
						
						<div class="row">  
							<div class="col-md-6 xs-12">
								<label for="Cargo">Cargo</label>
								<input type="text" class="form-control" id="Cargo" name= "Cargo" placeholder="Cargo" value="<php:item id="cargo"/>" >
							</div>
						</div>
				
					<div class="row">  
					  <div class="col-md-2 xs-12 pull-right" style="margin-top:15px;">
						<input type="hidden" name="accion" value="AGREGAR_R" />
						<button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion2" value="AGREGAR_R" onclick="javascript: return validarFormulario(this,new Array(),new Array('apmaterno','Personeria')) && validar();"/>Guardar</button>
					  </div> 
					</div>
					  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>   
                </php:repeticion>   
               </div>  
            </div>
          </div>
        </div>
      </div>
   </section>
   
