<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-body pad table-responsive">
				<!--Botones de cabecera-->
				<div class="box-header">
					<a class="btn btn-default btn_letra_azul" href="usuariosmant.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
				</div>
				<!-- /.box-header -->
				<div class="box-body" style="padding: 30px;">
					<!--Mensajes-->
					<div id="mensajeError"><php:texto id="mensajeError" /></div>
					<div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
					<form name="formulario" class="formularioModificar" id="formulario"  class="form-horizontal" action="usuariosmant.php" method="POST" autocomplete="off">
						<php:repeticion id="formulario">
						<div class="row">
							<div class="col-md-6">
								<div style="float:left;">
									<input type="checkbox" id="forzarCambioContrasena" name="forzarCambioContrasena" value="cambioContrasena"> <b>Forzar cambio de contrase&ntilde;a</b>
								</div>
							</div>
							<div class="col-md-6">
								<label style="float:right;"> (*) Campos obligatorios </label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<label for="tipousuarioid" class="col-sm-4 control-label">Rut (*)</label>
								<input type="contenedor" class="form-control" id="newusuarioid"  name="newusuarioid" placeholder="" maxlength="11" value="<php:item id="newusuarioid" />" disabled >
								<input type="hidden" name="newusuarioid" value="<php:item id="newusuarioid" />" />
							</div>
						
							<div class="col-md-6 col-xs-12">
								<label for="contenedorid" class="col-sm-4 control-label">Nombre (*)</label>
								<input type="contenedor" class="form-control" id="nombre" name="nombre" placeholder="" maxlength="50" value="<php:item id="nombre" />">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<label for="contenedorid" class="col-sm-4 control-label">Apellido Paterno (*)</label>
								<input type="contenedor" class="form-control" id="appaterno" name="appaterno" placeholder="" maxlength="50" value="<php:item id="appaterno" />">
							</div>
						
							<div class="col-md-6 col-xs-12">
								<label for="contenedorid" class="col-sm-4 control-label">Apellido Materno</label>
								<input type="contenedor" class="form-control" id="apmaterno" name="apmaterno" placeholder="" maxlength="50" value="<php:item id="apmaterno" />">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<label for="contenedorid" class="col-sm-4 control-label">Correo Electr&oacute;nico (*)</label>
								<input type="contenedor" class="form-control" id="correo" name="correo" placeholder="" maxlength="50" value="<php:item id="correo" />">
							</div>
						
							<div class="col-md-6 col-xs-12">
								<label for="contenedorid" class="col-sm-4 control-label">Perfil (*)</label>
								<select class= "form-control" name="tipousuarioid" id="tipousuarioid">
									<option value="0">(Seleccione)</option>
									<php:repeticion id="tiposusuarios">
									<option value="<php:item id="tipousuarioid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="tipousuarioid" /><php:argumento idvalor="tipousuarioid" /></php:funcion>><php:item id="nombre" /></option>
									</php:repeticion>
								</select>
							</div>
						</div>	
						<div class="row" >
							<div class="col-md-6 xs-12">
								<label for="">Tipo de Firma (*)</label>
								<select class= "form-control" name="idFirma" id="idFirma">
									<option value="0">(Seleccione)</option>
									<php:repeticion id="Firmas">
									<option value="<php:item id="idFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idFirma"/><php:argumento idvalor="idFirma" /></php:funcion>><php:item id="Descripcion" /></option>
									</php:repeticion>
								</select>
							</div>
						
							<div class="col-md-6 col-xs-12">
								<label for="contenedorid" >Rol (*)</label>
								<select class= "form-control" name="rolid" id="rolid">
									<option value="0">(Seleccione)</option>
									<php:repeticion id="Roles">
									<option value="<php:item id="rolid" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="rolid" /><php:argumento idvalor="rolid" /></php:funcion>><php:item id="Descripcion" /></option>
									</php:repeticion>
								</select>
							</div>
						</div>
						<!--Empresas-->
						<div class="row">
							<div class="col-md-6" >
								<label for="contenedorid">Empresa (*) </label>
								<!--Select de Empresas disponibles-->
								<select class= "form-control" name="RutEmpresa" id="RutEmpresa">
									<option value="0">( Seleccione )</option>
									<php:repeticion id="Empresas">
									<option value="<php:item id="RutEmpresa" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="RutEmpresa" /><php:argumento idvalor="RutEmpresa" /></php:funcion>><php:item id="RazonSocial" /></option>
									</php:repeticion>
								</select>
							</div>
							<div class="col-md-6" >
								<label for="contenedorid">Estado usuario (*) </label>
								<!--Select de Empresas disponibles-->
								<select class= "form-control" name="idEstadoUsuario" id="idEstadoUsuario">
									<option value="0">( Seleccione )</option>
									<php:repeticion id="EstadoUsuario">
									<option value="<php:item id="idEstadoUsuario" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idEstadoUsuario" /><php:argumento idvalor="idEstadoUsuario" /></php:funcion>><php:item id="nombreEstadoUsuario" /></option>
									</php:repeticion>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6" >
								<label for="contenedorid">Bloqueado (*) </label>
								<!--Select de Empresas disponibles-->
								<select class= "form-control" name="idUsuarioBloqueado" id="idUsuarioBloqueado">
									<option value="0">( Seleccione )</option>
									<php:repeticion id="UsuarioBloqueado">
									<option value="<php:item id="idUsuarioBloqueado" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idUsuarioBloqueado" /><php:argumento idvalor="idUsuarioBloqueado" /></php:funcion>><php:item id="nombreUsuarioBloqueado" /></option>
									</php:repeticion>
								</select>
							</div>
						
						
							<div class="col-md-6 d-flex justify-content-between">
								<div class="col-md-2 xs-12" style="margin-top:15px;">            
									<input class="btn btn-primary btn-block" type="button" style="margin-top: 10px"  onclick="javascript:iraccesoxusuario();" name="accion2" value="PERMISOS" />
								</div>
								<div class="col-md-2 xs-12 d-flex justify-content-end" style="margin-top:15px;">
									<input type="hidden" name="accion" value="MODIFICAR" />
									<button class="btn btn-md btn-primary" type="submit" style="margin-top: 10px" name="accion2" value="MODIFICAR" onclick="javascript:return validarFormulario(this,new Array(),new Array('apmaterno','idloginExterno','nombrecentrocosto')) && validarRutEmpresa();"/>Guardar</button>	
								</div>
							</div>
						</div>   
					  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
					<form name="formulario2" id="formulario2" action="accesoxusuario.php" method="POST">
						<input type="hidden" name="newusuarioid" 	value="<php:item id="newusuarioid" />" >		
						<input type="hidden" name="nombre"    		value="<php:item id="nombre" />" >
						<input type="hidden" name="nropaginaini"    value="<php:texto id="pagina" />" >
					  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
					</php:repeticion>
					<!--SOLO SMU LO USA Modal de Centros de Costo
					<div class="modal fade" id="modal_centro_costo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog" >
							<div class="modal-content">
								<div class="modal-header" align="center">
									<h4 class="modal-title" id="ejemplo-titulo"> Divisi&oacute;n personal </h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true" class="cerrar_modal">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div id="mensajeError_modal"></div>
									<table id="tabla_centro_costo" class="table table-bordered table-hover" style="text-align: center">
										<thead >
											<tr>
												<th  style="text-align: center" >C&oacute;digo</th>
												<th  style="text-align: center" >Nombre</th>
												<th  style="text-align: center" >Selecci&oacute;n</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<div class="modal-footer" style="margin-top:10px;">
									<button type="button" class="btn btn-secondary btn-md" id="cerrar_centro_costo" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>-->
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
	<!-- /.col -->
</div>