<style>
	.btn-info:hover .fa-eye-slash {
		color: #000; 
	}
	</style>
	<div class="row">
		<div class="col-md-12">
		  <div class="box">
			<div class="box-body pad table-responsive">
			<!--Botones de cabecera-->
			  <div class="box-header">
				<a class="btn btn-default btn_letra_azul" href="usuariosmant.php"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver</a>
			  </div>
			<!-- /.box-header -->
			<div class="box-body" style="padding: 30px;">
			   <!--Mensajes-->
			  <div id="mensajeError"><php:texto id="mensajeError" /></div>
			  <div id="mensajeOK"><php:texto id="mensajeOK" /></div>	
			  <form name="formulario" class="formularioCambiarClave" id="formulario"  class="form-horizontal" action="usuariosmant.php" method="POST" autocomplete="off">
				  <php:repeticion id="formulario">
				  		<div class="row">
							<div class="col-md-7">
								<div class="form-group">	
									<label for="tipousuarioid"  class="col-sm-3 control-label " ><strong>Rut</strong></label>								
									<input type="contenedor" class="form-control" id="newusuarioid"  name="newusuarioid" placeholder="" maxlength="11" value="<php:item id="newusuarioid" />" disabled >
									<input type="hidden" name="newusuarioid" value="<php:item id="newusuarioid" />" />
								</div>
							</div>
							<div class="col-md-5">
								<label for="claverep"  class="control-label " style="margin: 2px;"><strong>La contrase&ntilde;a debe contener al menos:</strong></label>				
								<br>
								<p id="caracterPass" class="callout callout-danger" style="padding: 7px;margin: 2px;"><php:texto id='largoClaveMin'/> c&aacute;racteres</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
									<label for="clavenew"><strong>Contrase&ntilde;a Nueva</strong></label>	
									<div class="input-group ">										
										<input type="password" class="form-control" name="clave" style="border-right:0" id="clave" size="<php:texto id="largoClaveMax" />" minlength="<php:texto id="largoClaveMin" />" maxlength="<php:texto id="largoClaveMax" />" value="<php:item id="clavenew" />" autocomplete="off" />
											<span class="input-group-btn">
												<button type="button" class="form-control" id="show_password_" style="background: #fff;border-left:0" onclick="showPassword(this)"><i class="fa fa-eye-slash icon_" style="color:#888" aria-hidden="true"></i>
											</span>
										</button>
									</div>		
								</div>
							</div>
							<div class="col-md-5">
								<div id="numeroPass" class="callout callout-danger" style="padding: 7px;margin: 2px;"><php:texto id='minNumber'/> c&aacute;racter num&eacute;rico</div>
								<div id="mayusculaPass" class="callout callout-danger" style="padding: 7px;margin: 2px;"><php:texto id='minMayus'/> letra may&uacute;scula</div>
							</div>
						</div>	
							
						<div class="row d-flex justify-content-end">
							<div class="col-md-5">							 
							  <div id ="minusculaPass" class="callout callout-danger" style="padding: 7px;margin: 2px;"><php:texto id='minMinus'/> letra min&uacute;scula</div>	
							  <div id ="especialPass" class="callout callout-danger" style="padding: 7px;margin: 2px;"><php:texto id='minCaracterEspecial'/> c&aacute;racter especial</div>	
							</div>
						</div>

							<input type="hidden" name="minMayus" id="minMayus"  value="<php:texto id='minMayus'/>">
							<input type="hidden" name="minMinus" id="minMinus"  value="<php:texto id='minMinus'/>">
							<input type="hidden" name="minNumber" id="minNumber"  value="<php:texto id='minNumber'/>">
	
							<input type="hidden" name="largoClaveMax" id="largoClaveMax"  value="<php:texto id='largoClaveMax'/>">
							<input type="hidden" name="largoClaveMin" id="largoClaveMin"  value="<php:texto id='largoClaveMin'/>">
							<input type="hidden" name="minCaracterEspecial" id="minCaracterEspecial"  value="<php:texto id='minCaracterEspecial'/>">
							<input type="hidden" name="Robustes" id="Robustes"  value="<php:texto id='Robustes'/>">
							 							  
				  </php:repeticion> 
				  <div class="row d-flex justify-content-end">  
					  <div class="col-md-2 xs-12 d-grid gap-2 ">            
						 <input type="hidden" name="accion" value="CAMBIAR CLAVE" />
						 <button class="btn btn-md btn-primary btn-block" type="submit" style="margin-top: 10px" name="accion2" value="MODIFICAR" onclick="javascript:return validarFormulario(this);"/>Guardar</button>
					  </div>
				  </div>     
			    <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
			 </div>
			</div>
		  <!-- /.box -->
		  </div>
		</div>
		<!-- /.col -->
	</div>