<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<style type="text/css">
.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
 padding-bottom: 50.2%;
  margin-bottom: 20px;
}
.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body pad table-responsive">
        <php:repeticion id="formulario">
         <div class="box-header">
          <form role="form" name="formulario2" id="formulario2" action="Documentos_Firmas.php" method="POST">
    				<input type="hidden" name="idDocumento" value="<php:item id="idDocumento" />" />
    				<button type="button" class="btn btn-default" onclick="history.back(-1)"><a><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a></button>
    			  <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form>
        </div>
      
          <div class="box-body">
            
            <!--Mensajes-->
            <div id="mensajeOK"><php:texto id="mensajeOK" /></div>
            <div id="mensajeError"><php:texto id="mensajeError" /></div>
        
            <!--Datos referenciales-->
            <div class="row">
            
              <form role="form" name="formulario" id="formulario" action="Documentos_Firmas.php" method="POST">

                <div class="row">  			
                	<div class="col-md-12 col-xs-12">
                    <label for="">Rut de usuario</label>
                    <input type="text"  class="form-control" name="inVerifyDocPersonalNumber" id="inVerifyDocPersonalNumber" placeholder="Rut" />
                	</div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <!--Tipo de Firma-->
                       <label for="">Tipo de firma</label>
                        <select class= "form-control" name="idFirma" id="inVerifyType" >
                          <option value="0">(Seleccionar)</option>
                          <php:repeticion id="TipoFirmas">     
                            <option value="<php:item id="idFirma" />" <php:funcion id="ContenedorUtilidades::evaluarSeleccion"><php:argumento id="idFirma" /><php:argumento idvalor="idFirma" /></php:funcion>><php:item id="Descripcion" /></option>
                          </php:repeticion>
                        </select>                     
                      
                  </div>
                </div>
                <br>

                <div class="row d-flex justify-content-end">  
                  <div class="col-md-2 xs-12 d-grid gap-2 ">  
                     <button class="btn btn-md btn-primary btn-block " onclick="verificar_VerificacionId()" type="button" name="accion" id="btn-verify" value="Verificar" />Verificar</button>
                  </div>
                </div>
                
                <input type="hidden" name="id"            id="id"           />   
                <input type="hidden" name="type"          id="type"         /> 
                <input type="hidden" name="subtype"       id="subtype"      /> 
                <input type="hidden" name="authenticated" id="authenticated"/> 
                <input type="hidden" name="sign"          id="sign"         /> 
                <input type="hidden" name="sessionid"        id="sessionid" /> 
          			
		           
                <input type="hidden" name="_csrf_token" id="_csrf_token"  value="<php:texto id='antiCSRF_token'/>">
                    </form> 

            </div>
          </div>
        </php:repeticion>
      </div>
    </div>
  </div>
</div>
</section>

